<ion-row class="month-style">
  <ul class="months">
    <li class="lastMonth" *ngIf="isMonthView" (click)="goToLastMonth();">
      <span class="lastMonthSpan">{{ lastMonth }}</span>
    </li>
    <li [ngClass]="getCurrentView()" class="currentMonth" (click)="toggleAgendaView()">
      <span class="currentMonthSpan">{{ currentMonth }}</span>
      <ion-icon *ngIf="!isMonthView" name="ios-arrow-down-outline" class="show-calendar"></ion-icon>
      <ion-icon *ngIf="isMonthView" name="ios-arrow-up-outline" class="show-calendar"></ion-icon>
    </li>
    <li class="nextMonth" *ngIf="isMonthView" (click)="goToNextMonth();">
      <span class="nextMonthSpan">{{ nextMonth }}</span>
    </li>
  </ul>
</ion-row>
<div class="week-view">
  <ion-row *ngIf="!isMonthView" (swipe)="swipeEvent($event)">
    <ion-col *ngFor="let item of dateList; let i = index" [ngClass]="isSelected(item)"
      (click)="loadSelectedDate(item.day, i, true)">
      <h4 text-center>{{ item.day.format('ddd') }}</h4>
      <p text-center>{{ item.day.format('DD') }}</p>
    </ion-col>
  </ion-row>
</div>

<ion-row class="calendar-style" *ngIf="isMonthView">
  <ion-card>
    <calendar [eventSource]="eventSource" formatDayHeader="E" [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)" step="30">
    </calendar>
  </ion-card>
</ion-row>

<ion-row>
  <ion-item class="hideVisitCancel" [ngClass]="!isMonthView?'hideVisitCancelFull':''">
    <ion-label>Ocultar visitas 'CANCELADAS'</ion-label>
    <ion-toggle mode="md" [(ngModel)]="hideVisitsCanceled" (ionChange)="hideCanceled($event)"></ion-toggle>
  </ion-item>
</ion-row>

<ion-row style="height: 100% !important;" *ngIf="!hideSchedule">
  <agenda-schedule></agenda-schedule>
</ion-row>
<!-- <p class="current-day" *ngIf="hideSchedule">{{ current.format('dddd[,] DD[ de ]MMMM[ de ]YYYY') }}</p>
<calendar [allDayLabel]="allDayLabel" [eventSource]="eventSource" [calendarMode]="calendarDay" [currentDate]="calendar.currentDate"
  [dayviewAllDayEventTemplate]="template" [dayviewNormalEventTemplate]="template" (onEventSelected)="onEventSelected($event)"
  (onTimeSelected)="onTimeSelected($event)" (onCurrentDateChanged)="onCurrentDateChanged($event)" step="30" class="calendar"
  *ngIf="hideSchedule"></calendar>

<template #template let-displayEvent="displayEvent">
  <div class="calendar-event-inner">
    <div class="event event-box-{{displayEvent.event['cssSuffix']}}">
      <div>
        <ion-label class="visit-status-{{displayEvent.event['cssSuffix']}}">{{ displayEvent.event.outlook ? 'Outlook' : displayEvent.event.status}}</ion-label>
        <ion-label class="visit-type-{{displayEvent.event['cssSuffix']}}">{{displayEvent.event.type}}</ion-label>
        <ion-label class="farm-name-{{displayEvent.event['cssSuffix']}}">{{displayEvent.event.farm}}</ion-label>
      </div>
      <ion-icon name="ai-arrow-right" class="arrow-right" *ngIf="!displayEvent.event.outlook"></ion-icon>
      <ion-icon name="ai-arrow-right" class="arrow-outlook" *ngIf="displayEvent.event.outlook"></ion-icon>
    </div>
  </div>
</template> -->