agenda {

    * {
        font-family: "Roboto-Regular";
    }
    
    .card {
        width: calc(100% - 32px) !important;
        margin: 10px 16px 40px 16px !important;
    }
    agenda-schedule {
        width: 100%;
        height: 100%;
        padding-top: 0 !important;

        ion-card {
            background: transparent !important;
        }
    }
    ul {
        position: relative;
        padding: 0;
        width: 100%;
        li {
            display: inline-block;
            list-style-type: none;
        }
    }
    .lastMonthSpan {
        margin-left: -15%;
    }
    .nextMonthSpan {
        margin-left: 55%;
    }
    .lastMonthSpan,
    .nextMonthSpan {
        color: #424b4b !important;
        white-space: nowrap;
    }
    .currentMonthSpan {
        color: #006633 !important;
    }
    .lastMonth {
        opacity: 0.5;
        font-family: "Roboto-Bold";
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #424b4b !important;
        width: 30%;
    }
    .currentMonth {
        text-align: center;
        font-family: "Roboto-Bold";
        margin: 0 auto;
        width: 40%;
        display: flex;
        flex-direction: column;
        .show-calendar {
            font-size: 26px;
            color: #006633 !important;
        }
    }
    .nextMonth {
        opacity: 0.5;
        font-family: "Roboto-Bold";
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #424b4b !important;
        text-align: right;
        width: 30%;
    }
    .month-style {
        padding: 0;
        height: 72px;
        .months {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .month-style ul li span {
        font-family: "Roboto-Bold";
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
    }
    .week-view {
        display: flex;
        align-content: center;
        background-color: white;
        ion-row {
            padding: 15px 0;
            width: 100%;
            ion-col {
                height: 60px !important;
                width: 64px !important;
            }
            .selected {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 9.5vh !important;
                max-width: 9.5vh;
                min-width: 9.5vh;
                background-color: #006633;
                border-radius: 50%;
                opacity: 1 !important;
                p {
                    font-size: 24px !important;
                    // margin-top: 7px !important;
                    color: white !important;
                    opacity: 1 !important;
                    margin: 0 !important;
                }
                h4 {
                    color: white !important;
                    opacity: 1 !important;
                    margin: 0 !important;
                }
            }
            ion-col h4 {
                font-family: "Roboto-Bold";
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                margin-top: 1.1rem !important;
                margin-bottom: -1rem !important;
                text-transform: uppercase;
            }
            ion-col p {
                font-family: "Roboto-Medium";
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                opacity: 0.75;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                margin-top: 15px;
            }
        }
    }
    .week-view ion-row ion-col:nth-child(even) {
        color: #424b4b;
        opacity: 0.75;
    }
    .week-view ion-row ion-col:nth-child(odd) {
        color: #424b4b;
        opacity: 0.5;
    }
    .week-view ion-row ion-col:nth-child(1),
    .week-view ion-row ion-col:nth-child(7) {
        color: #424b4b;
        opacity: 0.25;
    }
    .monthview-container {
        td {
            border: none !important;
        }
        .calendar-style {
            padding: 16px !important;
            padding-top: 0 !important;
            ion-card {
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
            }
        }
        th {
            border-bottom-width: 1px !important;
            color: #006633 !important;
        }
        .table-bordered {
            border: 0 !important;
            table-layout: auto !important;
        }
        .table[_ngcontent-c1]>thead[_ngcontent-c1]:first-child>tr[_ngcontent-c1]:first-child>th[_ngcontent-c1],
        .table[_ngcontent-c1]>thead[_ngcontent-c1]:first-child>tr[_ngcontent-c1]:first-child>td[_ngcontent-c1] {
            border: 0;
            border-bottom: 1px solid #e6eeee
        }
        .tr {
            font-family: "Roboto-Bold";
            font-size: 12px;
            font-weight: bold;
            line-height: 2.67;
            text-align: center;
            color: #006633 !important;
        }
        td {
            border-radius: 50%;
            vertical-align: middle !important;
            line-height: 8vw !important;
        }
        th {
            width: 13vw !important;
            height: 13vw !important;
            display: contents !important;
        }
        tbody tr td,
        thead tr th {
            width: 8vw !important;
            height: 8vw !important;
            display: inline-table !important;
            margin: 2%;
        }
        thead tr {
            border-bottom: 1px solid #e6eeee;
        }
        thead tr th {
            border: none !important;
            margin-bottom: 0;
        }
    }
    .monthview-primary-with-event {
        background-color: color($colors, gray-page) !important;
        color: white !important;
    }
    .monthview-selected {
        background-color: color($colors, primary) !important;
        color: white !important;
    }
    .dayview-container {
        margin: 0 16px;
        .table-bordered>tbody>tr>td {
            border: 0;
            margin: 0 16px;
        }
        .table-bordered {
            border: 0;
        }
        .calendar-hour-column {
            color: #97a4a4;
        }
        .calendar-cell {
            border-bottom: 1px solid #e6eeee !important;
        }
        .calendar-event-inner {
            border-radius: 3px;
            background-color: #ffffff;
            font-family: "Roboto-Medium";
            font-size: 12px;
            font-weight: 500;
            line-height: 1.33;
            color: #424b4b;
            text-align: left;
        }
    }
    .current-day {
        color: color($colors, gray-ambient);
        font-family: "Roboto-Bold";
        font-size: 12px;
        font-weight: bold;
        line-height: 1.33;
        margin: 22px 0 16px 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
    .event {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .arrow-outlook {
            color: color($colors, white);
            padding-right: 15px;
        }
        .arrow-outlook::before {
            font-size: 0.8em;
        }
        .arrow-right {
            color: color($colors, gray-page);
            padding-right: 15px;
        }
        .arrow-right::before {
            font-size: 0.8em;
        }
        div {
            display: flex;
            flex-direction: column;
        }
    }
    .event-box {
        opacity: 0.8;
        border-radius: 3px;
        background-color: color($colors, gray-light);
        border-left: 8px solid color($colors, feedback-negative);
    }
    .event-box-next-event {
        @extend .event-box;
        background-color: color($colors, gray-light);
        border-color: color($colors, gray-ambient);
    }
    .event-box-to-start {
        @extend .event-box;
        background-color: color($colors, gray-light);
        border-color: color($colors, gray-ambient);
    }
    .event-box-in-progress {
        @extend .event-box;
        background-color: color($colors, gray-light);
        border-color: color($colors, event-in-progress);
    }
    .event-box-executed {
        @extend .event-box;
        background-color: color($colors, gray-light);
        border-color: color($colors, primary);
    }
    .event-box-canceled {
        @extend .event-box;
        background-color: color($colors, gray-light);
        border-color: color($colors, feedback-negative);
    }
    .event-box-outlook {
        @extend .event-box;
        background-color: color($colors, outlook-event-background);
        border-color: color($colors, outlook-event-bar);
    }
    .visit-status {
        font-family: "Roboto-Bold";
        font-size: 10px;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        color: color($colors, feedback-negative);
        margin-bottom: 4px !important;
        margin-left: 8px;
        margin-top: 8px;
    }
    .visit-status-next-event {
        @extend .visit-status;
        color: color($colors, gray-ambient);
    }
    .visit-status-to-start {
        @extend .visit-status;
        color: color($colors, gray-ambient);
    }
    .visit-status-in-progress {
        @extend .visit-status;
        color: color($colors, event-in-progress);
    }
    .visit-status-executed {
        @extend .visit-status;
        color: color($colors, primary);
    }
    .visit-status-canceled {
        @extend .visit-status;
        color: color($colors, feedback-negative);
    }
    .visit-status-outlook {
        @extend .visit-status;
        color: color($colors, white);
    }
    .visit-type {
        font-family: "Roboto-Medium";
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        text-align: left;
        color: color($colors, gray-ambient);
        margin-left: 8px;
    }
    .visit-type-next-event {
        @extend .visit-type;
        color: color($colors, gray-ambient);
    }
    .visit-type-to-start {
        @extend .visit-type;
        color: color($colors, gray-ambient);
    }
    .visit-type-in-progress {
        @extend .visit-type;
        color: color($colors, gray-ambient);
    }
    .visit-type-executed {
        @extend .visit-type;
        color: color($colors, gray-ambient);
    }
    .visit-type-canceled {
        @extend .visit-type;
        color: color($colors, gray-ambient);
    }
    .visit-type-outlook {
        @extend .visit-type;
        color: color($colors, white);
    }


    .hideVisitCancel{
        padding: 0px 10% 0px 10%;
        background: #fff;
        height: 35px;
        line-height: 35px;
        min-height: 35px;
        width: 92%;
        margin-left: 4%;
        border-radius: 5px;
        margin-top: 10px;
        -webkit-box-shadow: 0px 7px 7px -8px rgba(0,0,0,0.14);
        -moz-box-shadow: 0px 7px 7px -8px rgba(0,0,0,0.14);
        box-shadow: 0px 7px 7px -8px rgba(0,0,0,0.14);
        .item-inner{
            border: none !important;
            line-height: 35px;
            min-height: 35px;
            text-transform: uppercase;
        }
        ion-label{
            font-family: "Roboto-Bold";
            font-size: 12px;
            font-weight: bold;
        }
    }

    .hideVisitCancelFull{
        width: 100% !important; 
        margin-left: 0% !important;
    }
}