<ion-card>
  <ion-card-content>
    <div class="welcome" *ngIf="currentUser">
      Olá, {{currentUser}}
    </div>
    <div class="now">
      {{currentDateMessage}}
    </div>
    <div class="sync">
      Última sincronização feita em <b>{{lastSynchronismDateMessage}}</b>
      <br>
      Duração: <b>{{timeToLastSync}}</b>
    </div>
  </ion-card-content>
</ion-card>
