welcome-card {
    .card {
        margin: 0 !important;
    }
    .welcome {
        font-family: "Roboto-Medium";
        color: color($colors, primary);
        font-size: 16px;
        font-weight: 500;
        line-height: 2.0;
    }
    .now {
        font-family: "Roboto-Regular";
        font-size: 12px;
        line-height: 1.33;
        text-align: left;
        color: color($colors, gray-ambient);
        border-bottom: solid 1px color($colors, gray-light);
        padding-bottom: 7px;
    }
    .sync {
        margin: 7px 0;
        font-family: "Roboto-Regular";
        font-size: 10px;
        line-height: 2.4;
        text-align: left;
        color: color($colors, gray-ambient);
    }
}
