<div class="create">
  <button (click)="addContact()">ADICIONAR CONTATO</button>
</div>

<ion-item tappable (click)="openContactsDetail(item)" *ngFor="let item of contacts">
  <div class="clients-label">{{item.FirstName}} {{item.LastName}}</div>
  <img src="./assets/icon/arrow@3x.png" class="arrow-2">
</ion-item>
<!--
<ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>-->
