progress-bar {
    .progress-outer {
        background-color: #f4f4f4;
        border-radius: 20px;
    }
    .progress-inner {
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, secondary-strong-olive);
    }
    .complete {
        background-color: map-get($colors, primary);
    }
    .progress-inner-error {
        @extend .progress-inner;
        background-color: map-get($colors, feedback-negative);
    }
}