<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"></header>

  <ion-toolbar no-border-top class="toolbar-transparent">
    <ion-searchbar #searchbar placeholder="Buscar por status, local, assunto" [(ngModel)]="searchTerm" [formControl]="searchControl"
      class="searchbar-no-margin-top"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="searching" text-center>
    <br><ion-spinner></ion-spinner>
  </div>

  <div class="events-card">
    <ion-list padding>
      <label class="days not-events" *ngIf="!searching && notFound">
        Não foi encontrado nenhum evento
      </label>
      <div *ngFor="let item of list; let i = index">
        <ion-grid>
          <ion-row tappable (click)="openEvent(i)">
            <ion-col col-2>
              <ion-label class="hours" [innerHtml]="item.StartDateTimeToShow"></ion-label>
              <ion-label class="dots-space"></ion-label>
              <ion-label class="hours" [innerHtml]="item.EndDateTimeToShow"></ion-label>
            </ion-col>
            <ion-col col-1></ion-col>
            <ion-col col-9 class="event event-box-{{item.cssSuffix}}">
              <div class="visit-content">
                <ion-label class="visit-status-{{item.cssSuffix}} margin-label">{{ item.IsOutlook__c ? 'Outlook' : item.Status__c }}</ion-label>
                <ion-label class="character-limit visit-type-{{item.cssSuffix}} margin-label" *ngIf="item.BR_Tipo_de_Visita__c">{{ item.BR_Tipo_de_Visita__c }}</ion-label>
                <ion-label class="character-limit farm-name-{{item.cssSuffix}} margin-label" *ngIf="!item.Subject">{{item.Location}}</ion-label>
                <ion-label class="character-limit farm-name-{{item.cssSuffix}} margin-label" *ngIf="item.Subject">{{item.Subject}}</ion-label>
              </div>
              <ion-icon name="ai-arrow-right" class="arrow-right" *ngIf="!item.IsOutlook__c"></ion-icon>
              <ion-icon name="ai-arrow-right" class="arrow-right-outlook" *ngIf="item.IsOutlook__c"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
  </div>

</ion-content>
