<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"></header>
</ion-header>

<ion-content padding class="container">
  <ion-card>
    <ion-item class="status-visit status-outlook" text-center>Outlook</ion-item>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label floating>Assunto</ion-label>
          <ion-textarea [auto-resize-textarea]="120" rows="1" maxlength="240" type="text" [(ngModel)]="subject" [disabled]="true"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label floating>Observação</ion-label>
          <ion-textarea [auto-resize-textarea]="120" rows="1" maxlength="240" type="text" [(ngModel)]="description" [disabled]="true"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label floating>Localização</ion-label>
          <ion-textarea [auto-resize-textarea]="120" rows="1" maxlength="240" type="text" [(ngModel)]="location" [disabled]="true"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header tappable (click)="showEventDurationButton()">
      <div class="flex" clear>
        <label>Duração</label>
        <ion-icon *ngIf="!showEventDuration" name="ios-arrow-down-outline" class="arrow-header-icon"></ion-icon>
        <ion-icon *ngIf="showEventDuration" name="ios-arrow-up-outline" class="arrow-header-icon"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content class="line" *ngIf="showEventDuration">
      <ion-list>

        <ion-item>
          <ion-label>O dia todo</ion-label>
          <ion-toggle mode="md" [(ngModel)]="isAllDay" disabled></ion-toggle>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="datetime-floating">
                <ion-label floating>Início</ion-label>
                <ion-datetime [(ngModel)]="StartDateTime" disabled [min]="year" pickerFormat="DD MM YYYY" displayFormat="DD/MM/YY"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="datetime-floating">
                <ion-label floating>&nbsp;</ion-label>
                <ion-datetime [(ngModel)]="StartDateTime" disabled [min]="year" pickerFormat="HH:mm" displayFormat="HH:mm" text-right></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="datetime-floating">
                <ion-label floating>Fim</ion-label>
                <ion-datetime [(ngModel)]="EndDateTime" disabled [min]="year" pickerFormat="DD MM YYYY" displayFormat="DD/MM/YY"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="datetime-floating">
                <ion-label floating>&nbsp;</ion-label>
                <ion-datetime [(ngModel)]="EndDateTime" disabled [min]="year" pickerFormat="HH:mm" displayFormat="HH:mm" text-right></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-content>
      <ion-list>
        <ion-item class="select-floating" [class.edit-border]="checkConditionEdit('duration')">
          <ion-label floating>Lembrete</ion-label>
          <ion-textarea [auto-resize-textarea]="120" rows="1" maxlength="240" type="text" [(ngModel)]="lembrete" [disabled]="true"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>

</ion-content>
