page-outlook {
  .text-input[disabled] {
    opacity: 1 !important;
  }
  .header-outlook {
    background-color: #6699cc;
    height: 32px !important;
    ion-label {
      color: #ffffff !important;
    }
  }
  .arrow-header-icon {
    color: color($colors, gray-page);
    margin-top: 4px !important;
    font-size: 24px;
    float: right;
  }
  .item-block {
    min-height: auto !important;
  }
  ion-item.select-floating,
  ion-item.datetime-floating,
  ion-item.input-floating {
    margin-top: 6px !important;
    margin-bottom: 22px !important;
  }
}
