<ion-content class="modal" padding>
  <ion-card>
    <ion-card-header class="modal-header">
      <ion-item class="filter-header" text-center>
        <ion-icon class="close" name="close" (click)="closeModal()" item-left></ion-icon>
        <ion-label class="title">{{ title }}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="search" *ngIf="namePageGet != 'ClientsListPage'">
        <ion-label floating>Pesquisar</ion-label>
        <ion-input type="text" [(ngModel)]="currentSearch" (keyup)="tick()" (input)="searchSQL()"></ion-input>
        <ion-icon class="search-icon" name="search" item-right></ion-icon>
      </ion-item>
      <ion-list class="modal-filters height-list-mult" *ngIf="list && list.length > 0">
        <div *ngFor="let item of list | orderBy: order | searchProductUsed:currentSearch; let i = index;">
          <ion-item class="input-style" >
            <ion-label [ngClass]="!item.checked && selected && selected.length>=limit?'labelHideSel':'labelShowSel'" class="text-ellipsis">{{ item.label }}</ion-label>
            <ion-checkbox item-end class="card-input character-limit" [(ngModel)]="item.checked" (ionChange)="limitCtrl(item)"
            [ngClass]="!item.checked && selected && selected.length>=limit?'hideSel':'showSel'"></ion-checkbox>
            <!-- <ion-checkbox item-end class="card-input character-limit" [(ngModel)]="item.checked" (ionChange)="limitCtrl(item)"
            [disabled]="!item.checked && selected && selected.length>=limit"></ion-checkbox> -->
          </ion-item>
        </div>

        <div *ngFor="let itemOne of listOne; let i = index;">
          <ion-item class="input-style" *ngIf="namePageGet == 'ClientsListPage'" >
            <ion-label class="text-ellipsis">{{itemOne.name}}</ion-label>
            <ion-checkbox item-end class="card-input character-limit" [(ngModel)]="itemOne.checked" [checked]="itemOne.checked" (ionChange)="limitCtrlOneByOne(itemOne.name,itemOne.checked)"
            ></ion-checkbox>
          </ion-item>
        </div>

      </ion-list>
      <div class="apply-content">
        <button class="clear-btn" (click)="clear()">Limpar</button>
        <button class="add-btn" (click)="registerItems()">Adicionar</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
