<ion-header>
    <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"></header>
</ion-header>

<ion-content padding class="container">
    <p class="visitEditTxt">{{ editTxt }}</p>
    <ion-card>
        <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>{{ visit.Status__c }}</ion-item>

        <ion-card-header tappable (tap)="showHybrids = !showHybrids">
            <div class="flex" clear>
                Híbrido de visitas
                <ion-icon *ngIf="!showHybrids" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
                <ion-icon *ngIf="showHybrids" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content class="content-border-bottom" *ngIf="showHybrids">
          <ion-list>
            <div *ngFor="let hybrid of visit.Hibrido_de_Visita__c; let i = index;">
              <ion-item class="hybrid-label">
                <ion-label tappable (click)="openCornHarvestingModal(i)">{{hybrid.BR_HybridName__c}}</ion-label>
                <button ion-button icon-only item-end clear class="remove-item" (click)="!isReadOnly && removeHybrid(i)" *ngIf="!isReadOnly">
                  <ion-icon name="close"></ion-icon>
                </button>
              </ion-item>
            </div>
          </ion-list>

          <button ion-button class="button-card hybrid" outline (click)="openCornHarvestingModal(null)" [disabled]="isReadOnly">Adicionar Híbrido</button>
        </ion-card-content>

        <div class="geolocation">
            <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event);"></geolocation>
        </div>

        <ion-card-content class="container-obs">
            <ion-item class="input-style">
                <ion-label floating>Observações</ion-label>
                <ion-textarea [auto-resize-textarea]="120" rows="1" class="card-input" maxlength="240" type="text" [(ngModel)]="visit.Observacao__c" [disabled]="isReadOnly"></ion-textarea>
            </ion-item>

            <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
        </ion-card-content>

    </ion-card>

    <div class="container-footer" *ngIf="!isReadOnly">
        <button ion-button class="btn-footer" outline tappable (click)="cancelVisit()" [disabled]="isReadOnly">CANCELAR</button>
        <button *ngIf="!editStatus" ion-button class="btn-footer right" tappable (click)="completeVisit()" [disabled]="isReadOnly">CONCLUIR</button>
        <button *ngIf="editStatus" ion-button class="btn-footer right" tappable (click)="completeVisit()" [disabled]="isReadOnly">EDITAR</button>
        
    </div>

</ion-content>
