<ion-tabs id="tabs">
  <ion-tab tabIcon="ai-home" tabTitle="HOME" [root]="home"></ion-tab>
  <ion-tab tabIcon="ai-agenda" tabTitle="AGENDA" [root]="agenda"></ion-tab>
  <ion-tab tabIcon="ai-clients" tabTitle="CLIENTES" [root]="clients"></ion-tab>
  <ion-tab tabIcon="ai-notifications" tabTitle="NOTIFICAÇÃO" [root]="notifications" [tabBadge]="numBadges" tabBadgeStyle="danger"></ion-tab>
  <ion-tab tabIcon="ai-settings" tabTitle="AJUSTES" [root]="settings"></ion-tab>
</ion-tabs>
