tabs {
    .tabbar {
        height: 64px;
        box-shadow: 0px -10px 20px 10px rgba(104, 104, 104, 0.4);
        .tab-button {
            border-right: 1px solid rgba(151, 164, 164, 0.20);
            color: rgba(151, 164, 164, 0.6) !important;
            height: 100%;
            font-family: "Roboto-Medium";
            font-size: 8px;
            font-weight: 500;
            line-height: 1.7;
            .tab-button-icon {
                color: rgba(151, 164, 164, 0.6) !important;
                margin-top: 12px !important;
            }
        }
        .tab-button[aria-selected=true] {
            border-bottom: 4px solid color($colors, primary);
            color: color($colors, gray-ambient) !important;
            .tab-button-icon {
                color: color($colors, gray-ambient) !important;
            }
        }
    }
}
