<div class="big-button big-button-margin" *ngIf="showCreateVisit">
    <button (click)="createEvent()">CRIAR VISITA</button>
</div>

<div>
    <ion-searchbar name='search' type='search' *ngIf="showSearch" (ionInput)="getItems($event)" (ionCancel)="onCancel($event)" [showCancelButton]="true"
        (ionClear)="onClear($event)" [placeholder]="'Digite 3 letras ou mais'" [autocomplete]="'on'" [autocorrect]="'on'" [cancelButtonText]="'Cancelar'">
    </ion-searchbar>
</div>
<div *ngIf='(eventDates)?.length === 0'>Nenhuma visita localizada</div>

<div class="card-margin" *ngFor="let eventDate of eventDates; let i = index;">
    <ion-card>
        <ion-card-header class="flex-space-between">
            <div class="flex" (click)="changeShowEventsDataButton(i)" clear>
                <label class="list-header-label">{{monthNameByDate(eventDate.date)}} {{eventDate.date | date: "yyyy"}}</label>
                <ion-icon *ngIf="!eventDate.showContent" name="ios-arrow-down-outline" class="right"></ion-icon>
                <ion-icon *ngIf="eventDate.showContent" name="ios-arrow-up-outline" class="right"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content *ngIf="eventDate.showContent">

            <ion-list>
                <div class="flex-box-div line" *ngFor="let event of eventDate.events" (click)="openEventDetail(event)">
                    <div class="first">
                        <label class="item-list-date">{{event.StartDateTime | date: "dd/MM"}}</label>
                    </div>
                    <div class="second">
                        <label class="item-list-label">{{event.BR_Tipo_de_Visita__c}} - {{event.Location}} - Status: {{event.Status__c}}</label>
                    </div>
                    <div class="third">
                        <ion-icon name="ai-arrow-right" class="arrow-right"></ion-icon>
                    </div>
                </div>

            </ion-list>
        </ion-card-content>
    </ion-card>
</div>
