client-visits {
    .searchbar-ios {
        padding: 30px 8px 20px 8px !important;
    }
    .searchbar-ios .searchbar-input {
        color: #97a4a4 !important;
        border-bottom: 1px solid #97a4a4 !important;
    }
    button.searchbar-clear-icon.disable-hover.button.button-ios.button-clear.button-clear-ios {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='%2397a4a4'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>") !important;
    }
    .searchbar-ios .searchbar-search-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='%2397a4a4'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='%2397a4a4'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>");
    }
    .big-button button {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .card-margin {
        margin-bottom: 16px;
    }
    .big-button-margin {
        margin-top: 24px;
    }
    .item-list-date {
        font-family: "Roboto-Medium";
        font-size: 10px;
        color: #97a4a4;
    }
    .ion-item-width {
        width: 100%;
        background-color: gray;
    }
    .item-list-label {
        font-family: "Roboto-Regular";
        font-size: 12px;
        color: #424b4b;
    }
    .list-header-label {
        font-family: "Roboto-Medium";
        font-size: 11px;
        color: #424b4b;
    }
    .align-horizontal-center {
        text-align: center;
    }
    .flex-box-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .first {
        width: 12%;
    }
    .second {
        width: 73%;
        word-wrap: break-word;
    }
    .third {
        width: 5%;
    }
    .line {
        padding-top: 5%;
        padding-bottom: 5%;
        border-bottom: 1px solid color($colors, gray-light);
    }
}
