<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false" [hiddenAgenda]="true"></header>
</ion-header>

<ion-content padding>
  <p class="visitEditTxt">{{ editTxt }}</p>
  <ion-card>
    <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>{{ visit.Status__c }}</ion-item>

    <ion-card-header class="flex-space-between">
      <div class="flex" (click)="showHybridData = !showHybridData" clear>
        <label>Híbrido de visitas</label>
        <ion-icon *ngIf="!showHybridData" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showHybridData" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content class="content-border-bottom" *ngIf="showHybridData">
      <ion-list>
        <div *ngFor="let hybrid of visit.Hibrido_de_Visita__c; let i = index;">
          <ion-item class="hybrid-label">
            <ion-input type="text" [(ngModel)]="hybrid.BR_HybridName__c" [disabled]="true"></ion-input>
            <button ion-button icon-only item-end clear class="remove-item" (click)="removeHybrid(i)" [disabled]="isReadOnly" *ngIf="!visit.GerDemandaId__c && !isReadOnly">
                <ion-icon name="close"></ion-icon>
              </button>
          </ion-item>
          <ion-item class="praga-label">
            <ion-label>Adicionar Praga</ion-label>
          </ion-item>
          <ion-buttons>
            <div *ngFor="let j of [0,1,2]">
              <button (click)="openPlagueModal(i, j)" class="button-empty" *ngIf="!hybrid.Plagues[j]" [disabled]="isReadOnly">+</button>
              <button (click)="removePlague(i, j)" class="remove-item button-filled" *ngIf="hybrid.Plagues[j]" [disabled]="isReadOnly">
                  <ion-icon class="icon-remove" name="md-close" item-start *ngIf="!isReadOnly"></ion-icon>
                  {{ hybrid.Plagues[j].Qual__c }}
                </button>
            </div>
          </ion-buttons>
        </div>
      </ion-list>
      <button ion-button class="button-card hybrid" [disabled]="isReadOnly || visit.GerDemandaId__c"
        outline (click)="openHybridModal()">Adicionar Híbrido</button>

    </ion-card-content>

    <ion-card-header class="flex-space-between">
      <div class="flex" (click)="showInformationData = !showInformationData" clear>
        <label>Informações da visita</label>
        <ion-icon *ngIf="!showInformationData" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showInformationData" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="showInformationData">
      <ion-list>
        <ion-label class="text-small">Adubação de cobertura (Kg/ha)</ion-label>
        <div style="display: flex">
          <ion-item class="input-style input-item">
            <ion-label floating>N</ion-label>
            <ion-input class="card-input" type="tel" maxlength="3" mask="###" [(ngModel)]="visit.BR_FertilizationCoveringN__c" [disabled]="isReadOnly"></ion-input>
          </ion-item>
          <ion-item class="input-style input-item">
            <ion-label floating>P</ion-label>
            <ion-input class="card-input" type="tel" maxlength="3" mask="###" [(ngModel)]="visit.BR_FertilizationCoveringP__c" [disabled]="isReadOnly"></ion-input>
          </ion-item>
          <ion-item class="input-style input-item" clear>
            <ion-label floating>K</ion-label>
            <ion-input class="card-input" type="tel" maxlength="3" mask="###" [(ngModel)]="visit.BR_FertilizationCoveringK__c" [disabled]="isReadOnly"></ion-input>
          </ion-item>
        </div>

        <ion-item class="input-style input-margin">
          <ion-label class="line-size" floating>Stand Final/ha</ion-label>
          <ion-input [(ngModel)]="visit.BR_Stand_Final_ha__c" [disabled]="isReadOnly" type="tel" maxlength="6" mask="######"></ion-input>
        </ion-item>
        <ion-label [hidden]="isReadOnly || (!visit.BR_Stand_Final_ha__c) || standFinalRange()" class="err-input">Valor incorreto, tente um número de 20000 a 100000.</ion-label>
      </ion-list>
    </ion-card-content>

    <ion-card-header class="flex-space-between">
      <div class="flex" tappable (click)="showWeedHandlingData = !showWeedHandlingData" clear>
        Manejo de Planta Daninha
        <ion-icon *ngIf="!showWeedHandlingData" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showWeedHandlingData" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="showWeedHandlingData">
      <ion-list>
        <ion-item>
          <ion-label class="card-p">Utilizou herbicida pré-emergente?
            <span class="red">*</span></ion-label>
        </ion-item>


        <div class="toggle">
          <ion-label class="card-p">Não</ion-label>
          <ion-toggle mode="md" [disabled]="isReadOnly" [(ngModel)]="visit.BR_UsedHerbicideInTheWinter__c" (ionChange)="removeAllProductUsed()"></ion-toggle>
          <ion-label class="card-p">Sim</ion-label>
        </div>

        <div *ngIf="visit.BR_UsedHerbicideInTheWinter__c">
          <ion-item class="praga-label">
            <ion-label>Adicionar herbicida</ion-label>
          </ion-item>
          <ion-buttons>
            <div *ngFor="let i of [0,1,2]">
              <button (click)="openProductUsedModal()" class="button-empty" *ngIf="!visit.ProductUsed[i]" [disabled]="isReadOnly">+</button>
              <button (click)="removeProductUsed(i)" class="remove-item button-filled" *ngIf="visit.ProductUsed[i]" [disabled]="isReadOnly"
                text-wrap>
                <ion-icon class="icon-remove" name="md-close"></ion-icon>{{visit.ProductUsed[i].BR_ProductsUsed__c}}</button>
            </div>
          </ion-buttons>
        </div>

        <ion-item>
          <ion-label class="card-p">Houve escape de planta daninha na dessecação?
            <span class="red">*</span>
          </ion-label>
        </ion-item>
        <div class="toggle">
          <ion-label class="card-p">Não</ion-label>
          <ion-toggle mode="md" [disabled]="isReadOnly" [(ngModel)]="visit.BR_MadeEarlyDesiccation__c" (ionChange)="removeAllWeedHandling()"></ion-toggle>
          <ion-label class="card-p">Sim</ion-label>
        </div>

        <div *ngIf="visit.BR_MadeEarlyDesiccation__c">
          <ion-item class="toggle-label">
            <ion-label>Adicionar planta daninha</ion-label>
          </ion-item>
          <ion-buttons>
            <div *ngFor="let i of [0,1,2]">
              <button (click)="openWeedHandlingModal()" class="button-empty" *ngIf="!visit.BR_WeedHandling__c[i]" [disabled]="isReadOnly">+</button>
              <button (click)="removeWeedHandling(i)" class="remove-item button-filled" *ngIf="visit.BR_WeedHandling__c[i]" [disabled]="isReadOnly"
                text-wrap>
                <ion-icon class="icon-remove" name="md-close"></ion-icon>{{visit.BR_WeedHandling__c[i].BR_WeedType__c}}</button>
            </div>
          </ion-buttons>
        </div>

        <ion-item>
          <ion-label class="card-p">O stand está bem estabelecido? <span class="red">*</span></ion-label>
        </ion-item>
        <div class="toggle">
          <ion-label class="card-p">Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="visit.BR_stand_well_established__c" [disabled]="isReadOnly"></ion-toggle>
          <ion-label class="card-p">Sim</ion-label>
        </div>

        <ion-item>
          <ion-label class="card-p">Fez dessecação no Plantio?</ion-label>
        </ion-item>
        <div class="toggle">
          <ion-label class="card-p">Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="visit.BR_DesiccationMadeInPlanting__c" [disabled]="isReadOnly"></ion-toggle>
          <ion-label class="card-p">Sim</ion-label>
        </div>

        <ion-item>
          <ion-label class="card-p">Houve falha no plantio?
            <span class="red">*</span>
          </ion-label>
        </ion-item>
        <div class="toggle">
          <ion-label class="card-p">Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="visit.BR_failed_planting__c" (ionChange)="clearFailedPlanting()" [disabled]="isReadOnly"></ion-toggle>
          <ion-label class="card-p">Sim</ion-label>
        </div>
        <ion-item class="input-style" *ngIf="visit.BR_failed_planting__c">
          <ion-label class="input-add" floating>Qual o motivo?</ion-label>
          <ion-input class="input-add" maxlength="250" [disabled]="isReadOnly" type="text" [(ngModel)]="visit.BR_reason__c"></ion-input>
        </ion-item>

      </ion-list>
    </ion-card-content>

    <div class="geolocation">
      <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event);"></geolocation>
    </div>

    <ion-card-content class="container-obs">
      <ion-item>
        <ion-label floating>Observações</ion-label>
        <ion-textarea [auto-resize-textarea]="120" rows="1" class="input-card opacity-1" maxlength="240" type="text" [(ngModel)]="visit.Observacao__c"
          [disabled]="isReadOnly"></ion-textarea>
      </ion-item>

      <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
    </ion-card-content>

  </ion-card>
  <div class="container-footer" *ngIf="!isReadOnly">
    <button ion-button class="btn-footer" outline [disabled]="isReadOnly" (click)="cancelVisit()">CANCELAR</button>
    <button *ngIf="!editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly || isSaveDisabled()" (click)="completeVisit()">CONCLUIR</button>
    <button *ngIf="editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly || isSaveDisabled()" (click)="completeVisit()">SALVAR</button>
  </div>
</ion-content>
