<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false" [hiddenAgenda]="true"></header>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>{{ visit.Status__c }}</ion-item>

    <ion-card-header tappable (tap)="showHybrid = !showHybrid">
      <div class="flex" clear>
        Híbridos de visitas
        <ion-icon *ngIf="!showHybrid" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showHybrid" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content class="content-border-bottom" *ngIf="showHybrid">
      <ion-list>
        <div *ngFor="let hybrid of visit.Hibrido_de_Visita__c; let h = index;">
          <ion-item class="list-label">
            <ion-input type="text" disabled value="{{ hybrid.BR_HybridName__c }}"></ion-input>
            <button ion-button icon-only item-end clear (click)="removeHybrid(h)" *ngIf="!visit.GerDemandaId__c && !isReadOnly" [disabled]="isReadOnly">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item>

          <ion-item>
            <ion-label>Adicionar Praga</ion-label>
          </ion-item>
          <ion-buttons>
            <div *ngFor="let p of [0,1,2]">
              <button (click)="openPlagueModal(h, p)" class="button-empty" *ngIf="!hybrid.Plagues[p]" [disabled]="isReadOnly">+</button>
              <button (click)="removePlague(h, p)" class="remove-item button-filled" *ngIf="hybrid.Plagues[p]" [disabled]="isReadOnly">
                <ion-icon *ngIf="!isReadOnly" class="icon-remove" name="md-close" item-start></ion-icon>
                {{ hybrid.Plagues[p].Qual__c }}
              </button>
            </div>
          </ion-buttons>

          <ion-item>
            <ion-label>Adicionar Doença</ion-label>
          </ion-item>
          <ion-buttons>
            <div *ngFor="let d of [0,1,2]">
              <button (click)="openDiseaseModal(h, d)" class="button-empty" *ngIf="!hybrid.Diseases[d]" [disabled]="isReadOnly">+</button>
              <button (click)="removeDisease(h, d)" class="remove-item button-filled" *ngIf="hybrid.Diseases[d]" [disabled]="isReadOnly">
                <ion-icon *ngIf="!isReadOnly" class="icon-remove" name="md-close" item-start></ion-icon>
                {{ hybrid.Diseases[d].Tipo_de_Doenca__c }}
              </button>
            </div>
          </ion-buttons>
        </div>
      </ion-list>
      <button ion-button outline class="button-card hybrid" (click)="openHybridModal()" [disabled]="isReadOnly"
        *ngIf="!visit.GerDemandaId__c">Adicionar Variedade</button>
    </ion-card-content>

    <ion-card-header tappable (tap)="showWeedHandling = !showWeedHandling">
      <div class="flex" clear>
        Manejo de Planta Daninha
        <ion-icon *ngIf="!showHybrid" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showHybrid" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content class="content-border-bottom" *ngIf="showWeedHandling">
      <ion-list>
        <div *ngFor="let weed of visit.BR_WeedHandling__c; let w = index;">
          <ion-item class="list-label">
            <ion-input type="text" disabled value="{{ weed.BR_WeedType__c }}" tappable (tap)="openWeedHandlingModal(w)"></ion-input>
            <button ion-button icon-only item-end clear (click)="removeWeedHandling(w)" *ngIf="!isReadOnly" [disabled]="isReadOnly">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item>
        </div>
      </ion-list>
      <button ion-button outline class="button-card hybrid" (click)="openWeedHandlingModal(null)" [disabled]="isReadOnly || visit.BR_WeedHandling__c.length >= 5">
        ADICIONAR PLANTA DANINHA
      </button>
    </ion-card-content>

    <div class="geolocation">
      <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event);"></geolocation>
    </div>

    <ion-card-content class="container-obs">
      <ion-item class="input-style">
        <ion-label floating>Observações</ion-label>
        <ion-textarea [auto-resize-textarea]="120" rows="1" class="card-input" maxlength="240" type="text" [(ngModel)]="visit.Observacao__c" [disabled]="isReadOnly"></ion-textarea>
      </ion-item>

      <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
    </ion-card-content>

  </ion-card>

  <div class="container-footer" *ngIf="!isReadOnly">
    <button ion-button class="btn-footer" outline tappable (click)="cancelVisit()" [disabled]="isReadOnly">CANCELAR</button>
    <button *ngIf="!editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly" tappable (click)="completeVisit()">CONCLUIR</button>
    <button *ngIf="editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly" tappable (click)="completeVisit()">SALVAR</button>
    
  </div>

</ion-content>
