<ion-content class="modal modal-content" padding>
  <ion-card>
    <ion-card-header class="title">
      <ion-item>
        <ion-icon name="md-close" item-left (click)="closeModal()"></ion-icon>
        <ion-item text-center class="title">Manejo de Daninha</ion-item>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="input-style select-floating">
        <ion-label floating>Produto <span class="red">*</span></ion-label>
        <ion-select interface="popover" [(ngModel)]="productsUsed.BR_ProductsUsed__c">
          <ion-option *ngFor="let item of productItems" value="{{ item.value }}">{{ item.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style select-floating">
        <ion-label floating>Tipo de dosagem <span class="red">*</span></ion-label>
        <ion-select interface="popover" [(ngModel)]="productsUsed.BR_DosageType__c">
          <ion-option *ngFor="let item of dosageTypeItems" value="{{ item.value }}">{{ item.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style select-floating">
        <ion-label floating>Dosagem <span class="red">*</span></ion-label>
        <ion-input type="tel" only-numbers maxlength="4" [(ngModel)]="productsUsed.BR_DosageAmount__c"></ion-input>
      </ion-item>
      <div class="apply-content">  
        <button ion-button full (click)="applyProducts()" [disabled]="savedEnable()">CADASTRAR</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
