<ion-content padding class="modal modal-content">
  <ion-card>
    <ion-card-header class="title">
      <ion-item>
        <ion-icon name="md-close" item-left (click)="closeModal()"></ion-icon>
        <ion-item text-center class="title">Adicionar Doença</ion-item>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="input-style input-margin" (click)="!isReadOnly && openPhaseModal()">
        <ion-label floating>Fase <span class="red">*</span></ion-label>
        <ion-input disabled class="character-limit" [(ngModel)]="disease.BR_Phase__c"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style input-margin" (click)="!isReadOnly && openDiseaseModal()">
        <ion-label floating>Doença <span class="red">*</span></ion-label>
        <ion-input disabled class="character-limit" [(ngModel)]="disease.Tipo_de_Doenca__c"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style input-margin" (click)="!isReadOnly && openProductModal()">
        <ion-label floating>Produto <span class="red">*</span></ion-label>
        <ion-input disabled class="character-limit" [(ngModel)]="disease.Produto__c"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <div class="apply-content">
        <button ion-button full (click)="applyDisease()" [disabled]="isSaveDisabled() || isReadOnly">CADASTRAR</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
