<div class="events-card">
  <ion-list>
    <label class="days not-events" *ngIf="!firstSync" text-center>
      Necessário realizar o primeiro sincronismo
    </label>

    <label class="days not-events" *ngIf="firstSync && !hasPerfil" text-center>
      Seu perfil de usuário não tem permissão para acessar o aplicativo
    </label>

    <label class="days not-events" *ngIf="firstSync && hasPerfil && keysLabel" text-center>
      Não há nenhum evento na sua agenda
    </label>

    <div *ngIf="firstSync && hasPerfil">
      <div *ngFor="let key of keys">
        <ion-item-divider>
          <div class="days" [innerHtml]="getKeyName(key)"></div>
        </ion-item-divider>
        <ion-grid>
          <ion-row *ngFor="let item of eventsObj[key]" tappable (click)="openEventDetail(item)">
            <ion-col col-2>
              <ion-label class="hours" [innerHtml]="getFormattedDate(item.StartDateTime)"></ion-label>
              <ion-label class="dots-space"></ion-label>
              <ion-label class="hours" [innerHtml]="getFormattedDate(item.EndDateTime)"></ion-label>
            </ion-col>
            <ion-col col-1></ion-col>
            <ion-col col-9 class="event event-box-{{item['cssSuffix']}}">
              <div class="visit-content">
                <ion-label class="visit-status-{{item['cssSuffix']}} margin-label">{{ item.IsOutlook__c ? 'Outlook' : item.Status__c}}<span class="errorSincy" *ngIf="item.errorSincy" >Falha no sincronismo</span></ion-label>
                <ion-label class="character-limit visit-type-{{item['cssSuffix']}} margin-label">{{ item.IsOutlook__c ? item.Subject : item.BR_Tipo_de_Visita__c}}</ion-label>
                <ion-label class="character-limit farm-name-{{item['cssSuffix']}} margin-label" *ngIf="!item.Subject">{{item.Location}}</ion-label>
                <ion-label class="character-limit farm-name-{{item['cssSuffix']}} margin-label" *ngIf="item.Subject">{{item.Subject}}</ion-label>
              </div>
              <ion-icon name="ai-arrow-right" class="arrow-right" *ngIf="!item.IsOutlook__c"></ion-icon>
              <ion-icon name="ai-arrow-right" class="arrow-right-outlook" *ngIf="item.IsOutlook__c"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-list>
</div>
