.events-card {
    .label {
        margin: 0;
    }
    .days {
        font-family: "Roboto-Bold";
        font-size: 12px;
        font-weight: bold;
        line-height: 1.33;
        text-align: center;
        color: color($colors, gray-ambient);
        margin: 0;
    }
    .hours {
        font-family: "Roboto-Bold";
        font-size: 12px;
        font-weight: bold;
        line-height: 1.33;
        text-align: center;
        color: color($colors, gray-ambient);
    }
    .dots-space {
        width: 1px;
        height: 16px;
        border-left: dotted 2px color($colors, gray-page);
        margin: 0 auto !important;
    }
    .event {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .arrow-outlook {
            color: color($colors, white);
        }
        .arrow-right {
            color: color($colors, gray-page);
            padding-right: 15px;
        }
        .arrow-right::before {
            font-size: 0.8em;
        }
    }
    .event-box {
        opacity: 0.8;
        border-radius: 3px;
        background-color: color($colors, gray-light);
        border-left: 8px solid color($colors, feedback-negative);
    }
    .event-box-next-event {
        @extend .event-box;
        background-color: color($colors, gray-light);
        border-color: color($colors, gray-ambient);
    }
    .event-box-to-start {
        @extend .event-box;
        background-color: color($colors, gray-light);
        border-color: color($colors, gray-ambient);
    }
    .event-box-in-progress {
        @extend .event-box;
        background-color: color($colors, gray-light);
        border-color: color($colors, event-in-progress);
    }
    .event-box-executed {
        @extend .event-box;
        background-color: color($colors, gray-light);
        border-color: color($colors, primary);
    }
    .event-box-canceled {
        @extend .event-box;
        background-color: color($colors, gray-light);
        border-color: color($colors, feedback-negative);
    }
    .event-box-outlook {
        @extend .event-box;
        background-color: color($colors, outlook-event-background);
        border-color: color($colors, outlook-event-bar);
    }
    .visit-status {
        font-family: "Roboto-Bold";
        font-size: 10px;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        color: color($colors, feedback-negative);
        margin-bottom: 8px !important;
        margin-left: 8px;
    }
    .visit-status-next-event {
        @extend .visit-status;
        color: color($colors, gray-ambient);
    }
    .visit-status-to-start {
        @extend .visit-status;
        color: color($colors, gray-ambient);
    }
    .visit-status-in-progress {
        @extend .visit-status;
        color: color($colors, event-in-progress);
    }
    .visit-status-executed {
        @extend .visit-status;
        color: color($colors, primary);
    }
    .visit-status-canceled {
        @extend .visit-status;
        color: color($colors, feedback-negative);
    }
    .visit-status-outlook {
        @extend .visit-status;
        color: color($colors, white);
    }
    .visit-type {
        font-family: "Roboto-Medium";
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        text-align: left;
        color: color($colors, gray-ambient);
        margin-left: 8px;
    }
    .visit-type-next-event {
        @extend .visit-type;
        color: color($colors, gray-ambient);
    }
    .visit-type-to-start {
        @extend .visit-type;
        color: color($colors, gray-ambient);
    }
    .visit-type-in-progress {
        @extend .visit-type;
        color: color($colors, gray-ambient);
    }
    .visit-type-executed {
        @extend .visit-type;
        color: color($colors, gray-ambient);
    }
    .visit-type-canceled {
        @extend .visit-type;
        color: color($colors, gray-ambient);
    }
    .visit-type-outlook {
        @extend .visit-type;
        color: color($colors, white);
    }
    .farm-name {
        font-family: "Roboto-Regular";
        font-size: 12px;
        line-height: 1.33;
        text-align: left;
        color: color($colors, gray-ambient);
        margin-left: 8px;
    }
    .farm-name-next-event {
        @extend .farm-name;
        color: color($colors, gray-ambient);
    }
    .farm-name-to-start {
        @extend .farm-name;
        color: color($colors, gray-ambient);
    }
    .farm-name-in-progress {
        @extend .farm-name;
        color: color($colors, gray-ambient);
    }
    .farm-name-executed {
        @extend .farm-name;
        color: color($colors, gray-ambient);
    }
    .farm-name-canceled {
        @extend .farm-name;
        color: color($colors, gray-ambient);
    }
    .farm-name-outlook {
        @extend .farm-name;
        color: color($colors, white);
    }
    .arrow-box {
        opacity: 0.8;
        background-color: color($colors, gray-light);
        align-content: center;
    }
    .arrow {
        width: 9px;
        height: 14px;
        object-fit: contain;
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .col {
        padding: 8px 0;
    }
    .scroll-content {
        padding: 0 !important;
    }
    .card-content {
        padding: 0 !important;
    }
    .grid {
        padding: 0;
    }
    .row {
        margin: 8px 0 16px 0;
    }
    .divider {
        border-bottom: solid 1px color($colors, gray-light);
        margin-top: 24px;
    }

    .margin-label{
        margin-right: 8px !important;
    }

    .errorSincy{
        font-size: 10px;
        color: red;
        float: right;
    }
}
