<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"></header>
  <div>
    <ion-segment [(ngModel)]="tabType">
      <ion-segment-button (ionSelect)="updatePageTitle('information');" value="information">
        Informações
      </ion-segment-button>
      <ion-segment-button (ionSelect)="updatePageTitle('contacts');" value="contacts">
        Contatos
      </ion-segment-button>
      <ion-segment-button (ionSelect)="updatePageTitle('profile_mapping');" value="profile_mapping">
        Mapeamento de Perfil
      </ion-segment-button>
      <!-- <ion-segment-button (ionSelect)="updatePageTitle('visits');" value="visits" [hidden]="hasAssociatedFarmer"> -->
      <ion-segment-button (ionSelect)="updatePageTitle('visits');" value="visits" >
        Visitas
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content padding (swipe)="swipe($event)">
  <div [ngSwitch]="tabType">
    <client-information *ngSwitchCase="'information'" [isFromAssociated]="isFromAssociated" [associatedClientIdToReturn]="associatedClientIdToReturn"></client-information>
    <client-contacts [client]="client" *ngSwitchCase="'contacts'"></client-contacts>
    <profile-mapping [client]="client" *ngSwitchCase="'profile_mapping'"></profile-mapping>
    <client-visits [client]="client" *ngSwitchCase="'visits'"></client-visits>
  </div>
</ion-content>
