report-modal {

  ion-content{
    background: rgba(0,0,0,0.8) !important;
  }

  ion-list.scroll{
    overflow-y: scroll !important;
    max-height: 325px !important;
  }

  .close{
    color: color($colors, primary) !important;
    margin: 0 !important;
    font-size: 22px;
  }
  .form-card-header.card-header.card-header-md .item-inner{
    margin-left: 0 !important;
  }

  .card-body{
    line-height: 1.67;
  }

  .line-bottom{
    border-bottom: solid 2px color($colors, gray-bg) !important;
  }

  ion-card.form-card .form-card-content .text-content{
    margin-bottom: 0 !important;
  }

}
