<ion-content class="modal" padding (click)="closeModal()">
  <ion-card class="form-card" (click)="$event.stopPropagation()">
    <ion-card-header class="form-card-header">
      <ion-item>
        <ion-icon class="close" name="md-close"(click)="closeModal()" item-start></ion-icon>
        <ion-label class="card-title" text-center>Aviso</ion-label>
      </ion-item>
    </ion-card-header>
  
    <ion-card-content class="form-card-content">
      <ion-list class="scroll" no-lines>
        <ion-item class="line-bottom" *ngFor="let i of textObj">
          <ion-label class="card-subtitle">
            {{ i.title }}
            <ion-label class="text-content" *ngFor="let body of i.body">
              <ion-label text-wrap class="card-body"><b>{{ body.subtitle }}</b>: {{ body.text }}</ion-label>
            </ion-label>
          </ion-label>
        </ion-item>
      </ion-list>

      <button ion-button full class="save-btn" (click)="closeModal()">OK</button>
    </ion-card-content>
  </ion-card>
</ion-content>
