page-home-attachment {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .file-container {
      min-height: 15vh !important;
      max-height: 15vh !important;
    }
    .file-container img {
      // height: 15vh;
      width: 100%;
      /* or any custom size */
      height: 100%;
      object-fit: contain;
    }
  }
  ion-label {
    font-weight: bold;
  }
  .info {
    font-size: 3rem;
  }
  .file-container {
    text-align: center;
    width: 94%;
    margin: 0;
    overflow: hidden;
    min-height: 10vh;
    max-height: 10vh;
    border-radius: 8px;
    position: relative;
  }
  .file-container img {
    // height: 10vh;
    width: 100%;
    /* or any custom size */
    height: 100%;
    object-fit: contain;
  }
  .attachment-flex {
    display: flex !important;
    justify-content: space-between !important;
  }
  .attachment-flex .item-inner .input-wrapper .label {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .attachment-row {
    flex-direction: row !important;
    position: relative;
  }
  .text-small {
    margin-bottom: -30px;
  }
  .file-container .remove-button {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: #97a4a4;
    height: 16px;
    width: 16px;
    padding: 0px;
    font-size: 14px;
    border-radius: 4px;
  }
  .img-desc {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin: 8px 0 16px 0;
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #97a4a4;
  }
  .gallery {
    min-height: 2.4rem !important;
  }
  .title-gallery {
    font-family: "Roboto-Regular";
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #97a4a4;
    margin: 5px 0;
  }
  .button-card {
    font-size: 14px;
    font-weight: 500;
    color: color($colors, gray-ambient);
    text-transform: uppercase !important;
    margin: 30px 0 16px;
  }
}
