<button ion-button class="button-card photo" outline [disabled]="isReadOnly" tappable (click)="cameraModal()" [disabled]="attachments?.length == 3">
  <ion-icon class="icon-img-btn" name="ios-share-outline" item-left></ion-icon>
  Anexar ou tirar foto
</button>

<div *ngIf="attachments.length > 0" class="gallery">
  <p class="title-gallery">Galeria de Fotos</p>
  <div class="attachment-flex">
    <ion-col col-4 class="attachment-row" *ngFor="let file of attachments; let i = index">
      <div class="file-container">
        <img *ngIf="file" [src]="prepareImageHome(file)" />
        <button class="remove-button" *ngIf="file" [disabled]="isReadOnly" (click)="removeAttachment(file, i)"><ion-icon name="close"></ion-icon></button>
      </div>
      <div class="img-desc" *ngIf="file">{{ file.Description }}</div>
    </ion-col>
  </div>
</div>
