<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false" [hiddenAgenda]="true"></header>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>{{ visit.Status__c }}</ion-item>

    <ion-card-header tappable (tap)="showInformationData = !showInformationData">
      <div class="flex" clear>
        <label>Informações da visita</label>
        <ion-icon *ngIf="!showInformationData" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showInformationData" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>


    <ion-card-content class="card-container" *ngIf="showInformationData">
      <p class="card-p">Permitir divulgação de resultado?</p>
      <div class="toggle">
        <ion-label class="card-p">Não</ion-label>
        <ion-toggle mode="md" [disabled]="isReadOnly" [(ngModel)]="visit.divulgacao_de_resultado__c"></ion-toggle>
        <ion-label class="card-p">Sim</ion-label>
      </div>
    </ion-card-content>

    <ion-card-header tappable (tap)="showHybridData = !showHybridData">
      <div class="flex" clear>
        Híbrido de visitas
        <ion-icon *ngIf="!showHybridData" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showHybridData" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="showHybridData">
      <ion-list>
        <div *ngFor="let hybrid of visit.Hibrido_de_Visita__c; let i = index;">
          <ion-item class="hybrid-label">
            <ion-label tappable (click)="openInfoHybrid(i)">{{hybrid.BR_HybridName__c}}<span class="red"> *</span></ion-label>
            <button ion-button icon-only item-end clear class="remove-item" (click)="!isReadOnly && removeHybrid(i)" *ngIf="!visit.GerDemandaId__c && !isReadOnly">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item>
          <p *ngIf="!checkHybridsIntegrity(i)" class="err-input">Atualizar Híbrido.</p>
        </div>

        <button ion-button outline class="button-card hybrid" [disabled]="isReadOnly"
          (click)="openHybridModal()" *ngIf="!visit.GerDemandaId__c">
          Adicionar Variedade
        </button>
      </ion-list>
    </ion-card-content>

    <div class="geolocation">
      <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event)"></geolocation>
    </div>

    <ion-card-content>
      <ion-item class="input-style">
      <ion-label floating>Observações</ion-label>
      <ion-textarea [auto-resize-textarea]="120" rows="1" class="card-input" maxlength="240" type="text" [(ngModel)]="visit.Observacao__c" [disabled]="isReadOnly"></ion-textarea>
    </ion-item>

      <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
    </ion-card-content>

  </ion-card>

  <div class="container-footer" *ngIf="!isReadOnly">
    <button ion-button class="btn-footer" outline tappable (click)="cancelVisit()" [disabled]="isReadOnly">CANCELAR</button>
    <button *ngIf="!editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly || isSaveDisabled() || !hybridIsOk" (click)="completeVisit()">CONCLUIR</button>
    <button *ngIf="editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly || isSaveDisabled() || !hybridIsOk" (click)="completeVisit()">SALVAR</button>
  </div>

</ion-content>
