@media only screen and (min-device-height: 600px) and (min-device-width: 768px) {
    .modal-wrapper {
      left: 0;
      top: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
    }
  }

  @media only screen and (min-device-width: 768px) and (orientation: portrait) {
    .modal-wrapper {
      left: 0;
      top: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
    }
    .modal {
      background-color: transparent !important;
    }
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .modal {
      background-color: rgba(0, 0, 0, 0.4) !important;
    }
  }

  @media only screen and (max-device-width: 767px) and (orientation: portrait) {
    modal-search-client {
      ion-searchbar.searchbar-ios{
        .searchbar-left-aligned .searchbar-input {
          padding: 0 !important;
          padding-right: 60px !important;
        }
      }
    }
    .modal {
      background-color: rgba(0, 0, 0, 0.4) !important;
    }
  }

/*   @media (max-height: 600px) {       
    .height-list{ 
      overflow-y: scroll !important;
      height: 45vh;
    }
  }

  @media (min-height: 601px) {       
    
  } */

/* @media only screen and (max-device-width: 640px) and (orientation: portrait){      
  .height-list{ 
    overflow-y: scroll !important;
    height: 45vh;
  }
} */

/* iPhone 5 & 5S in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 
  .height-list{ 
    overflow-y: scroll !important;
    height: 45vh;
  }
}

/* iPhone 5 & 5S in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
  .height-list{ 
    overflow-y: scroll !important;
    height: 9vh;
  }
}

/* iPhone 8 */
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .height-list {
    overflow-y: scroll !important;
    height: 58vh;
  }
}

/* iPhone X */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {}

/* iPhone 8 Plus */
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){ 
  .height-list{
    overflow: hidden !important;
    height: 100%;
  }
}

/* @media only screen and (max-device-height: 640px) and (orientation: landscape){       
  .height-list{ 
    overflow-y: scroll !important;
    height: 30vh;
  }
}

@media only screen and (min-device-width: 1024px) and (orientation: portrait) { 
  .height-list{
    overflow: hidden !important;
    height: 100%;
  }
} */