<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [hiddenAgenda]="false" [showAddEvent]="true"
  [showBack]="false" [showLogo]="false" [showSearchEvent]="true" [namePage]="'AgendaPage'"></header>
</ion-header>

<ion-content>
  <agenda></agenda>
</ion-content>
