page-agenda {
    .event-detail-container {
        display: none;
    }
    ion-content{
        background-color: #f2f6f6 !important;
    }
    .scroll-content{
        padding: 0 !important;
    }

    ion-title{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        text-align: center;
        div{
            font-family: "Roboto-Medium";
            font-size: 16px !important;
            font-weight: 500 !important;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #ffffff !important;
        }
    }
}
