<ion-content class="modal" padding>
  <ion-card>
    <ion-card-header class="modal-header">
      <div class="filter-header">
        <div>
          <ion-icon class="close" name="close" (click)="dismiss()"></ion-icon>
        </div>
        <ion-item text-center class="title">Adicionar Variedade</ion-item>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input-grey" (click)="!isReadOnly && openHybrid()">
        <ion-label class="label-input-style">Híbrido<span class="red"> *</span></ion-label>
        <ion-input disabled class="card-input character-limit" disabled type="text" value="{{ hybridVisit.BR_HybridName__c }}" placeholder="Selecione"></ion-input>
        <ion-icon name="md-add" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-grey">
        <ion-label class="label-input-style">Área Plantada (ha)<span class="red"> *</span></ion-label>
        <ion-input class="card-input" [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Area_Plantada__c" placeholder="Digite"></ion-input>
      </ion-item>

      <ion-item class="input-grey">
        <ion-label class="label-input-style">Sementes por Metro<span class="red"> *</span></ion-label>
        <ion-select class="card-input" interface="popover" [(ngModel)]="hybridVisit.BR_PlantationSeedsM__c" [disabled]="isReadOnly" placeholder="Selecione">
          <ion-option *ngFor="let platationSeed of iBR_PlantationSeedsM__c" value="{{ platationSeed.value }}">{{ platationSeed.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <div class="apply-content">
        <button (click)="closeModal()" [disabled]="isReadOnly || isSaveDisabled()">Cadastrar</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
