soy-visit-planting-modal {
  input,
  input[disabled],
  ion-select {
    text-align: right !important;
  }

  .input-grey {
    background-color: color($colors, border-content-color);
    margin: 2px 0 2px 0 !important;
    .label-input-style {
      padding: 0 14px !important;
    }
  }
}
