loockup {
    .searchbar-ios {
        padding: 0;
    }
    .searchbar-ios .searchbar-search-icon {
        left: 5px !important;
    }
    .margin-search{
      margin-bottom: 22px;
    }
    .margin-list{
      margin-bottom: 12px;
    }
    .margin-item{
        margin-bottom: 5px;
    }
}
