<div class="searchbar-input">
  <div class="margin-search">
    <ion-searchbar name='search' type='search' #searchBar class="searchRelated loockupBar" [placeholder]="'Digite para pesquisar'"
      [autocomplete]="'off'" [autocorrect]="'off'" (ionInput)="getItems($event)" (ionCancel)="onCancel($event)" (ionClear)="onCancel($event)"
      (ionChange)="updateSearch()" [(ngModel)]="searchTerm" id="{{lookupItem}}">
    </ion-searchbar>
    <ion-label id="{{idComponent}}" class="error"></ion-label>
  </div>
  <div class="margin-list" text-center *ngIf="searchTerm && searchTerm.length <= 2">
    Digite 3 letras ou mais
  </div>
  <div class="margin-list" text-center *ngIf="searchTerm && searchTerm.length >= 3">
    <div *ngIf="emptySearch">
      Nenhum resultado encontrado
    </div>
    <div id="{{lookupId}}" *ngIf="!emptySearch">
      <ion-list>
        <ion-item class="character-limit margin-item" tappable (click)="select(item)" *ngFor="let item of itens; let i = index" tappable>
          <ion-grid>
            <ion-row>
              {{getLabel(item)}}
            </ion-row>
            <ion-row class="sub-label">
              <b class="pre-wrap">Tipo: </b> {{item.typeOfClient ? item.typeOfClient : item.BR_ProfileName__c}}
            </ion-row>
            <ion-row *ngIf="item.GC_VATIN__c">
              <ion-col class="sub-label">
                <ion-row>
                  <b class="pre-wrap">CPF/CNPJ: </b>
                </ion-row>
                <ion-row>{{item.GC_VATIN__c}}</ion-row>
              </ion-col>
              <ion-col class="sub-label">
                <ion-row>
                  <b class="pre-wrap">SAP: </b>
                </ion-row>
                <ion-row>{{item.GC_SAP_ID__c}}</ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="sub-label" *ngIf="groups[i]">
              <b class="pre-wrap">Grupo familiar: </b> {{ groups[i] }}
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>
