<ion-item tappable (click)="openClientsDetail(i)" *ngFor="let item of clients; let i = index" class="no-border line-light">
  <div class="clients-label character-limit">{{item.Name}}</div>
  <div class="clients-sub-label">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <b>CPF/CNPJ: </b>
          </ion-row>
          <ion-row>{{ item.GC_VATIN__c }}</ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <b>SAP: </b>
          </ion-row>
          <ion-row>{{ item.GC_SAP_ID__c }}</ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-icon name="ai-arrow-right" class="arrow-list"></ion-icon>
</ion-item>

<ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
