<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"></header>
</ion-header>

<ion-content padding>
  <ion-card class="dark-card" *ngIf="!isPreview">
    <ion-card-header tappable (tap)="showHelp = !showHelp">
      <ion-grid>
        <ion-row>
          <ion-col col-10 class="character-limit">
            Principal objetivo
          </ion-col>
          <ion-col col-2>
            <ion-icon *ngIf="showHelp" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
            <ion-icon *ngIf="!showHelp" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="help-body" *ngIf="showHelp">
        <ion-item>{{ textHelpVisit.header }}</ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div *ngIf="statusSteps['step1'].status === 'enabled' && isPreview !== true">
      <ion-card-header tappable (tap)="showHelpPre = !showHelpPre">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="character-limit">
              Aprenda antes da visita
            </ion-col>
            <ion-col col-2>
              <ion-icon *ngIf="showHelpPre" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
              <ion-icon *ngIf="!showHelpPre" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content class="bottom-line-light">
        <ion-list class="help-body" *ngIf="showHelpPre">
          <ion-item>{{ textHelpVisit.prepare0 }}</ion-item>

        </ion-list>
        <ion-item class="input-style">
          <ion-label floating>Notas</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="32000" type="text" [(ngModel)]="salesCoaching.BR_Notes_Prepare_1__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <ion-card-header tappable (tap)="showHelpPos = !showHelpPos">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="character-limit">
              Aprenda para começar a visita
            </ion-col>
            <ion-col col-2>
              <ion-icon *ngIf="showHelpPos" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
              <ion-icon *ngIf="!showHelpPos" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="help-body" *ngIf="showHelpPos">
          <ion-item>{{ textHelpVisit.prepare1 }}</ion-item>
        </ion-list>
        <ion-item class="input-style">
          <ion-label floating>Notas<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="32000" type="text" [(ngModel)]="salesCoaching.BR_Notes_Prepare_2__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </div>

    <div *ngIf="statusSteps['step2'].status === 'enabled' && isPreview !== true">
      <ion-card-header tappable (tap)="showHelpExec = !showHelpExec">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="character-limit">
              Processo de vendas
            </ion-col>
            <ion-col col-2>
              <ion-icon *ngIf="showHelpExec" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
              <ion-icon *ngIf="!showHelpExec" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="help-body" *ngIf="showHelpExec">
          <ion-item class="subtitle-help">Pergunte para orientar</ion-item>
          <ion-item>{{ textHelpVisit.execute0 }}</ion-item>


        </ion-list>
        <ion-item class="input-style">
          <ion-label floating>Notas<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="32000" type="text" [(ngModel)]="salesCoaching.BR_Notes_Execute_1__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </div>

    <div *ngIf="statusSteps['step5'].status === 'enabled' && isPreview !== true">
      <ion-card-header tappable (tap)="showHelpWatch1 = !showHelpWatch1">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="character-limit">
              Abra com valor
            </ion-col>
            <ion-col col-2>
              <ion-icon *ngIf="showHelpWatch1" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
              <ion-icon *ngIf="!showHelpWatch1" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content class="bottom-line-light">
        <ion-list class="help-body" *ngIf="showHelpWatch1">
          <ion-item>{{ textHelpVisit.observe0 }}</ion-item>
        </ion-list>
        <ion-item class="input-style">
          <ion-label floating>Notas<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="32000" type="text" [(ngModel)]="salesCoaching.BR_Notes_Observe_1__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <ion-card-header tappable (tap)="showHelpWatch2 = !showHelpWatch2">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="character-limit">
              Descubra necessidades do cliente
            </ion-col>
            <ion-col col-2>
              <ion-icon *ngIf="showHelpWatch2" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
              <ion-icon *ngIf="!showHelpWatch2" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="help-body" *ngIf="showHelpWatch2">
          <ion-item>{{ textHelpVisit.observe1 }}</ion-item>
        </ion-list>
        <ion-item class="input-style">
          <ion-label floating>Notas<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="32000" type="text" [(ngModel)]="salesCoaching.BR_Notes_Observe_2__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>

      <ion-card-header tappable (tap)="showHelpWatch3 = !showHelpWatch3">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="character-limit">
              Apresente Soluções
            </ion-col>
            <ion-col col-2>
              <ion-icon *ngIf="showHelpWatch3" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
              <ion-icon *ngIf="!showHelpWatch3" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="help-body" *ngIf="showHelpWatch3">
          <ion-item>{{ textHelpVisit.observe2 }}</ion-item>
        </ion-list>
        <ion-item class="input-style">
          <ion-label floating>Notas<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="32000" type="text" [(ngModel)]="salesCoaching.BR_Notes_Observe_3__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>

      <ion-card-header tappable (tap)="showHelpWatch4 = !showHelpWatch4">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="character-limit">
              Lidar com objeções
            </ion-col>
            <ion-col col-2>
              <ion-icon *ngIf="showHelpWatch4" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
              <ion-icon *ngIf="!showHelpWatch4" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="help-body" *ngIf="showHelpWatch4">
          <ion-item>{{ textHelpVisit.observe3 }}</ion-item>
        </ion-list>
        <ion-item class="input-style">
          <ion-label floating>Notas<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="32000" type="text" [(ngModel)]="salesCoaching.BR_Notes_Observe_4__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>

      <ion-card-header tappable (tap)="showHelpWatch5 = !showHelpWatch5">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="character-limit">
              Encerramento e Próximos Passos
            </ion-col>
            <ion-col col-2>
              <ion-icon *ngIf="showHelpWatch5" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
              <ion-icon *ngIf="!showHelpWatch5" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="help-body" *ngIf="showHelpWatch5">
          <ion-item>{{ textHelpVisit.observe4 }}</ion-item>
        </ion-list>
        <ion-item class="input-style">
          <ion-label floating>Notas<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="32000" type="text" [(ngModel)]="salesCoaching.BR_Notes_Observe_5__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </div>

    <div *ngIf="statusSteps['step6'].status === 'enabled' && isPreview !== true">
      <ion-card-header tappable (tap)="showHelpPosVisit = !showHelpPosVisit">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="character-limit">
              Abordagem vendas depois da vista
            </ion-col>
            <ion-col col-2>
              <ion-icon *ngIf="showHelpPosVisit" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
              <ion-icon *ngIf="!showHelpPosVisit" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="help-body" *ngIf="showHelpPosVisit">
          <ion-item class="subtitle-help">Pergunte para orientar</ion-item>
          <ion-item>{{ textHelpVisit.posvisit0 }}</ion-item>
        </ion-list>
        <ion-item class="input-style">
          <ion-label floating>Notas</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="32000" type="text" [(ngModel)]="salesCoaching.BR_Notes_Execute_2__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </div>

    <div *ngIf="statusSteps['step3'].status === 'enabled' && isPreview !== true">
      <ion-card-content class="bottom-line-light">
        <ion-list class="help-body">
          <ion-item class="subtitle-help">{{ textHelpVisit.share0 }}</ion-item>
        </ion-list>
        <ion-item class="input-style">
          <ion-label floating>Ponto Forte (1)<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_1__c"
            [disabled]="isReadOnly"></ion-textarea>

        </ion-item>
        <ion-item class="input-style">
          <ion-label floating>Exemplo (1)<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_1_Description__c"
            [disabled]="isReadOnly"></ion-textarea>

        </ion-item>
      </ion-card-content>
      <ion-card-content class="bottom-line-light">
        <ion-item class="input-style">
          <ion-label floating>Ponto Forte (2)</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_2__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
        <ion-item class="input-style">
          <ion-label floating>Exemplo (2)</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_2_Description__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-item class="input-style">
          <ion-label floating>Ponto Forte (3)</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_3__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
        <ion-item class="input-style">
          <ion-label floating>Exemplo (3)</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_3_Description__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
        <ion-list class="help-body">
          <ion-item class="subtitle-help">{{ textHelpVisit.future0 }}</ion-item>
        </ion-list>

        <ion-item class="input-style">
          <ion-label floating>Notas</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="32000" type="text" [(ngModel)]="salesCoaching.BR_Notes_Share_1__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </div>

    <div *ngIf="statusSteps['step4'].status === 'enabled' && isPreview !== true">
      <ion-card-header>
        <!--tappable (tap)="showHelpFeedback = !showHelpFeedback"-->
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="character-limit">
              Pense no futuro e planeje
            </ion-col>
            <ion-col col-2>
              <!--<ion-icon *ngIf="showHelpFeedback" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
              <ion-icon *ngIf="!showHelpFeedback" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>-->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content class="bottom-line-light">
        <!--<ion-list class="help-body" *ngIf="showHelpFeedback">
          <ion-item class="subtitle-help">{{ textHelpVisit.future0 }}</ion-item>
        </ion-list>-->
        <ion-item class="input-style">
          <ion-label floating>Áreas de Desenvolvimento (1)<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_1__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
        <ion-item class="input-style">
          <ion-label floating>Tarefas de Aprendizado (1)<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_1_Description__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
        <ion-item class="input-style">
          <ion-label floating>Prazo (1)<span class="red"> *</span></ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_1_Time__c	"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <ion-card-content class="bottom-line-light">
        <ion-item class="input-style">
          <ion-label floating>Áreas de Desenvolvimento (2)</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_2__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
        <ion-item class="input-style">
          <ion-label floating>Tarefas de Aprendizado (2)</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_2_Description__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
        <ion-item class="input-style">
          <ion-label floating>Prazo (2)</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_2_Time__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-item class="input-style">
          <ion-label floating>Áreas de Desenvolvimento (3)</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_3__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
        <ion-item class="input-style">
          <ion-label floating>Tarefas de Aprendizado (3)</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_3_Description__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
        <ion-item class="input-style">
          <ion-label floating>Prazo (3)</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_3_Time__c"
            [disabled]="isReadOnly"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </div>
  </ion-card>
  <ion-card class="dark-card">
    <div *ngIf="isPreview">
      <ion-card-header>
        <div class="flex" clear>
          Pré Visualização
        </div>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="help-body">
          <ion-item class="subtitle-help">Verifique como o e-mail será enviado</ion-item>
          <ion-item>Segue o relatório com os principais pontos discutidos em nossa Sessão de Coaching de Vendas.</ion-item>
          <ion-item>Utilize-os para preparar seu plano de desenvolvimento individual e alavancar sua performance.</ion-item>
        </ion-list>

        <ion-item class="title-preview">Pontos Fortes</ion-item>

        <ion-item class="input-style" *ngIf="salesCoaching.BR_Strong_Point_1__c">
          <ion-label floating>Ponto Forte 1</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_1__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Strong_Point_1_Description__c">
          <ion-label floating>Exemplo 1</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_1_Description__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Strong_Point_2__c">
          <ion-label floating>Ponto Forte 2</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_2__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Strong_Point_2_Description__c">
          <ion-label floating>Exemplo 2</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_2_Description__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Strong_Point_3__c">
          <ion-label floating>Ponto Forte 3</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_3__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Strong_Point_3_Description__c">
          <ion-label floating>Exemplo 3</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Strong_Point_3_Description__c"
            [disabled]="true"></ion-textarea>
        </ion-item>

        <ion-item class="title-preview">Pontos a desenvolver</ion-item>

        <ion-item class="input-style" *ngIf="salesCoaching.BR_Opportunity_1__c">
          <ion-label floating>Áreas de Desenvolvimento 1</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_1__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Opportunity_1_Description__c">
          <ion-label floating>Tarefas de Aprendizado 1</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_1_Description__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Opportunity_1_Time__c">
          <ion-label floating>Prazo 1</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_1_Time__c	"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Opportunity_2__c">
          <ion-label floating>Áreas de Desenvolvimento 2</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_2__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Opportunity_2_Description__c">
          <ion-label floating>Tarefas de Aprendizado 2</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_2_Description__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Opportunity_2_Time__c">
          <ion-label floating>Prazo 2</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_2_Time__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Opportunity_3__c">
          <ion-label floating>Áreas de Desenvolvimento 3</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_3__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Opportunity_3_Description__c">
          <ion-label floating>Tarefas de Aprendizado 3</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_3_Description__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-item class="input-style" *ngIf="salesCoaching.BR_Opportunity_3_Time__c">
          <ion-label floating>Prazo 3</ion-label>
          <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="255" type="text" [(ngModel)]="salesCoaching.BR_Opportunity_3_Time__c"
            [disabled]="true"></ion-textarea>
        </ion-item>
        <ion-list class="help-body">
          <ion-item>Lembre-se de que faremos o follow-up desta sessão conforme combinado.</ion-item>
          <ion-item>Quaisquer dúvidas, entre em contato.</ion-item>
        </ion-list>
      </ion-card-content>
    </div>
  </ion-card>

  <button ion-button full class="buttom complete-fase" *ngIf="!isReadOnly && !checkAllStepsCompleted()" tappable (tap)="completeStep()">Concluir Fase</button>

  <button ion-button full class="buttom complete-visit" *ngIf="!isReadOnly && checkAllStepsCompleted() && isPreview !== true" tappable (tap)="showPreview()">Pré-visualizar E-mail</button>

  <button ion-button full class="buttom complete-visit" *ngIf="!isReadOnly && isPreview === true" tappable (tap)="completeVisit()">Concluir Visita</button>

</ion-content>

<ion-footer>
  <div class="coaching-title">
    <ion-label class="titleStep">{{titleStep}}</ion-label>
  </div>
  <div class="coaching-content">
    <div class="stepper">
      <div class="step">
        <div class="circle" [hidden]="statusSteps['step1'].isComplete === true" [ngStyle]="{'background-color':statusSteps['step1'].status === 'enabled' ? '#dada72' : '#cfcfcf'}"
          tappable (tap)="setStep1()">
          <span [hidden]="statusSteps['step1'].isComplete === true">1</span>
        </div>

        <div class="circle" *ngIf="statusSteps['step1'].isComplete === true" [ngStyle]="{'background-color':'#006633'}" tappable
          (tap)="setStep1()">
          <ion-icon name="ios-checkmark" *ngIf="statusSteps['step1'].isComplete === true"></ion-icon>
        </div>
      </div>
      <div class="divider" [ngStyle]="{'border-bottom': statusSteps['step2'].isComplete === true ? '3px solid #006633' : '3px solid #cfcfcf'}"></div>
      <div class="step">
        <div class="circle" [hidden]="statusSteps['step2'].isComplete === true" [ngStyle]="{'background-color':statusSteps['step2'].status === 'enabled' ? '#dada72' : '#cfcfcf'}"
          tappable (tap)="setStep2()">
          <span *ngIf="!complete">2</span>
        </div>
        <div class="circle" *ngIf="statusSteps['step2'].isComplete === true" [ngStyle]="{'background-color':'#006633'}" tappable
          (tap)="setStep2()">
          <ion-icon name="ios-checkmark" *ngIf="statusSteps['step2'].isComplete === true"></ion-icon>
        </div>
      </div>

      <div class="divider" [hidden]="isOnline" [ngStyle]="{'border-bottom': statusSteps['step5'].isComplete === true ? '3px solid #006633' : '3px solid #cfcfcf'}"></div>
      <div class="step" [hidden]="isOnline">
        <div class="circle" [hidden]="statusSteps['step5'].isComplete === true" [ngStyle]="{'background-color':statusSteps['step5'].status === 'enabled' ? '#dada72' : '#cfcfcf'}"
          tappable (tap)="setStep5()">
          <span *ngIf="!complete">3</span>
        </div>
        <div class="circle" *ngIf="statusSteps['step5'].isComplete === true" [ngStyle]="{'background-color':'#006633'}" tappable
          (tap)="setStep5()">
          <ion-icon name="ios-checkmark" *ngIf="statusSteps['step5'].isComplete === true"></ion-icon>
        </div>
      </div>
      <div class="divider" [hidden]="isOnline" [ngStyle]="{'border-bottom': statusSteps['step6'].isComplete === true ? '3px solid #006633' : '3px solid #cfcfcf'}"></div>
      <div class="step" [hidden]="isOnline">
        <div class="circle" [hidden]="statusSteps['step6'].isComplete === true" [ngStyle]="{'background-color':statusSteps['step6'].status === 'enabled' ? '#dada72' : '#cfcfcf'}"
          tappable (tap)="setStep6()">
          <span *ngIf="!complete">4</span>
        </div>
        <div class="circle" *ngIf="statusSteps['step6'].isComplete === true" [ngStyle]="{'background-color':'#006633'}" tappable
          (tap)="setStep6()">
          <ion-icon name="ios-checkmark" *ngIf="statusSteps['step6'].isComplete === true"></ion-icon>
        </div>
      </div>

      <div class="divider" [ngStyle]="{'border-bottom': statusSteps['step3'].isComplete === true ? '3px solid #006633' : '3px solid #cfcfcf'}"></div>
      <div class="step">
        <div class="circle" [hidden]="statusSteps['step3'].isComplete === true" [ngStyle]="{'background-color':statusSteps['step3'].status === 'enabled' ? '#dada72' : '#cfcfcf'}"
          tappable (tap)="setStep3()">
          <span *ngIf="!complete">{{ isOnline === true ? '3' : '5'}}</span>
        </div>
        <div class="circle" *ngIf="statusSteps['step3'].isComplete === true" [ngStyle]="{'background-color':'#006633'}" tappable
          (tap)="setStep3()">
          <ion-icon name="ios-checkmark" *ngIf="statusSteps['step3'].isComplete === true"></ion-icon>
        </div>
      </div>
      <div class="divider" [ngStyle]="{'border-bottom': statusSteps['step4'].isComplete === true ? '3px solid #006633' : '3px solid #cfcfcf'}"></div>
      <div class="step">
        <div class="circle" [hidden]="statusSteps['step4'].isComplete === true" [ngStyle]="{'background-color':statusSteps['step4'].status === 'enabled' ? '#dada72' : '#cfcfcf'}"
          tappable (tap)="setStep4()">
          <span *ngIf="!complete">{{ isOnline === true ? '4' : '6'}}</span>
        </div>
        <div class="circle" *ngIf="statusSteps['step4'].isComplete === true" [ngStyle]="{'background-color':'#006633'}" tappable
          (tap)="setStep4()">
          <ion-icon name="ios-checkmark" *ngIf="statusSteps['step4'].isComplete === true"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-footer>
