visits-sales-coaching {
  ion-icon {
    font-size: 30px;
    float: right;
    margin-right: 10px;
  }
  .title-preview {
    margin: 30px 0;
    .label {
      font-family: "Roboto-Medium" !important;
      font-size: 14px;
      font-weight: 500 !important;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: color($colors, gray-ambient);
    }
  }
  .input-style {
    margin-top: 10px;
  }
  .card {
    margin: 0 0 10px 0;
  }
  .dark-card {
    background: #e6eeee;
    .card-header {
      border-bottom: 2px solid #f2f6f6;
    }
  }
  .coaching-title {
    box-shadow: 0px -2px 3px 0px #b3b3b3;
    background: #f3f3f3;
    padding: 8px;
  }
  .coaching-content {
    background: #f3f3f3;
    padding: 0 8px 12px 8px;
  }
  .titleStep {
    text-align: center;
    font-family: "Roboto-Medium" !important;
    font-weight: bold !important;
    font-weight: 500 !important;
    font-size: 16px;
  }
  .stepper {
    display: flex;
    justify-content: center;
  }
  .step {
    float: left;
    font-size: 15px;
  }
  .divider {
    border-bottom: 3px solid #cfcfcf;
    float: left;
    height: 20px;
    margin: 0;
    width: 15px;
  }
  .circle {
    background: #cfcfcf;
    border-radius: 50%;
    color: #ffffff;
    float: left;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
  }
  .step-box-current {
    .circle {
      background: #dada72;
    }
  }
  .step-box-finished {
    .circle {
      background: #006633;
    }
    .icon {
      font-size: 30px;
      position: relative;
      top: -3px;
    }
  }
  .subtitle-help .label {
    font-weight: bold !important;
  }
  .item-block {
    min-height: auto;
  }
  .help-body {
    ion-item {
      margin: 10px 0 0 0 !important;
    }
    .label {
      font-family: "Roboto-Regular" !important;
      white-space: pre-line;
      line-height: 1.6em;
    }
  }
  .buttom {
    width: 100% !important;
    height: 48px !important;
    margin-left: 0;
    margin-right: 0;
    border-radius: 4px !important;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 1.14;
  }
  .complete-fase {
    background-color: color($colors, secondary-strong-olive);
    margin-bottom: 20px;
  }
  .complete-visit {
    margin-bottom: 20px;
  }
}
