modal-add-geolocation {

    .button-confection{
        width: 100%;
        height: 48px;
        border-radius: 4px;
        background-color: #cccc33;
        
    }
    ion-icon{
        color: darkgreen
    }
    .title{
        margin: 0 auto;
    }
    .title span{
        // margin-left: 30px;
        // font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #424b4b;
    }
    .card-header{
        margin-left: 0;
        margin-right: 0;
    }
    .filter-header{
        margin: 0 16px;
        display: flex;
    }

    .item{
        border-top: none !important;
    }

    .item-input-disabled input{
        border-bottom: none !important;
      }

      .label{
        font-family: "Roboto-Regular";
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: left;
        color: #97a4a4;
      }

      .item-input-has-value .label[floating]{
        font-family: "Roboto-Regular";
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }

      .text-input{
        font-family: "Roboto-Regular";
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #424b4b !important;
        opacity: 1 !important;
      }

    ion-card-content{
        padding: 0 !important;
        ion-list{text-align: center;}
        ion-list ion-item{
            .item-inner .input-wrapper{
                border-bottom: 0.55px solid #c8c7cc !important;
            }
            .item-inner{
                padding: 0 16px !important;
            }
        }
        ion-list .button-confection{
            width: 90% !important;
            margin: 30px 0 20px 0 !important;
        }
    }
}
