<ion-content class="modal" padding>
    <ion-card>
        <ion-card-header class="modal-header">
          <div class="filter-header">
            <div>
              <ion-icon class="close" name="close" (click)="dismiss()"></ion-icon>
            </div>
            <div class="title">
              <span>Geolocalização</span>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-list> 
            <ion-item *ngIf="!clientsLocation">
              <ion-label floating>Altitude</ion-label>
              <ion-input [(ngModel)]="altitude" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Latitude</ion-label>
                <ion-input [(ngModel)]="latitude" [disabled]="true"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Longitude</ion-label>
                <ion-input [(ngModel)]="longitude" [disabled]="true">}</ion-input>
              </ion-item>
            <button ion-button class="button-confection" (click)="saveGeo()" [disabled]="!latitude || !longitude">Adicionar</button>
          </ion-list>
        </ion-card-content>
      </ion-card>
</ion-content>
