<ion-content padding>

  <ion-card>
    <ion-card-header>

      <span class="title-sync">
        Sincronismo
      </span>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="!erroSync && !showSpinner">
        <span class="slds-icon_container slds-icon-standard-{{syncCurrentIconName}}">
        <img class="slds-icon sf-icon-sync" src="./assets/icon/salesforce/{{syncCurrentIconName}}.png"/>
      </span>

        <div class="slds-progress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="" role="progressbar">
          <span class="slds-progress-bar__value" [ngStyle]="{ 'width' : value + '%' }">
        </span>
        </div>

        <p class="object-sync">
          Sincronizando {{entidade}}...
        </p>
      </div>

      <div *ngIf="erroSync" class="erroSync">
        <p class="object-sync">Ocorreu um erro no sincronismo</p>
        <button ion-button class="resyncError" tappable (click)="resync()">Resincronizar</button>
      </div>

      <div *ngIf="showSpinner && !erroSync">
        <ion-spinner icon="android"></ion-spinner>
        <p class="object-sync">Preparando para sincronização</p>
      </div>

    </ion-card-content>
    <div class="footer-sync">
      <div class="progress">
        <ul>
          <li class="{{itemClients}}"></li>
          <li class="{{itemContacts}}"></li>
          <li class="{{itemParcers}}"></li>
          <li class="{{itemProperties}}"></li>
        </ul>
      </div>
    </div>
  </ion-card>

</ion-content>