page-sync {

    .ion-spinner {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    .overlay {
        width: 100%;
    }
    .scroll-content {
        margin-top: 52px;
    }
    .title-sync {
        text-align: center;
        display: block;
        font-size: 15px;
        color: color($colors, secondary) !important;
        font-family: 'Salesforce Sans';
        font-weight: 700;
    }
    .icon-close {
        float: right;
        margin-top: -15px;
        width: 16PX;
        height: auto;
    }
    .sf-icon-sync {
        height: 50px;
        width: auto;
    }
    ion-card-header {
        border-bottom: 1px solid #CCD8E3;
    }
    ion-card-content {
        text-align: center;
        margin: 20px 0;
    }
    .sf-icon-sync {
        height: 50px;
        width: auto;
    }
    .object-sync {
        color: color($colors, text-all) !important;
        font-family: 'Salesforce Sans';
        font-weight: 400;
    }

    .slds-progress-bar {
        margin: 20px 0;
    }

    .footer-sync {
        height: 45px;
        position: relative;
        width: 100%;
        border-top: 1px solid #CCD8E3;
    }

    .content{
        background: #7F7F7F;
    }

    .progress {
        width: 100%;
        margin: 20px 0;
        display: table;
        position: relative;
        text-align: center;
        left: 8%
    }
    .progress ul {
        display: table-row;

    }
    .progress ul li {
        height: 2px;
        display: table-cell;
        position: relative;
        color: #CCD8E4;
        z-index: 3;
        text-align: left;
        transition: background-color 0.75s, color 0.5s;
        border: 1px solid #CCD8E4;
    }
    .progress ul li::after {
        content:'';
        width: 20px;
        height: 20px;
        color: color($colors, main-evergreen);
        text-align: center;
        left: -5px;
        background-color: #FFFFFF;/* Default Circle Color */
        border: solid 4px #CCD8E4;/* Default Circle Color */
        position: absolute;
        display: block;
        top: -11px;
        margin: 0 auto;
        z-index: 1;
        transition: background-color 0.75s, color 0.5s;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
                border-radius: 50%;
    }
    .progress ul li::before {
        content:'';
        width: 26px;
        height: 26px;
        color: color($colors, main-evergreen);
        text-align: center;
        left: -8px;
        background-color: #FFFFFF;/* Default Circle Color */
        index: -9;
        position: absolute;
        display: block;
        top: -11px;
        margin: 0 auto;
        z-index: 1;
        transition: background-color 0.75s, color 0.5s;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
                border-radius: 50%;
    }
    /* CURRENT STEP */
    .progress ul li.current {
        // display: inline-block;
        // width: 100%;
        z-index: 3;
        color: color($colors, main-evergreen);
        // position: relative;
        transition: background-color 0.75s, color 0.5s;

    }
    .progress ul li.current::after {
        border: solid 4px color($colors, main-evergreen);
        background-color: #ffffff;
        transition: background-color 0.75s, color 0.5s;
        -webkit-animation: pulse 3s ease-out;
        -moz-animation: pulse 3s ease-out;
        animation: pulse 3s ease-out;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    .progress ul li.complete {
        border-color: color($colors, main-evergreen); /* Completed Step Bar Color */
        transition: background-color 0.75s, color 0.5s;
    }
    .progress ul li.complete::after {
        content: "";
        // background: url("https://localhost/assets/icon/salesforce/check.png") no-repeat;
        background-color: color($colors, main-evergreen); /* Completed Step Circle Color */
        border: 4px solid color($colors, main-evergreen);
        transition: background-color 0.75s, color 0.5s;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    .progress ul li:last-of-type {
        border: 1px solid white;
    }
    .progress ul li.current:last-of-type,
    .progress ul li.complete:last-of-type  {
        border: 1px solid white;
    }
}
