* {
  box-sizing: border-box;
}

.label-md,
.label-ios {
  margin: 0 !important;
}

body.keyboard-is-open ion-tabbar {
  display: none;
}

body.keyboard-is-open scroll-content {
  margin-bottom: 0 !important;
}

body.keyboard-is-open .tabbar {
  display: none;
}

body.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}

body.hiddenTabs ion-tabbar {
  display: none;
}

body.hiddenTabs .tabbar {
  display: none;
}

header {
  ion-toolbar {
    padding-left: 0 !important;
  }
}
