@font-face {
    font-family: "Roboto-Light";
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/roboto-light.woff') format('woff');
  }

  @font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/roboto-regular.woff') format('woff');
  }

  @font-face {
    font-family: "Roboto-Medium";
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/roboto-medium.woff') format('woff');
  }

  @font-face {
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/roboto-bold.woff') format('woff');
  }
