<ion-header>
    <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"
        [hiddenAgenda]="true"></header>
</ion-header>

<ion-content padding>
    <p class="visitEditTxt">{{ editTxt }}</p>
    <ion-card>
        <ion-item *ngIf="visit.Status__c"
            class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>
            {{ visit.Status__c }}</ion-item>

        <ion-card-header class="flex-space-between" tappable (tap)="showHybrid = !showHybrid">
            <div class="flex" clear>
                <label>Híbrido de visitas</label>
                <ion-icon *ngIf="!showHybrid" name="ios-arrow-down-outline" class="right"></ion-icon>
                <ion-icon *ngIf="showHybrid" name="ios-arrow-up-outline" class="right"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content *ngIf="showHybrid">
            <ion-list>
                <div *ngFor="let hybrid of visit.Hibrido_de_Visita__c; let i = index;">
                    <ion-item class="hybrid-label">
                        <ion-input type="text" [(ngModel)]="hybrid.BR_HybridName__c" [disabled]="true"></ion-input>
                        <button ion-button icon-only item-end clear class="remove-item" (click)="removeHybrid(i)"
                            [disabled]="isReadOnly" *ngIf="!visit.GerDemandaId__c && !isReadOnly">
                            <ion-icon name="close"></ion-icon>
                        </button>
                    </ion-item>
                    <ion-item class="praga-label">
                        <ion-label>Adicionar Praga</ion-label>
                    </ion-item>
                    <ion-buttons>
                        <div *ngFor="let j of [0,1,2]">
                            <button (click)="openPlagueModal(i, j)" class="button-empty" *ngIf="!hybrid.Plagues[j]"
                                [disabled]="isReadOnly">+</button>
                            <button (click)="removePlague(i, j)" class="remove-item button-filled"
                                *ngIf="hybrid.Plagues[j]" [disabled]="isReadOnly">
                                <ion-icon class="icon-remove" name="md-close" item-start *ngIf="!isReadOnly"></ion-icon>
                                {{ hybrid.Plagues[j].Qual__c }}
                            </button>
                        </div>
                    </ion-buttons>
                </div>
                <button ion-button class="button-card" [disabled]="isReadOnly || visit.GerDemandaId__c" outline
                    (click)="openHybridModal()">Adicionar Híbrido</button>
            </ion-list>
        </ion-card-content>

        <ion-card-header tappable (tap)="showPlague = !showPlague">
            <div class="flex" clear>
                <label>Manejo de Praga</label>
                <ion-icon *ngIf="!showPlague" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
                <ion-icon *ngIf="showPlague" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content *ngIf="showPlague" class="content-toggle">
            <ion-item>
                <ion-label class="card-p">Foi feito controle de doenças com fungicida? <span class="red">*</span>
                </ion-label>
            </ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <div class="toggle">
                            <ion-label class="card-p">Não</ion-label>
                            <ion-toggle mode="md" [(ngModel)]="visit.BR_has_disease_control_fungicide__c"
                                (ionChange)="onFungicideDiseaseChange()" [disabled]="isReadOnly"></ion-toggle>
                            <ion-label class="card-p">Sim</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-item class="input-style" *ngIf="visit.BR_has_disease_control_fungicide__c"
                (click)="!isReadOnly && openFungicideProductModal()">
                <ion-label floating>Produto fungicida</ion-label>
                <ion-input disabled type="text" [(ngModel)]="visit.BR_fungicide_product__c" disabled></ion-input>
                <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
            </ion-item>

            <ion-item>
                <ion-label class="card-p">O stand está bem estabelecido? <span class="red">*</span></ion-label>
            </ion-item>
            <div class="toggle">
                <ion-label class="card-p">Não</ion-label>
                <ion-toggle mode="md" [(ngModel)]="visit.BR_stand_well_established__c" [disabled]="isReadOnly">
                </ion-toggle>
                <ion-label class="card-p">Sim</ion-label>
            </div>

            <ion-item>
                <ion-label class="card-p">Houve falha no plantio? <span class="red">*</span></ion-label>
            </ion-item>
            <div class="toggle">
                <ion-label class="card-p">Não</ion-label>
                <ion-toggle mode="md" [(ngModel)]="visit.BR_failed_planting__c" (ionChange)="clearFailedPlanting()"
                    [disabled]="isReadOnly"></ion-toggle>
                <ion-label class="card-p">Sim</ion-label>
            </div>
            <ion-item class="input-style" *ngIf="visit.BR_failed_planting__c">
                <ion-label floating>Qual o motivo?</ion-label>
                <ion-input class="input-add" maxlength="250" [disabled]="isReadOnly" type="text"
                    [(ngModel)]="visit.BR_reason__c" no-special-character></ion-input>
            </ion-item>

        </ion-card-content>

        <div class="geolocation">
            <geolocation [location]="geolocation" [isReadOnly]="isReadOnly"
                (onLocationChange)="updateGeolocation($event);"></geolocation>
        </div>

        <ion-card-content class="container-obs">
            <ion-item class="input-style">
                <ion-label floating>Observações</ion-label>
                <ion-textarea [auto-resize-textarea]="120" rows="1" class="card-input" maxlength="240" type="text"
                    [(ngModel)]="visit.Observacao__c" [disabled]="isReadOnly"></ion-textarea>
            </ion-item>

            <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
        </ion-card-content>

    </ion-card>
    <div class="container-footer" *ngIf="!isReadOnly">
        <button ion-button class="btn-footer" outline [disabled]="isReadOnly" (click)="cancelVisit()">CANCELAR</button>
        <button *ngIf="!editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly || isSaveDisabled()" (click)="completeVisit()">CONCLUIR</button>
        <button *ngIf="editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly || isSaveDisabled()" (click)="completeVisit()">SALVAR</button>
    </div>
</ion-content>