harvest-info-hybrid-modal {
 
  input,
  input[disabled],
  ion-select {
    text-align: right !important;
  }

  ion-item{
    margin:0 !important;
  }

  .input-grey {
    background-color: color($colors, border-content-color);
    margin: 2px 0 2px 0 !important;
    .label-input-style {
      padding: 0 14px !important;
    }
  }

  .title-label{
    margin: 1em 0 1em 0 !important;
  }

  
 
}
