<ion-content class="modal" padding>
  <ion-card>
    <ion-card-header class="modal-header">
      <div class="filter-header">
        <div>
          <ion-icon class="close" name="close" (click)="dismiss()"></ion-icon>
        </div>
        <ion-item text-center class="title">Híbrido - {{ hybridVisit.BR_HybridName__c }}</ion-item>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-label class="label-input-style title-label">Ciclo de dias</ion-label>
      </ion-row>

      <ion-row>
        <ion-label>{{hybridVisit.BR_DayCycle__c || '-'}}</ion-label>
      </ion-row>

      <ion-item class="input-grey Wno-border-disabled">
        <ion-label class="label-input-style" text-wrap>População Final</ion-label>
        <ion-select [disabled]="isReadOnly" interface="popover" placeholder="Selecione" [(ngModel)]="hybridVisit.Populacao_Final__c">
          <ion-option *ngFor="let item of iPopulacaoFinal" value="{{item.value}}">{{item.label}}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-grey no-border-disabled">
        <ion-label class="label-input-style" text-wrap>Grão Ardido (%)</ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Percentual_de_Grao_Ardido__c" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Percentual_de_Grao_Ardido__c && !checkPercentualGraoArdido()" class="err-input">Valor tem que ser entre 0 e 100.</ion-label>

      <ion-item class="input-grey no-border-disabled">
        <ion-label class="label-input-style" text-wrap>% Acamamento</ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.BR_Lodging__c" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.BR_Lodging__c && !checkLodging()" class="err-input">Valor tem que ser entre 0 e 100.</ion-label>

      <ion-item class="input-grey no-border-disabled">
        <ion-label class="label-input-style" text-wrap>Umidade (%)<span class="red"> *</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Umidade__c" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Umidade__c && !checkUmidade()" class="err-input">Valor tem que ser entre 10 e 40.</ion-label>

      <ion-item class="input-grey no-border-disabled" *ngIf="isSilage">
        <ion-label class="label-input-style" text-wrap>T/Ha<span class="red"> *</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="2" mask="##" [(ngModel)]="hybridVisit.BR_THa__c" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="isSilage && hybridVisit.BR_THa__c && !checkTHa()" class="err-input">Valor tem que ser entre 1 e 80.</ion-label>

      <ion-item class="input-grey no-border-disabled" *ngIf="!isSilage">
        <ion-label class="label-input-style lbl-max-width" text-wrap>Produtividade<br>Líquida (Kg/ha)<span class="red"> *</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="5" mask="#####"[(ngModel)]="hybridVisit.PRODUTIVIDADE_LIQ_13__c" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="!isSilage && hybridVisit.PRODUTIVIDADE_LIQ_13__c && !checkLiquidProductivity()" class="err-input">Valor tem que ser entre 2000 e 25000.</ion-label>

      <ion-item class="input-grey no-border-disabled">
        <ion-label class="label-input-style" text-wrap>Área Colhida (ha)<span class="red"> *</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="6" mask="######" [(ngModel)]="hybridVisit.Area_Colhida__c" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="plantingArea && hybridVisit.Area_Colhida__c && !checkAreaColhida()" class="err-input">Valor tem que ser igual ou menor do que {{ plantingArea }}</ion-label>

      <ion-item class="input-styleg date no-border-disabled">
        <ion-label class="label-input-style opacity-1" floating>Data da colheita</ion-label>
        <ion-datetime [disabled]="isReadOnly" [(ngModel)]="hybridVisit.BR_HarvestDate__c" pickerFormat="DD MM YYYY" displayFormat="DD/MM/YY"></ion-datetime>
        <ion-icon name="ai-agenda" class="calendar-icon" item-right></ion-icon>
      </ion-item>

      <div class="apply-content">
        <button (click)="closeModal()" [disabled]="savedEnable()" *ngIf="!isReadOnly">Cadastrar</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
