home {
  .scroll-content {
    padding: 0 !important;
  }
  ion-card-content {
    .card-content {
      padding: 5px 16px 0 0 !important;
    }
  }
  .agenda-link {
    align-items: baseline;
    color: color($colors, primary);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: bold;
    justify-content: flex-end;
    line-height: 1.33;
    margin: 20px 0 16px 0;
    span {
      margin-right: 10px;
    }
    ion-icon:before {
      font-size: 12px;
    }
  }

  .card {
    margin: 0 !important;
}
.welcome {
    font-family: "Roboto-Medium";
    color: color($colors, primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 2.0;
}
.now {
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: color($colors, gray-ambient);
    border-bottom: solid 1px color($colors, gray-light);
    padding-bottom: 7px;
}

}
