<ion-header>
  <header [hiddenFilter]="true" [showBackLogError]="syncError" [pageReturn]="pageReturn" [hiddenSync]="hiddenSyncHeader" [countSyncBadge]="countSyncBadge" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="false" [showLogo]="true" [namePage]="'HomePage'"></header>
</ion-header>

<ion-content [ngClass]="'blockScroll-' + blockScroll">

    <!-- <ion-item style="padding: 5px;">
        <ion-label>Gerar erros na proxima sincronização error</ion-label>
        <ion-toggle [(ngModel)]="geradorDeErroVar" (ionChange)="geradorDeErro($event)"></ion-toggle>
      </ion-item> -->
    
  <synchronism></synchronism>
  <!-- <synchronism></synchronism> -->
  <sync-error *ngIf="syncError" [filter]="filterErro"></sync-error>
  <div class="padding-card" *ngIf="!syncError">
  <!-- <div class="padding-card" > -->
    <welcome-card *ngIf="!syncError"></welcome-card>

    <ion-card-content class="card-content card-content-md" style="padding: 13px 13px 13px 13px; font-size: 5px;">
    <div (click)="showError()" class="welcome" style="
    font-size: 10px;
    text-transform: uppercase;
    background: #006633;
    color: #fff;
    line-height: 15px;
    padding: 5px;
    margin: 0px;
    border-radius: 5px;
    width: auto !important;
    text-align: center;">
      Ver visitas com erro
    </div>
    </ion-card-content>

    <ion-card>
      <ion-card-content>
        <events-card></events-card>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
