<ion-header>
    <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"
        [hiddenAgenda]="true"></header>
</ion-header>

<ion-content padding class="container">
    <p class="visitEditTxt">{{ editTxt }}</p>
    <ion-card>
      <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>{{ visit.Status__c }}</ion-item>

        <ion-card-header tappable (tap)="showHybrid = !showHybrid">
            <div class="flex" clear>
                Híbridos de visitas
                <ion-icon *ngIf="!showHybrid" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
                <ion-icon *ngIf="showHybrid" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content class="content-border-bottom" *ngIf="showHybrid">
          <ion-list>
            <div *ngFor="let hybrid of visit.Hibrido_de_Visita__c; let i = index;">
              <ion-item class="input-style hybrid-label input-no-border">
                <ion-label tappable (click)="openPrePlantingAddHybridModal(i)">{{hybrid.BR_HybridName__c}}</ion-label>
                <button ion-button icon-only item-end clear class="remove-item" (click)="removeHybrid(i)" *ngIf="!isReadOnly">
                  <ion-icon name="close"></ion-icon>
                </button>
              </ion-item>
            </div>
          </ion-list>
          <button ion-button class="button-card hybrid" outline (click)="openPrePlantingAddHybridModal(null)" [disabled]="isReadOnly" *ngIf="!isFull">Adicionar Híbrido</button>
        </ion-card-content>

        <ion-card-header tappable (tap)="showProductUsed = !showProductUsed">
            <div class="flex" clear>
                <label>Manejo de Planta Daninha</label>
                <ion-icon *ngIf="showProductUsed" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
                <ion-icon *ngIf="!showProductUsed" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content *ngIf="showProductUsed" class="content-toggle">
            <p class="card-p">Foi realizado manejo na colheita ou pós colheita da última cultura? <span class="red">*</span></p>
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <div class="toggle">
                            <ion-label class="card-p">Não</ion-label>
                            <ion-toggle mode="md" [(ngModel)]="visit.BR_handling_held_harvest_postharvest__c" (ionChange)="showProductsUsedSelection()"
                                [disabled]="isReadOnly"></ion-toggle>
                            <ion-label class="card-p">Sim</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-item class="input-style" *ngIf="visit.BR_handling_held_harvest_postharvest__c" (click)="!isReadOnly && openProductUsedModal()">
                <ion-label class="line-size" floating>Tipo de herbicida</ion-label>
                <ion-input disabled type="text" [(ngModel)]="visit.BR_ProductUsed__c"></ion-input>
                <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
            </ion-item>

        </ion-card-content>

        <ion-card-header tappable (tap)="showPlague = !showPlague">
            <div class="flex" clear>
                <label>Manejo de Praga</label>
                <ion-icon *ngIf="!showPlague" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
                <ion-icon *ngIf="showPlague" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content *ngIf="showPlague" class="content-toggle">
            <p class="card-p">Existem pragas remanescentes da cultura anterior? <span class="err-input">*</span></p>
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <div class="toggle">
                            <ion-label class="card-p">Não</ion-label>
                            <ion-toggle mode="md" [(ngModel)]="visit.BR_plagues_remaning_previous_culture__c" (ionChange)="showPestSelection()" [disabled]="isReadOnly"></ion-toggle>
                            <ion-label class="card-p">Sim</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-item class="input-style" *ngIf="visit.BR_plagues_remaning_previous_culture__c" (click)="!isReadOnly && openPlagueModal()">
                <ion-label class="line-size" floating>Tipo de Praga</ion-label>
                <ion-input disabled type="text" [(ngModel)]="visit.BR_PragueWhichAttackedArea__c"></ion-input>
                <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
            </ion-item>

        </ion-card-content>

        <div class="geolocation">
            <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event)"></geolocation>
        </div>

        <ion-card-content class="container-obs">
          <ion-item class="input-style">
            <ion-label floating>Observações</ion-label>
            <ion-textarea [auto-resize-textarea]="120" rows="1" class="card-input" maxlength="240" type="text" [(ngModel)]="visit.Observacao__c" [disabled]="isReadOnly"></ion-textarea>
          </ion-item>

          <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
        </ion-card-content>

    </ion-card>

    <div class="container-footer" *ngIf="!isReadOnly">
        <button ion-button class="btn-footer" outline tappable (click)="cancelVisit()" [disabled]="isReadOnly">CANCELAR</button>
        <button *ngIf="!editStatus" ion-button class="btn-footer right" tappable (click)="completeVisit()" [disabled]="isReadOnly || isSaveDisabled()">CONCLUIR</button>
        <button *ngIf="editStatus" ion-button class="btn-footer right" tappable (click)="completeVisit()" [disabled]="isReadOnly || isSaveDisabled()">CONCLUIR</button>
    </div>

</ion-content>
