<ion-content class="modal" padding>
  <ion-card>
    <ion-card-header class="modal-header">
      <ion-item class="filter-header" text-center>
        <ion-icon class="close" name="close" (click)="closeModal()" item-left></ion-icon>
        <ion-label class="title">Relatório da Jornada</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="search">
        <ion-label floating>Pesquisar</ion-label>
        <ion-input type="text" [(ngModel)]="currentSearch"></ion-input>
        <ion-icon class="search-icon" name="search" item-right></ion-icon>
      </ion-item>
      <ion-list text-center class="height-list" *ngIf="!contactsList || contactsList.length === 0">
        Não há contatos para este cliente.<br>É necessário adicionar um novo contato primeiro.
      </ion-list>
      <ion-list class="modal-filters height-list max-height-list" *ngIf="contactsList && contactsList.length > 0">
        <div *ngFor="let item of contactsList | orderBy: 'label' | searchProductUsed:currentSearch; let i = index;">
          <ion-item class="input-style">
            <ion-label class="text-ellipsis">{{ item.label }}</ion-label>
            <ion-checkbox item-end class="card-input character-limit" [(ngModel)]="item.checked" (ionChange)="managerItem(item)"></ion-checkbox>
          </ion-item>
        </div>
      </ion-list>
      <div class="apply-content">
        <button class="clear-btn" (click)="addContact()">NOVO CONTATO</button>
        <button class="add-btn" (click)="apply()">CONFIRMAR</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
