<ion-header>
    <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false" [hiddenAgenda]="true"></header>
</ion-header>

<ion-content padding>
    <p class="visitEditTxt">{{ editTxt }}</p>
    <ion-card>
      <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>{{ visit.Status__c }}</ion-item>

        <ion-card-header class="flex-space-between" tappable (tap)="showHybrid = !showHybrid">
            <div class="flex" clear>
                <label>Híbrido de visitas</label>
                <ion-icon *ngIf="!showHybrid" name="ios-arrow-down-outline" class="right"></ion-icon>
                <ion-icon *ngIf="showHybrid" name="ios-arrow-up-outline" class="right"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content *ngIf="showHybrid">
            <ion-list>
                <div *ngFor="let hybrid of visit.Hibrido_de_Visita__c; let i = index;">
                    <ion-item class="hybrid-label">
                        <ion-input type="text" [(ngModel)]="hybrid.BR_HybridName__c" [disabled]="true"></ion-input>
                        <button ion-button icon-only item-end clear class="remove-item" (click)="removeHybrid(i)" [disabled]="isReadOnly" *ngIf="!visit.GerDemandaId__c && !isReadOnly">
                          <ion-icon name="close"></ion-icon>
                        </button>
                    </ion-item>
                    <ion-item class="praga-label no-margin-top">
                        <ion-label>Adicionar Praga</ion-label>
                    </ion-item>
                    <ion-buttons>
                      <div *ngFor="let p of [0,1,2]">
                        <button (click)="openPlagueModal(i, p)" class="button-empty" *ngIf="!hybrid.Plagues[p]" [disabled]="isReadOnly">+</button>
                        <button (click)="removePlague(i, p)" class="remove-item button-filled" *ngIf="hybrid.Plagues[p]" [disabled]="isReadOnly">
                          <ion-icon *ngIf="!isReadOnly" class="icon-remove" name="md-close" item-start></ion-icon>
                          {{ hybrid.Plagues[p].Qual__c }}
                        </button>
                      </div>
                    </ion-buttons>
                </div>
                <button ion-button class="button-card hybrid" [disabled]="isReadOnly || visit.GerDemandaId__c" outline (click)="openHybridModal()">Adicionar Híbrido</button>
            </ion-list>
        </ion-card-content>

        <div class="geolocation">
            <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event);"></geolocation>
        </div>

        <ion-card-content class="container-obs">
            <ion-item class="input-style">
                <ion-label floating>Observações</ion-label>
                <ion-textarea [auto-resize-textarea]="120" rows="1" class="card-input" maxlength="240" type="text" [(ngModel)]="visit.Observacao__c" [disabled]="isReadOnly"></ion-textarea>
            </ion-item>

            <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
        </ion-card-content>

    </ion-card>
    <div class="container-footer" *ngIf="!isReadOnly">
        <button ion-button class="btn-footer" outline [disabled]="isReadOnly" (click)="cancelVisit()">CANCELAR</button>
        <button *ngIf="!editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly" (click)="completeVisit()">CONCLUIR</button>
        <button *ngIf="editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly" (click)="completeVisit()">SALVAR</button>
    </div>
</ion-content>
