<ion-card class="form-card">
<ion-card-content class="form-card-content background-{{ info.brand ? brandInfo[info.brand].color : 'brandInfo.default.color' }}">

    <ion-item *ngIf="info.brand">
      <img class="logo-brand" src="{{ brandInfo[info.brand].icon }}"/>
    </ion-item>

    <ion-item *ngIf="info.name !== undefined">
      <ion-label floating>Reponsável</ion-label>
      <ion-input class="font-white" disabled type="text" value="{{ info.name }}"></ion-input>
    </ion-item>

    <ion-item *ngIf="info.date !== undefined">
      <ion-label floating>Data da visita</ion-label>
      <ion-input class="font-white" disabled type="text" value="{{ info.date }}"></ion-input>
      <ion-icon item-right name="ai-agenda"></ion-icon>
    </ion-item>

    <ion-item *ngIf="info.farmer !== undefined">
      <ion-label floating>Agricultor</ion-label>
      <ion-input class="font-white" disabled type="text" value="{{ info.farmer }}"></ion-input>
    </ion-item>

    <ion-item *ngIf="info.farm !== undefined">
      <ion-label floating>Fazenda</ion-label>
      <ion-input class="font-white" disabled type="text" value="{{ info.farm }}"></ion-input>
    </ion-item>

    <ion-item *ngIf="info.geolocation !== undefined">
      <ion-label floating>Geolocalização</ion-label>
      <ion-input class="font-white" disabled type="text" value="{{ info.geolocation }}"></ion-input>
      <img item-right class="ai-gps-white" src="./assets/icon/gps-white.svg">
      <!-- <ion-icon item-right name="ai-gps"></ion-icon> -->
    </ion-item>

  </ion-card-content>
</ion-card>
