report-header {

  .background-blue{
    background: color($colors, blue-report-card);
  }
  .background-green{
    background: color($colors, green-report-card);
  }
  .background-red{
    background: color($colors, red-report-card);
  }

  .logo-brand{
    width: 150px;
    height: auto;
    margin: auto;
  }

  ion-label, 
  ion-icon, 
  ion-item button img,
  input.text-input, 
  .item-input-disabled input,
  ion-icon::before{ 
    color: #fff !important;
  }
  
}
