page-corn-planting-create {
  
  .perc,
  .perc .item-inner {
    margin: 0 !important;
    padding: 0 !important;
    ion-input {
      margin-bottom: -14px !important;
    }
  }

  .input-style{
    margin-right: 3px;
  }

  .flex-container{
    display: flex;
    justify-content: space-between;
  }
}
