<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"></header>
</ion-header>

<ion-content padding class="container">
  <p class="visitEditTxt">{{ editTxt }}</p>
  <ion-card>
    <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>{{ visit.Status__c }}</ion-item>

    <ion-card-header tappable (tap)="showHybrid = !showHybrid">
      <div class="flex" clear>
        Híbrido de visitas
        <ion-icon *ngIf="!showHybrid" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showHybrid" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content class="content-border-bottom" *ngIf="showHybrid">
      <ion-list>
        <div *ngFor="let hybrid of visit.Hibrido_de_Visita__c; let i = index;">
          <ion-item class="hybrid-label">
            <ion-label tappable (click)="openPlantingAddHybridModal(i)">{{hybrid.BR_HybridName__c}}</ion-label>
            <button ion-button icon-only item-end clear class="remove-item" (click)="removeHybrid(i)" *ngIf="!isReadOnly">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item>
        </div>
      </ion-list>

      <button ion-button class="button-card hybrid" outline (click)="openPlantingAddHybridModal(null)" [disabled]="isReadOnly">Adicionar Híbrido</button>
    </ion-card-content>
    <ion-card-header tappable (tap)="showInformation = !showInformation">
      <div class="flex" clear>
        Informações da visita
        <ion-icon *ngIf="showInformation" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="!showInformation" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="showInformation">
      <ion-list>
        <ion-item class="input-style">
          <ion-label floating>Espaçamento (cm)
            <span class="red">*</span>
          </ion-label>
          <ion-input class="card-input" type="tel" [(ngModel)]="visit.Espacamento__c" maxlength="3" mask="###" [disabled]="isReadOnly"></ion-input>
        </ion-item>
        <ion-label [hidden]="checkEspacamento(visit.Espacamento__c)" class="err-input">Valor incorreto, tente um número de 40 a 100.</ion-label>

        <ion-label class="text-small">Adubação de base (Kg/ha)</ion-label>
        <div style="display: flex">
          <ion-item class="input-style input-item">
            <ion-label floating>N
              <span class="red">*</span>
            </ion-label>
            <ion-input class="card-input" type="tel" maxlength="3" mask="###" [(ngModel)]="visit.BR_BaseFertilizationN__c" [disabled]="isReadOnly"></ion-input>
          </ion-item>
          <ion-item class="input-style input-item">
            <ion-label floating>P
              <span class="red">*</span>
            </ion-label>
            <ion-input class="card-input" type="tel" maxlength="3" mask="###" [(ngModel)]="visit.BR_BaseFertilizationP__c" [disabled]="isReadOnly"></ion-input>
          </ion-item>
          <ion-item class="input-style input-item" clear>
            <ion-label floating>K
              <span class="red">*</span>
            </ion-label>
            <ion-input class="card-input" type="tel" maxlength="3" mask="###" [(ngModel)]="visit.BR_BaseFertilizationK__c" [disabled]="isReadOnly"></ion-input>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>

    <ion-card-content>
      <p class="card-p">Plantou áreas de refúgio?
        <span class="red">*</span>
      </p>
      <ion-grid>
        <ion-row>
          <div class="toggle">
            <ion-label class="card-p">Não</ion-label>
            <ion-toggle mode="md" [(ngModel)]="visit.BR_plant_area_refuge__c" (ionChange)="visit.BR_percentage_refuge_areas__c = ''"
              [disabled]="isReadOnly"></ion-toggle>
            <ion-label class="card-p">Sim</ion-label>
          </div>
        </ion-row>
        <ion-row>

          <ion-item class="input-style" *ngIf="visit.BR_plant_area_refuge__c">
            <ion-label floating>Percentual</ion-label>
            <ion-input class="card-input" type="tel" maxlength="3" mask="###" [(ngModel)]="visit.BR_percentage_refuge_areas__c" [disabled]="isReadOnly" only-numbers></ion-input>
          </ion-item>
          <ion-label [hidden]="checkPercent(visit.BR_percentage_refuge_areas__c)" class="err-input">Valor incorreto, tente um número de 0 a 100.</ion-label>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-header tappable (tap)="showWeedHandling = !showWeedHandling">
      <div class="flex" clear>
        Manejo de Planta Daninha
        <ion-icon *ngIf="!showWeedHandling" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showWeedHandling" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="showWeedHandling">
      <p class="card-p">Encontrou plantas daninhas resistentes?
        <span class="red">*</span>
      </p>

      <div class="toggle">
        <ion-label class="card-p">Não</ion-label>
        <ion-toggle mode="md" [disabled]="isReadOnly" [(ngModel)]="visit.BR_plants_weeds_resistant__c" (ionChange)="removeAllWeedHandling()"></ion-toggle>
        <ion-label class="card-p">Sim</ion-label>
      </div>

      <div *ngIf="visit.BR_plants_weeds_resistant__c">
        <ion-item class="toggle-label">
          <ion-label>Adicionar planta daninha</ion-label>
        </ion-item>
        <ion-buttons>
          <div *ngFor="let i of [0,1,2]">
            <button (click)="openWeedHandlingModal(i)" class="button-empty" *ngIf="!visit.BR_WeedHandling__c[i]" [disabled]="isReadOnly">+</button>
            <button (click)="removeWeedHandling(i)" class="button-filled" *ngIf="visit.BR_WeedHandling__c[i]" [disabled]="isReadOnly"
              text-wrap>
              <ion-icon class="icon-remove" name="md-close"></ion-icon>
              {{ visit.BR_WeedHandling__c[i].BR_WeedType__c }}
            </button>
          </div>
        </ion-buttons>
      </div>
    </ion-card-content>

    <div class="geolocation">
      <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event);"></geolocation>
    </div>

    <ion-card-content class="container-obs">
      <ion-item class="input-style">
        <ion-label floating>Observações</ion-label>
        <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="240" type="text" [(ngModel)]="visit.Observacao__c"
          [disabled]="isReadOnly"></ion-textarea>
      </ion-item>

      <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
    </ion-card-content>

  </ion-card>

  <div class="container-footer" *ngIf="!isReadOnly">
    <button ion-button class="btn-footer" outline tappable (click)="cancelVisit()" [disabled]="isReadOnly">CANCELAR</button>
    <button *ngIf="!editStatus" ion-button class="btn-footer right" tappable (click)="completeVisit()" [disabled]="isSaveDisabled() || isReadOnly">CONCLUIR</button>
    <button *ngIf="editStatus" ion-button class="btn-footer right" tappable (click)="completeVisit()" [disabled]="isSaveDisabled() || isReadOnly">SALVAR</button>
  </div>

</ion-content>
