<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"
    [hiddenAgenda]="true"></header>
</ion-header>

<ion-content padding>
  <p class="visitEditTxt">{{ editTxt }}</p>
  <ion-card>
    <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}"
      text-center>{{ visit.Status__c }}</ion-item>

    <ion-card-header class="flex-space-between" tappable (tap)="showInformationData = !showInformationData">
      <div class="flex" clear>
        <label>Informações da visita</label>
        <ion-icon *ngIf="!showInformationData" name="ios-arrow-down-outline" class="right"></ion-icon>
        <ion-icon *ngIf="showInformationData" name="ios-arrow-up-outline" class="right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="showInformationData" class="fix-margin-bottom">
      <ion-list>
        <ion-item>
          <ion-label class="card-p">Permitir divulgação de resultado? <span class="red">*</span></ion-label>
        </ion-item>

        <div class="toggle">
          <ion-label class="card-p">Não</ion-label>
          <ion-toggle mode="md" [disabled]="isReadOnly" [(ngModel)]="visit.divulgacao_de_resultado__c"></ion-toggle>
          <ion-label class="card-p">Sim</ion-label>
        </div>

        <ion-item>
          <ion-label class="card-p">É silagem? <span class="red">*</span></ion-label>
        </ion-item>

        <div class="toggle">
          <ion-label class="card-p">Não</ion-label>
          <ion-toggle mode="md" [disabled]="isReadOnly" [(ngModel)]="visit.BR_Silage__c" (ionChange)="silageChange()">
          </ion-toggle>
          <ion-label class="card-p">Sim</ion-label>
        </div>
      </ion-list>
    </ion-card-content>

    <ion-card-header tappable (tap)="showHybridData = !showHybridData">
      <div class="flex" clear>
        Híbrido de visitas
        <ion-icon *ngIf="!showHybridData" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showHybridData" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="showHybridData">
      <ion-list>
        <div *ngFor="let hybrid of visit.Hibrido_de_Visita__c; let i = index;">
          <ion-item class="hybrid-label">
            <ion-label tappable (click)="openInfoHybrid(i)">{{hybrid.BR_HybridName__c}}<span class="red"> *</span>
            </ion-label>
            <button ion-button icon-only item-end clear *ngIf="!visit.GerDemandaId__c && !isReadOnly" tappable
              (click)="!isReadOnly && removeHybrid(i)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item>
          <p *ngIf="!checkHybridsIntegrity(i) && visit.BR_Silage__c" class="err-input">Atualizar o campo T/Ha.</p>
          <p *ngIf="!checkHybridsIntegrity(i) && !visit.BR_Silage__c" class="err-input">Atualizar o campo Produtividade.
          </p>
        </div>
      </ion-list>
      <button ion-button class="button-card hybrid" outline (click)="openHybridModal(null)"
        [disabled]="isReadOnly || visit.GerDemandaId__c">Adicionar Híbrido</button>

      <ion-item>
        <ion-label class="card-p">Há manifestação de Planta Daninha? <span class="red">*</span></ion-label>
      </ion-item>

      <div class="toggle">
        <ion-label class="card-p">Não</ion-label>
        <ion-toggle mode="md" [disabled]="isReadOnly" [(ngModel)]="visit.BR_infestation_weed__c"
          (ionChange)="removeAllWeedHandling()"></ion-toggle>
        <ion-label class="card-p">Sim</ion-label>
      </div>

      <div *ngIf="visit.BR_infestation_weed__c">
        <ion-item class="toggle-label">
          <ion-label>Adicionar planta daninha</ion-label>
        </ion-item>
        <ion-buttons>
          <div *ngFor="let i of [0,1,2]">
            <button (click)="openWeedHandlingModal(i)" class="button-empty" *ngIf="!visit.BR_WeedHandling__c[i]"
              [disabled]="isReadOnly">+</button>
            <button (click)="removeWeedHandling(i)" class="remove-item button-filled"
              *ngIf="visit.BR_WeedHandling__c[i]" [disabled]="isReadOnly" text-wrap>
              <ion-icon class="icon-remove" name="md-close"></ion-icon>{{ visit.BR_WeedHandling__c[i].BR_WeedType__c }}
            </button>
          </div>
        </ion-buttons>
      </div>
    </ion-card-content>

    <div class="geolocation">
      <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event);">
      </geolocation>
    </div>

    <ion-card-content class="container-obs">
      <ion-item class="input-style">
        <ion-label floating>Observações</ion-label>
        <ion-textarea class="opacity-1" [auto-resize-textarea]="120" rows="1" maxlength="240" type="text"
          [(ngModel)]="visit.Observacao__c" [disabled]="isReadOnly"></ion-textarea>
      </ion-item>

      <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
    </ion-card-content>

  </ion-card>
  <div class="container-footer" *ngIf="!isReadOnly">
    <button ion-button class="btn-footer" outline [disabled]="isReadOnly" (click)="cancelVisit()">CANCELAR</button>
    <button ion-button *ngIf="!editStatus" class="btn-footer right" type="submit" (click)="completeVisit()"
      [disabled]="isReadOnly || isSaveDisabled()">CONCLUIR</button>
    <button ion-button *ngIf="editStatus" class="btn-footer right" type="submit" (click)="completeVisit()"
      [disabled]="isReadOnly || isSaveDisabled()">SALVAR</button>
  </div>
</ion-content>