<ion-header>
  <header [hiddenAgenda]="true" [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [showBack]="false" [showLogo]="false"></header>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-card-header>
      Meus Dados
    </ion-card-header>
    <ion-card-content>
      <ion-list class="padding-list">
        <ion-item>
          <ion-label floating>Nome Completo</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="settingsName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Distrito</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="settingsDistrict"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Regional</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="settingsRegional"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Marca</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="settingsMarca"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-header>
      Sobre o aplicativo
    </ion-card-header>
    <ion-card-content>
      <ion-list class="padding-list">
        <ion-item>
          <ion-label floating>Data da última sincronização</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="lastSynchronismDateMessage"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Versão do aplicativo</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="versionNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Versão do {{platformName}}</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="platformVersion"></ion-input>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
  <div class="edit-buttons">
    <button ion-button full class="danger-button" tappable (click)="showAlertCancelSync()">Sair</button>
  </div>
</ion-content>
