<ion-header>
  <header [hiddenAgenda]="true" [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [showBack]="false" [showLogo]="false"></header>
</ion-header>

<ion-content padding>
  <div *ngIf="!notifications || notifications.length === 0" class="no-notification" text-wrap>Nenhuma notificação no momento</div>

  <ion-item tappable (tap)="openEventDetail(i)" *ngFor="let item of notifications; let i = index" class="no-border line-light text-style">
    <ion-grid>
      <ion-row class="visit-content">
        <span>Sua visita está atrasada!</span>
      </ion-row>
      <ion-row class="visit-content">
        <span class="light-style"><b>Tipo:</b></span>&nbsp;
        <span class="visit-style" text-wrap *ngIf="item.BR_Tipo_de_Visita__c">{{item.BR_Tipo_de_Visita__c}}</span>
        <span class="visit-style" text-wrap *ngIf="!item.BR_Tipo_de_Visita__c">Sessão de Coaching de Vendas</span>
      </ion-row>
      <ion-row *ngIf="item.Location">
        <span class="light-style"><b>Local: </b>{{item.Location}}</span>
      </ion-row>
      <ion-row>
        <span class="light-style">{{item.StartDateTimeToShow}}</span>
      </ion-row>
    </ion-grid>
    <ion-icon name="ai-arrow-right" class="arrow-list-small"></ion-icon>
  </ion-item>
</ion-content>
