notification-page {
  .item-block .item-inner {
    border-bottom: 0;
  }
  .no-notification {
    margin-top: 3em;
    text-align: center;
  }
  .text-style {
    font-family: "Roboto-Regular";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: color($colors, dark);
    .visit-style {
      font-weight: bold;
      font-family: "Roboto-Medium";
      color: color($colors, primary);
    }
    .light-style {
      font-family: "Roboto-Regular";
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: left;
      color: color($colors,gray-page);
    }
  }
}
