@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?kbflxl');
  src:  url('../assets/fonts/icomoon.eot?kbflxl#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf') format('truetype'),
    url('../assets/fonts/icomoon.woff?kbflxl') format('woff'),
    url('../assets/fonts/icomoon.svg?kbflxl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .ai-#{$arg}:before,
  .ion-ios-ai-#{$arg}:before,
  .ion-ios-ai-#{$arg}-outline:before,
  .ion-md-ai-#{$arg}:before,
  .ion-md-ai-#{$arg}-outline:before {
    content: $val;
    font-size: 26px;
  }
}

@include makeIcon(agenda, '\e901');
@include makeIcon(clients, '\e904');
@include makeIcon(home, '\e906');
@include makeIcon(notifications, '\e909');
@include makeIcon(sync-running, '\e911');
@include makeIcon(arrow-right, '\e914');
@include makeIcon(edit, '\e917');
@include makeIcon(filter, '\e919');
@include makeIcon(agenda-options, '\e91b');
@include makeIcon(settings, '\e90c');
@include makeIcon(sync, '\e90e');
@include makeIcon(gps, '\e91c');
