// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  main-evergreen: #003300,
  main-earth-gold: #CC3300,
  secondary-soft-olive: #dada72,
  secondary-strong-olive: #CCCC33,
  secondary-dark-red: #660000,
  tertiary-strong-orange: #CC6600,
  tertiary-orange: #FF9900,
  tertiary-light-orange: #FFCC99,
  feedback-negative: #CC0000,
  feedback-alert: #FFCC00,
  gray-ambient: #424B4B,
  gray-soft: #c3cccc,
  gray-page: #97A4A4,
  gray-light: #e6eeee,
  gray-background: #E9F0F0,
  gray-bg: #F3F6F6,
  gray-button: #a9b4b4,
  gray-h-label: #646e6e,
  primary: #006633,
  secondary:  #20315D,
  danger:     #CC0000,
  light:      #f4f4f4,
  dark:       #222,
  gray-text:  #666666,
  white:  #ffffff,
  text-all : #708671,
  text-list: #7aa27b,
  text-link : #82b383,
  outlook-event-background: #5da2da,
  outlook-event-bar: #4585b5,
  event-in-progress: #6699cc,
  border-content-color:#f2f6f6,
  blue-report-card: #104c97,
  green-report-card: #006c3d,
  red-report-card: #b61d22, 
  cyan-green: #16a085,
  red-orange: #e74c3c,
  yellow: #f1c40f,
  white-fa: #fafafa,
  white-f3: #f3f3f3,
  humbrol-38-lime: #669933,
  black-14: #141414,

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$checkbox-ios-icon-border-radius: 2px;
$checkbox-ios-background-color-on: #006633;
$checkbox-ios-icon-border-color-off: #97a4a4;
$checkbox-ios-icon-checkmark-color: #ffffff;

$searchbar-ios-input-search-icon-color: #ffffff;
$searchbar-ios-input-clear-icon-color: #ffffff;

$spinner-ios-crescent-color: #97A4A4;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$spinner-md-crescent-color: #97A4A4;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
