page-report {

  .edit-buttons ion-label,
  .edit-buttons .item-inner{
    padding: 0 !important;
    margin: 0 !important;
  }

  .cancel-button, .save-button{
    font-size: 14px !important;
    font-weight: 600 !important;
    width: 46% !important;
    height: 48px !important;
    margin-bottom: 16px !important;
    box-shadow: none !important;
  }

  .cancel-button{
    background-color: transparent !important;
    border: solid 2px color($colors, gray-page) !important;
    color: color($colors, gray-ambient) !important;
  }

}
