<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"></header>
</ion-header>

<ion-content padding>

  <report-header *ngIf="headerObj" [info]="headerObj"></report-header>
  <report-text *ngIf="principalMsgObj" [info]="principalMsgObj"></report-text>

  <report-information *ngIf="showInformation" [info]="informationObj"></report-information>

  <report-weed *ngIf="showInfoWeed" [info]="infoWeedObj"></report-weed>

  <report-weed *ngIf="showWeed" [info]="weedObj"></report-weed>
  <report-text *ngIf="showTextWeed" [info]="weedRecommendationObj"></report-text>

  <report-plague *ngIf="showPlague" [info]="plagueObj"></report-plague>
  <report-text *ngIf="showTextPlague" [info]="plagueRecommendationObj"></report-text>

  <ion-card class="form-card" *ngIf="visit.Observacao__c">
    <ion-card-header class="form-card-header" tappable (tap)="showObs = !showObs">
      <ion-item>
        <ion-label class="card-title">Observações</ion-label>
        <ion-icon *ngIf="showObs" item-right name="ios-arrow-down-outline"></ion-icon>
        <ion-icon *ngIf="!showObs" item-right name="ios-arrow-up-outline"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content *ngIf="showObs" class="form-card-content">
      <ion-item class="no-margin">
        <ion-textarea type="text" class="card-input" [auto-resize-textarea]="120" [(ngModel)]="visit.Observacao__c" disabled></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <report-image *ngIf="imageObj.length>0" [info]="imageObj"></report-image>

  <ion-item no-lines class="edit-buttons">
    <button ion-button class="cancel-button" tappable (click)="backPage(false)">SALVAR</button>
    <button ion-button class="save-button" tappable (click)="finishConfirm()">CONCLUIR</button>
  </ion-item>

</ion-content>
