<ion-content class="modal" padding>
  <ion-card>
    <ion-card-header class="modal-header">
      <ion-item class="filter-header" text-center>
        <ion-icon class="close" name="close" (click)="closeModal()" item-left></ion-icon>
        <ion-label class="text-ellipsis title">Adicionar Produto</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="input-style mg-t">
        <ion-label floating>Tipo de Informação
          <span class="red">*</span>
        </ion-label>
        <ion-select class="card-input" interface="popover" [(ngModel)]="cropProduct.BR_InformationType__c" [disabled]="isReadOnly" (ionChange)="onInformationTypeChange()">
          <ion-option *ngFor="let item of BR_InformationType__cList" value="{{ item.value }}">{{ item.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style input-margin" (click)="!isReadOnly && openCropCompetingProduct()">
        <ion-label floating>Produto concorrente
          <span class="red">*</span>
        </ion-label>
        <ion-input disabled type="text" [(ngModel)]="cropProduct.BR_ProductConcorrente__c" class="no-border-disabled"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style input-margin">
        <ion-label floating>Volume do concorrente (kg/l)</ion-label>
        <ion-input type="tel" maxlength="18" mask="##################" [(ngModel)]="cropProduct.BR_VolumeConcorrent__c" class="no-border-disabled" [disabled]="isReadOnly"></ion-input>
      </ion-item>

      <ion-item class="input-style input-margin">
        <ion-label floating>Moeda do concorrente</ion-label>
        <ion-select class="card-input" interface="popover" [(ngModel)]="cropProduct.BR_MoneyConcorrente__c" [disabled]="isReadOnly">
          <ion-option *ngFor="let item of BR_MoneyConcorrente__cList" value="{{ item.value }}">{{ item.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style input-margin">
        <ion-label floating>
          Vencimento do concorrente
        </ion-label>
        <ion-datetime class="card-input" [(ngModel)]="cropProduct.BR_VencimentoDoConcorrente__c" [min]="year" pickerFormat="DD MM YYYY" displayFormat="DD/MM/YY"
          [disabled]="isReadOnly"></ion-datetime>
        <ion-icon name="ai-agenda" class="calendar-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style input-margin">
        <ion-label floating>Taxa de juros do concorrente</ion-label>
        <ion-input type="tel" maxlength="3" [textMask]="{mask: masks.numberMaskPercentage, guide: false}" mask="###" [(ngModel)]="cropProduct.BR_Tax__c"
          [disabled]="isReadOnly" class="no-border-disabled" only-numbers></ion-input>
      </ion-item>

      <ion-item class="input-style input-margin" *ngIf="isLostTrade" (click)="!isReadOnly && openForecastInvoiceModal()">
        <ion-label floating>Previsão de faturamento</ion-label>
        <ion-input disabled class="no-border-disabled" type="text" [(ngModel)]="cropProduct.BR_ForecastInvoice__c"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style input-margin" *ngIf="isLostTrade">
        <ion-label floating>Vol. No forcast?</ion-label>
        <ion-input type="tel" only-numbers maxlength="18" mask="##################" class="no-border-disabled" [(ngModel)]="cropProduct.BR_VolNoForecast__c" [disabled]="isReadOnly"></ion-input>
      </ion-item>

      <div class="apply-content">
        <button ion-button full (click)="applyProduct()" [disabled]="isSaveDisabled()" *ngIf="!isReadOnly">CADASTRAR</button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
