<div class="create" *ngIf="showCreateProfile">
  <button (click)="createProfile()">CRIAR PERFIL</button>
</div>

<ion-card *ngIf="showProfileView">
  <div *ngIf="showProfileFarmer">
    <ion-card-header>
      {{titleHeader}}
      <img src="./assets/icon/edit@3x.png" *ngIf="showEditButton && !isEditMode" class="edit" tappable (click)="editProfile()">
    </ion-card-header>

    <ion-card-content>
      <ion-list class="profile">
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>RADL</ion-label>
          <ion-input disabled type="text" class="character-limit card-input" [(ngModel)]="profileMappings.RADL__c"></ion-input>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Classificação</ion-label>
          <ion-input disabled type="text" class="character-limit card-input" [(ngModel)]="profileMappings.BR_Rating__c"></ion-input>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode" tappable (click)="isEditMode && openMarketingModal()">
          <ion-label floating>Iniciativa de marketing</ion-label>
          <ion-input disabled type="text" class="character-limit card-input" [(ngModel)]="profileMappings.BR_MarketingInitiative__c"></ion-input>
          <ion-icon [hidden]="!isEditMode" name="md-add" class="add-icon" item-right></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="card-p opacity-1">É Influenciador de Compra?</ion-label>
          <ion-checkbox [(ngModel)]="profileMappings.BR_IsInfluencer__c" [disabled]="!isEditMode" (ionChange)="blockTab($event)"></ion-checkbox>
        </ion-item>
        <ion-item class="input-style no-margin-bottom" [class.input-no-border]="!isEditMode" tappable (click)="isEditMode && openSalesSplitModal()">
          <ion-label floating>Split de vendas</ion-label>
          <ion-input disabled type="text" class="character-limit card-input" [(ngModel)]="profileMappings.BR_SalesSplit__c"></ion-input>
          <ion-icon [hidden]="!isEditMode" name="md-add" class="add-icon" item-right></ion-icon>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Observações</ion-label>
          <ion-textarea class="card-input" [auto-resize-textarea]="120" rows="1" maxlength="240" type="text" [(ngModel)]="profileMappings.BR_Description__c"
            [disabled]="!isEditMode"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </div>

  <div *ngIf="showProfileFarm">
    <ion-card-header>
      {{titleHeader}}
      <img src="./assets/icon/edit@3x.png" *ngIf="showEditButton && !isEditMode" class="edit" tappable (click)="editProfile()">
    </ion-card-header>

    <ion-card-content>
      <ion-list class="profile">
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Possui refúgio?</ion-label>
          <ion-select [(ngModel)]="profileMappings.BR_RefugeHave__c" interface="popover" class="card-input character-limit" [disabled]="!isEditMode" (ionChange)="haveRefuge()">
            <ion-option *ngFor="let refuge of iBR_RefugeHave__c" value="{{ refuge.value }}">{{ refuge.label }}</ion-option>
          </ion-select>
          <ion-icon [hidden]="!isEditMode" name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode" *ngIf="profileMappings.BR_RefugeHave__c === 'Não'">
          <ion-label floating>Qual o motivo?</ion-label>
          <ion-select class="card-input character-limit" interface="popover" [(ngModel)]="profileMappings.BR_WhatMotive__c" [disabled]="notHaveRefuge() || !isEditMode">
            <ion-option *ngFor="let motive of iBR_WhatMotive__c" value="{{ motive.value }}">{{ motive.label }}</ion-option>
          </ion-select>
          <ion-icon [hidden]="!isEditMode" name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="card-p opacity-1">É arrendado?</ion-label>
          <ion-checkbox [(ngModel)]="profileMappings.BR_IsLeasehold__c" [disabled]="!isEditMode" (ionChange)="blockTab($event)"></ion-checkbox>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Área total da fazenda (ha) <span class="red">*</span></ion-label>
          <ion-input type="tel" maxlength="6" [textMask]="{mask: masks.numberMaskProfile, guide: false}" id="descrition" [disabled]="!isEditMode"
            class="card-input character-limit" [(ngModel)]="profileMappings.BR_PlantedArea__c" (ionChange)="checkPlantedArea()"
            only-numbers (keydown)="blockTab($event)"></ion-input>
        </ion-item>
        <ion-label *ngIf="profileMappings.BR_PlantedArea__c && !checkPlantedArea()" class="err-input">Valor inválido, campo numérico.</ion-label>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Área total agricultável (ha) <span class="red">*</span></ion-label>
          <ion-input type="tel" maxlength="6" [textMask]="{mask: masks.numberMaskProfile, guide: false}" id="descrition" [disabled]="!isEditMode"
            class="card-input character-limit" [(ngModel)]="profileMappings.BR_TotalArea__c" (ionChange)="checkTotalArea()"
            only-numbers></ion-input>
        </ion-item>
        <ion-label *ngIf="profileMappings.BR_TotalArea__c && !checkTotalArea()" class="err-input">Valor inválido, campo numérico.</ion-label>
      </ion-list>
    </ion-card-content>
  </div>

  <div *ngIf="showProfileChannel">
    <ion-card-header>
      {{titleHeader}}
      <img src="./assets/icon/edit@3x.png" *ngIf="showEditButton && !isEditMode" class="edit" tappable (click)="editProfile()">
    </ion-card-header>

    <ion-card-content>
      <ion-list class="profile">
        <ion-item>
          <ion-label floating>RADL</ion-label>
          <ion-input disabled="true" type="text" class="card-input character-limit" [(ngModel)]="profileMappings.RADL__c"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="card-p opacity-1">Possui Qi.On?</ion-label>
        </ion-item>
        <div class="toggle">
          <ion-label class="card-p toggle-label">Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="profileMappings.BR_HasQiOnInstalled__c" disabled></ion-toggle>
          <ion-label class="card-p toggle-label">Sim</ion-label>
        </div>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Faturamento</ion-label>
          <ion-select class="card-input character-limit" [(ngModel)]="profileMappings.BR_Income__c" interface="popover" [disabled]="!isEditMode">
            <ion-option *ngFor="let item of iBR_Income__c" [value]="item.value">{{item.label}}</ion-option>
          </ion-select>
          <ion-icon [hidden]="!isEditMode" name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode" tappable (click)="isEditMode && openCultureModal()">
          <ion-label floating>Participação de cada Linha P/S</ion-label>
          <ion-input class="character-limit card-input" [(ngModel)]="profileMappings.BR_Culture__c" disabled></ion-input>
          <ion-icon [hidden]="!isEditMode" name="md-add" class="add-icon" item-right></ion-icon>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Maior Fornecedor Químico <span class="red">*</span> </ion-label>
          <ion-select class="card-input character-limit" [(ngModel)]="profileMappings.BR_LarggestSupplyCrop__c" interface="popover"
            [disabled]="!isEditMode">
            <ion-option *ngFor="let item of iBR_LarggestSupplyCrop__c" [value]="item.value">{{item.label}}</ion-option>
          </ion-select>
          <ion-icon [hidden]="!isEditMode" name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Categoria do Programa GTM</ion-label>
          <ion-input disabled type="text" class="character-limit card-input" [(ngModel)]="profileMappings.BR_ProgramCategoryGTM__c"></ion-input>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Qtde de Funcionários</ion-label>
          <ion-select class="card-input character-limit" [(ngModel)]="profileMappings.BR_EmployeeAmount__c" interface="popover" [disabled]="!isEditMode">
            <ion-option *ngFor="let item of iBR_EmployeeAmount__c" [value]="item.value">{{item.label}}</ion-option>
          </ion-select>
          <ion-icon [hidden]="!isEditMode" name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode" tappable (click)="isEditMode && openModalOthersLoyalProgram()">
          <ion-label floating>Outros Programas de Relacionamento/Fidelidade</ion-label>
          <ion-input class="character-limit card-input" [(ngModel)]="profileMappings.BR_OthersLoyalProgram__c" disabled></ion-input>
          <ion-icon [hidden]="!isEditMode" name="md-add" class="add-icon" item-right></ion-icon>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Comentário Safra Anterior</ion-label>
          <ion-input [disabled]="!isEditMode" type="text" class="character-limit card-input" [(ngModel)]="profileMappings.BR_PreviousCropComment__c"></ion-input>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Comentário Safra Atual</ion-label>
          <ion-input [disabled]="!isEditMode" type="text" class="character-limit card-input" [(ngModel)]="profileMappings.BR_CurrentCropComment__c"></ion-input>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Observações</ion-label>
          <ion-textarea class="card-input" [auto-resize-textarea]="120" rows="1" maxlength="240" type="text" [(ngModel)]="profileMappings.BR_Description__c"
            [disabled]="!isEditMode"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </div>

  <div *ngIf="showCropProfile">
    <ion-card-header>
      {{titleHeader}}
      <img src="./assets/icon/edit@3x.png" *ngIf="showEditButton && !isEditMode" class="edit" tappable (click)="editProfile()">
    </ion-card-header>

    <ion-card-content>
      <ion-list class="profile">
        <ion-item>
          <ion-label floating>RADL</ion-label>
          <ion-input disabled type="text" class="character-limit card-input" [(ngModel)]="profileMappings.RADL__c"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="card-p opacity-1">Possui Qi.On?</ion-label>
        </ion-item>
        <div class="toggle">
          <ion-label class="card-p toggle-label">Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="profileMappings.BR_HasQiOnInstalled__c" disabled></ion-toggle>
          <ion-label class="card-p toggle-label">Sim</ion-label>
        </div>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode" tappable (click)="isEditMode && openCultureModal()">
          <ion-label floating>Culturas</ion-label>
          <ion-input class="card-input character-limit" [(ngModel)]="profileMappings.BR_Culture__c" disabled></ion-input>
          <ion-icon [hidden]="!isEditMode" name="md-add" class="add-icon" item-right></ion-icon>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Categoria</ion-label>
          <ion-select class="card-input value-list-multi-select input-no-border" [(ngModel)]="profileMappings.BR_ProgramCategoryGTM__c"
            interface="popover" [disabled]="!isEditMode">
            <ion-option *ngFor="let item of iBR_ProgramCategoryGTM__c" [value]="item.value">{{item.label}}</ion-option>
          </ion-select>
          <ion-icon [hidden]="!isEditMode" name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="!isEditMode">
          <ion-label floating>Observações</ion-label>
          <ion-textarea class="card-input" [auto-resize-textarea]="120" rows="1" maxlength="240" type="text"
            [(ngModel)]="profileMappings.BR_Description__c" [disabled]="!isEditMode"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </div>
</ion-card>

<div class="container-footer" *ngIf="isEditMode">
  <button ion-button class="btn-footer" outline tappable (click)="canceledProfile()">CANCELAR</button>
  <button ion-button class="btn-footer right" tappable (click)="completedProfile()" [disabled]="validInputNumber() || isSaveDisabled()">SALVAR</button>
</div>
