<div class="sync-content" *ngIf="syncRunning || synchronizedWithError">
  <ion-grid>
    <ion-row class="header-sync">
      <ion-col col-4>
        <ion-row>
          <p class="title-header">Tempo Sync</p>
        </ion-row>
        <ion-row>
          <p class="text-header-sync">{{contTimeSync}}</p>
        </ion-row>
      </ion-col>
      <ion-col col-4>
        <ion-row>
          <p class="title-header">Conectividade</p>
        </ion-row>
        <ion-row>
          <p class="text-header-sync">{{networkType}}</p>
        </ion-row>
      </ion-col>
      <ion-col col-4 tappable (click)="showAlertCancelSync()" *ngIf="cancelSync">
        <div class="cancel">
          Interromper <br> sincronismo
        </div>
      </ion-col>
      <ion-col col-4 class="disable" *ngIf="!cancelSync">
        <div class="cancel">
          Interromper <br> sincronismo
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label class="sync-litle-title{{syncStatusClassSuffix}} {{showMore}}">{{progressFeedbackError}}</ion-label>
      <ion-label class="sync-litle-title{{syncStatusClassSuffix}} {{showMore}}">{{progressFeedbackMessage}}</ion-label>
      <ion-label class="litle-title {{showMore}}">SEU PROGRESSO</ion-label>
      <ion-label class="sync-title{{syncStatusClassSuffix}} small-error {{showMore}}">{{progressFeedbackError}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-label class="sync-title{{syncStatusClassSuffix}} {{showMore}}">{{progressFeedbackMessage}}</ion-label>
    </ion-row>
  </ion-grid>

  <progress-bar [progress]="progress"></progress-bar>

  <ion-list class="height-list show {{showMore}}">
    <div *ngFor="let key of uiModelsMappingKeys">
      <img src="{{uiModelsMapping[key].itemStatusIcon}}" [ngClass]="uiModelsMapping[key].itemStatusClass + '-sync-icon'" [class.rotate]="checkRotate(uiModelsMapping[key].itemStatusClass)"
      />
      <label class="sync-label" [ngClass]="uiModelsMapping[key].itemStatusClass">{{uiModelsMapping[key].itemStatusText}}</label>
    </div>
  </ion-list>

</div>
