synchronism {
  .idle {
    color: color($colors, gray-page);
    opacity: 0.5;
  }
  .in-progress {
    color: color($colors, gray-ambient);
  }
  .failed {
    color: color($colors, feedback-negative);
    display: inline-block;
  }
  .completed {
    color: color($colors, gray-page);
  }
  .idle-progress {
    background: color($colors, gray-page);
  }
  .in-progress-progress {
    background: color($colors, primary);
  }
  .failed-progress {
    background: color($colors, feedback-negative);
  }
  .completed-progress {
    background: color($colors, primary);
  }
  .idle-sync-icon {
    width: 0;
    height: 0;
  }
  .in-progress-sync-icon {
    width: 12px;
    height: auto;
  }
  .cancel {
    background-color: transparent !important;
    color: #ffffff !important;
    text-align: center !important;
    width: 100%;
    font-size: 13px;
    margin-top: 12px;
  }
  .cancel-disable {}
  .text-header-sync {
    margin: 0 !important;
    color: #5f6b6b !important;
    font-size: 12px;
    text-align: center !important;
    width: 100%;
  }
  .header-sync {
    margin-bottom: 20px;
    padding-bottom: 16px;
    border-bottom: 2px solid #F3F6F6;
  }
  .seg-time {
    font-size: 9px !important;
    color: color($colors, gray-page) !important;
  }
  .title-header {
    color: #3e4343 !important;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.0;
    text-align: center !important;
    margin-bottom: 6px !important;
    width: 100%;
  }
  .failed-sync-icon {
    width: 8px;
    height: auto;
  }
  .completed-sync-icon {
    width: 8px;
    height: auto;
  }
  .sync-content {
    background: #ffffff;
    padding: 16px;
    overflow: hidden;
    height: 100vh;
  }
  .sync-content-attachment {
    background: #ffffff;
    padding: 16px;
  }
  .sync-label {
    font-family: "Roboto-Regular";
    font-size: 10px;
    line-height: 1;
  }
  progress-bar .progress-outer {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    background-color: rgba(151, 164, 164, 0.3);
    border: 0;
    color: #fff;
    border-radius: 20px;
  }
  .margin-row {
    margin-bottom: 6px;
  }
  .sync-more {
    color: color($colors, gray-ambient);
    font-size: 10px;
    font-weight: 500;
    line-height: 0;
    font-family: "Roboto-Regular";
    float: right;
  }
  .sync-icon-more {
    width: 6px;
    height: 9px;
    margin-left: 3px;
  }
  .col {
    padding: 0;
    background: #f6f6f6;
    padding-bottom: 8px;
    border-radius: 4px;
    border: 2px solid #fff;
  }
  .col:last-child {
    padding: 0;
    background: color($colors, secondary-strong-olive);
    padding-bottom: 8px;
    border-radius: 4px;
    border: 2px solid #fff;
  }
  .disable {
    padding: 0;
    background: #b9b9b9 !important;
    padding-bottom: 8px;
    border-radius: 4px;
    border: 2px solid #fff;
  }
  .grid {
    padding: 0;
  }
  .no-background {
    background: transparent !important;
  }
  .icon-resync {
    padding-right: 8px !important;
  }
  .litle-title-sync {
    font-family: "Roboto-Medium";
    font-size: 12px !important;
    font-weight: 500;
    line-height: 1.0;
    text-align: left;
    margin-bottom: 0 !important;
    color: color($colors, gray-page);
  }
  .litle-title {
    font-family: "Roboto-Medium";
    font-size: 9px !important;
    font-weight: 500;
    line-height: 1.0;
    text-align: left;
    margin-bottom: 6px !important;
    color: color($colors, gray-page);
  }
  .litle-title.false {
    display: none;
  }
  .sync-litle-title {
    font-family: "Roboto-Medium";
    font-size: 9px;
    font-weight: 500;
    line-height: 1.0;
    color: color($colors, gray-ambient);
    text-transform: uppercase;
    margin-bottom: 8px !important;
  }
  .small-error {
    font-size: 9px !important;
    font-weight: 500 !important;
    line-height: 1.0 !important;
  }
  .sync-litle-title.true {
    display: none;
  }
  .sync-litle-title-error {
    @extend .sync-litle-title;
    color: color($colors, feedback-negative);
  }
  .sync-title {
    font-family: "Roboto-Bold";
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    line-height: 1.71;
    color: color($colors, gray-ambient);
    max-height: 200px;
    transition-duration: 0.2s;
    animation-timing-function: linear;
  }
  .sync-title.false {
    max-height: 0;
    overflow: hidden;
    transition-duration: 0.2s;
    animation-timing-function: linear;
  }
  .sync-title-error {
    @extend .sync-title;
    color: color($colors, feedback-negative);
    white-space: pre-line;
    line-height: 1.3 !important;
  }
  .label {
    margin: 0;
    padding: 0;
  }
  .show.true {
    overflow-y: hidden;
    max-height: 500px;
    transition: 0.25s;
    transition-timing-function: ease-out;
  }
  .show.false {
    max-height: 0;
    overflow: hidden;
    transition-timing-function: ease-in;
    transition: 0.2s;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
