<ion-content padding class="modal background-md" (click)="closeModal()">

  <ion-card (click)="$event.stopPropagation()">
    <ion-card-header class="modal-header">
      <ion-item class="filter-header" text-center>
        <ion-icon class="close" name="close" (click)="closeModal()" item-left></ion-icon>
        <ion-label class="text-ellipsis title">{{ title }}</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <form>
        <loockup id="AccountId" [idComponent]="'AccountIdError'" [objectName]="objectName" [objectLabel]="'Name'" [objectValue]="'Id'"
          [context]="context" [callBack]="accountSelected" [lookupId]="'lookUpAccountId'" [searchTerm]='clientsName' [typeId]='RecordTypeId'
          [ParentId]='parentId' [orderBy]="'Name'"></loockup>

        <div class="apply-content no-margin-top">
          <button ion-button full tappable (click)="applyModal()" *ngIf="showOk">OK</button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
