@import '../utils/_variables.scss';
@import '../base/_typography.scss';

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.d-block {
  display: block !important;
}

.flex {
  flex: 1;
}

.flex .item-inner .input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.flex-row {
  flex-direction: row;
}

.flex-item {
  margin-top: -20px;
  border-bottom: none !important;
  box-shadow: none !important;
  color: color($colors, gray-page);
  font-family: "Roboto-Light";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  display: flex
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fix-margin-bottom {
  margin-bottom: 32px !important;
}

.hidden {
  display: none;
}

.red {
  color: color($colors, feedback-negative) !important;
}

.no-border-disabled {
  ion-input input,
  input,
  ion-label,
  ion-select {
    &:disabled {
      opacity: 1 !important;
      border-bottom: none !important;
    }
  }
}

.right {
  float: right;
  margin-top: 5px;
}

.item-md [item-end] {
  margin: 0;
}

.opacity-1 {
  opacity: 1 !important;
  textarea {
    opacity: 1 !important;
  }
}

.opacity-2 {
  opacity: 1 !important;
  padding-left: 16px !important;
  textarea {
    opacity: 1 !important;
  }
}

.status-AIniciar .item-inner {
  background-color: color($colors, gray-ambient);
}

.status-EmAndamento .item-inner {
  background-color: color($colors, event-in-progress);
}

.status-Cancelada .item-inner {
  background-color: color($colors, feedback-negative);
}

.status-Concluida .item-inner {
  background-color: color($colors, primary);
}

.status-outlook .item-inner {
  background-color: color($colors, event-in-progress);
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sizing-box {
  height: $signal-strength-bar-height;
  width: $signal-strength-bar-width;
}

.pre-wrap {
  white-space: pre-wrap;
}

.toolbar-background {
  background: linear-gradient(259deg, color($colors, humbrol-38-lime), color($colors, primary)) !important;
}

.item-divider {
  border-bottom: 0;
}

.col {
  padding: 0;
}

.bottom-line {
  border-bottom: solid 1px color($colors, gray-page) !important;
}

.bottom-line-light {
  border-bottom: solid 2px color($colors, border-content-color) !important;
}

.close {
  color: color($colors, primary) !important;
  font-size: 30px !important;
  font-weight: bold !important;
}

.loading-wrapper {
  background: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.not-events {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.blockScroll-true .scroll-content {
  overflow: hidden;
}

.edit {
  width: 20px;
  height: 21px;
  text-align: right;
  object-fit: contain;
  float: right;
  margin-top: 5px;
}

.create {
  display: flex;
  justify-content: space-around;
  button {
    background-color: color($colors, secondary-strong-olive);
    border-radius: 4px;
    color: color($colors, gray-ambient);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 272px;
  }
}

.header::after,
.tabs[tabsPlacement="top"]>.tabbar::after {
  background-image: none;
}

image-viewer ion-header {
  z-index: 2 !important;
}
