@import '../base/_typography.scss';

.content {
  color: color($colors, gray-ambient);
  font-family: "Roboto-Medium";
  background-color: color($colors, gray-bg);
}

.content-md.background-md {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.content-border-bottom {
  border-bottom: solid 2px color($colors, gray-light) !important;
  padding-bottom: 16px !important;
}

.visit-content {
  width: 85% !important;
}

.item {
  padding-left: 0;
  background: transparent;
}

.visitEditTxt{
  font-size: 12px;
  text-align: center;
}
