.container-footer {
    margin-top: 5px;
    .btn-footer {
      width: 48%;
      height: 48px;
      float: left;
      border-radius: 4px;
      border: solid 2px color($colors, gray-page);
      color: color($colors, gray-ambient);
      &:disabled {
        background-color: transparent;
      }
    }
    .right {
      float: right !important;
      background-color: color($colors, secondary-strong-olive);
      border: 0;
    }
  }

  .container-obs {
    border-top: solid 2px color($colors, gray-bg) !important;
  }