/* 
ion-grid {
  padding: 0 !important;
  margin-left: 0 !important;
  margin-top: -12px;
  ion-col {
    margin: 0 6px 0 6px !important;
    .item-inner {
      ion-input input {
        margin-bottom: 0 !important;
      }
    }
  }
} */