@import '../utils/_mixins.scss';
.arrow-header-icon {
  color: color($colors, gray-page);
  margin-top: 4px !important;
  font-size: 24px;
  float: right;
}

.select-icon {
  display: none;
}

.calendar-icon,
.calendar-icon::before {
  padding-top: 16px;
  padding-right: 4px;
}

.search {
  align-items: flex-end;
  border-bottom: solid 1px color($colors, gray-page);
  display: flex;
  padding-left: 10px;
  .search-icon {
    color: color($colors, gray-page);
  }
}

.icon-img-btn {
  font-size: 22px;
  font-weight: 600 !important;
  margin: -4px 16px 0 0;
  color: color($colors, primary);
}

.arrow-down-icon,
.calendar-icon,
.calendar-icon::before {
  padding: 0 !important;
}

.icon-remove {
  color: color($colors,white);
  margin-right: 5px;
}

.arrow-default {
  @include setArrowDefault(9px, 14px, contain, absolute);
}

.arrow {
  @extend .arrow-default;
  top: 33px;
  right: 16px;
}

.arrow-1 {
  @extend .arrow-default;
  top: 46px;
  right: 16px;
}

.arrow-2 {
  @extend .arrow-default;
  top: 22px;
  right: 16px;
}

.arrow-list {
  color: color($colors, gray-page);
  padding-right: 16px;
  position: absolute;
  top: 45%;
  right: 0;
}

.arrow-list::before {
  font-size: 1em;
}

.arrow-list-small {
  color: color($colors, gray-page);
  padding-right: 16px;
  position: absolute;
  top: 45%;
  right: 0;
}

.arrow-list-small::before {
  font-size: 1em;
}

.arrow-right-outlook {
  color: color($colors, white) !important;
  padding-right: 15px;
}

.arrow-right-outlook::before {
  font-size: 0.8em;
}

.arrow-right {
  color: color($colors, gray-page);
  padding-right: 15px;
}

.arrow-right::before {
  font-size: 0.8em;
}

.add-icon {
  color: color($colors, gray-page) !important;
  padding: 0 !important;
  margin-right: 0 !important;
  margin-top: 1em;
  font-size: 22px;
}

.arrow-down-icon,
.calendar-icon,
.calendar-icon:before,
.calendar-icon.icon.icon-ios.ion-ios-ai-agenda.item-icon {
  color: color($colors, gray-page) !important;
  padding: 22px 8px 0 0;
  margin: 0 !important;
  font-size: 22px;
}

.fix-arrow-select {
  padding-left: 8px;
}

.select-icon {
  display: none;
}

ion-item.item-radio ion-radio.radio-md .radio-icon {
  display: none !important;
}
