@import '../base/_typography.scss';

ion-list {
  overflow: visible;
}

.height-list {
  width: 100%;
  padding: 16px 0 0 0 !important;
}

.height-list-mult{
  width: 100%;
  padding: 16px 0 0 0 !important;
  height: 45vh;
  overflow-y: scroll !important;

}
.max-height-list {
  height: 45vh;
}

.list {
  margin: 0 0 16px 0;
}

.list>.item-block:first-child {
  border-top: 0 !important;
}

.list .item-input:last-child {
  border-bottom: 0;
}

.list>.item-block:last-child,
.list>.item-wrapper:last-child .item-block {
  border: 0;
}

.value-list-multi-select {
  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 2.0;
  text-align: left;
  color: color($colors, gray-ambient);
  height: 34px;
}

.farm-list {
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 2.86;
  text-align: left;
  color: color($colors, gray-ambient);
}
