report-image {

  .form-card-content{
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  ion-col{
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 88px !important;
  }
  
  .img-item{
    border-radius: 4px;
    width: 80px; 
    height: 64px;
  }

}
