<ion-card class="form-card">
  <ion-card-header class="form-card-header" tappable (tap)="hideCard()">
    <ion-item>
      <ion-label class="card-title">Fotos da Visita</ion-label>
      <ion-icon *ngIf="hiddenCard" name="ios-arrow-down-outline" item-right></ion-icon>
      <ion-icon *ngIf="!hiddenCard" name="ios-arrow-up-outline" item-right></ion-icon>
    </ion-item>
  </ion-card-header>

  <ion-card-content class="form-card-content" [class.hidden]="hiddenCard">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let img of info; let i = index" text-center>
          <img class="img-item" src="{{ img }}" tappable imageViewer />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>  
