.searchbar-ios .searchbar-input {
  border-bottom: 1px solid #003300;
  color: #ffffff;
  background: transparent !important;
  border-radius: 0 !important;
}

.toolbar-transparent .toolbar-background {
  background: transparent !important;
}

.statusbar {
  margin-top: 10px;
}

.btn-left {
  background-color: transparent;
  border: none;
  box-shadow: none;
  float: left;
  position: relative;
  z-index: 100;
}

.btn-hidden {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.search-icon {
  width: 16px;
}

.header .toolbar:last-child .toolbar-background {
  border: 0;
}

.title {
  text-align: center;
  color: #ffffff;
}

ion-buttons {
  margin-bottom: 0 !important;
}

ion-grid {
  padding: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  ion-col {
    margin: 0 !important;
  }
}

header {
  ion-buttons {
    margin-bottom: 0 !important;
    margin: 0 !important;
  }
  .bar-button {
    padding: 0 !important;
  }
  .sync {
    color: color($colors, white);
    object-fit: contain;
    float: right;
    position: relative;
    z-index: 100;
  }
  .sync::before {
    font-size: 20px;
  }
  .sync-running {
    color: rgba(0, 0, 0, 0.1);
  }
  .today {
    color: color($colors, white);
    object-fit: contain;
    width: 42px !important;
  }
  .title {
    color: color($colors, white);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    z-index: 0;
  }
  .hidden {
    display: none;
  }
  .button-clear-md-dark {
    color: #ffffff;
    width: auto;
    height: 16px;
    display: inline-block;
  }
  .button-funnel {
    padding-top: 6px !important;
    font-size: 18px !important;
  }
  .searchbar-ios .searchbar-search-icon {
    color: #ffffff;
  }
  .button-clear-md-dark:hover:not(.disable-hover) {
    color: #ffffff;
  }
  .button-clear-ios {
    color: #ffffff;
  }
  .filter-header-button {
    padding: 12px;
  }
  .filter-header-button .bar-button-ios {
    margin-top: 14px;
  }
  .toolbar-md {
    padding: 0 !important;
  }
  .toolbar-ios {
    height: 68px;
    padding: 0 !important;
  }
  .modalFloat {
    background: #ffffff;
    position: absolute;
    float: right;
    padding: 5px 10px;
    margin: -10px 16px 0 0;
    box-shadow: 0 0px 2px 1px #d8dde6;
    z-index: 999;
    right: 0;
    border-radius: 4px;
    width: 140px;
  }
  .modalFloat .titleList {
    text-align: left;
    display: flex;
    padding: 5px 0;
    background: transparent;
  }
  .agendaFloat {
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    right: 15px;
    position: absolute;
    top: 0;
    width: 136px;
    z-index: 999;
    .list {
      margin: 0;
      .label {
        color: color($colors, gray-ambient);
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1.14;
        padding-left: 16px;
      }
    }
  }
  .icons-right {
    float: right;
  }
  .header-icons-right {
    margin-right: 16px !important;
  }
  .header-icons-left {
    height: 20px;
  }
  .profile-header {
    height: 24px !important;
  }
  .searchbar-md {
    margin: 0 !important;
  }
  .searchbar-md .searchbar-search-icon {
    border: 0;
    top: 5px !important;
    left: 5px !important;
  }
  .toolbar .searchbar-md .searchbar-md-cancel {
    left: 0px;
  }
}

.logout-background {
  background-color: white;
}
