<ion-toolbar>
  <ion-grid *ngIf="!showSearch">
    <ion-row align-items-center justify-content-center class="statusbar">
      <ion-col col-2 align-self-center>
        <button *ngIf="!showBack && !showSearch && !showAddEvent" class="btn-hidden"></button>
        <button *ngIf="showBack" ion-button icon-only (click)="backView()" class="btn-left">
          <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>
        <button *ngIf="showBackLogError" ion-button icon-only (click)="backViewErrorLog(pageReturn)" class="btn-left">
            <ion-icon name="ios-arrow-back-outline"></ion-icon>
        </button>
        <button *ngIf="showAddEvent" ion-button icon-only (click)="addEvent()" class="btn-left">
          <ion-icon name="ios-add"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8 align-self-center>
        <div *ngIf="hiddenSearch || showPageTitle && !showSearch" class="title character-limit">
          {{ pageTitle }}
        </div>
      </ion-col>
      <ion-col col-2 align-self-center>

        <div *ngIf="!showSearch" class="icons-right">

          <ion-buttons end [hidden]="hiddenSearch">
            <button ion-button icon-only tappable (click)="openSearchBar()" class="today">
              <img class="search-icon" src="./assets/icon/salesforce/search.png" />
            </button>
          </ion-buttons>

          <ion-buttons end [hidden]="hiddenSync">
            <button ion-button *ngIf="showSyncButton && !showBackLogError" tappable (click)="syncProcess()">
              <ion-icon name="ai-sync" class="sync header-icons-right"></ion-icon>
            </button>

            <button ion-button *ngIf="!showSyncButton">
              <ion-icon name="ai-sync-running" [class.rotate]="rotate" class="sync sync-running header-icons-right"></ion-icon>
            </button>

            <ion-badge class="sync-badge" *ngIf="showSyncButton && countSyncBadge && countSyncBadge > 0">
              {{ (countSyncBadge && countSyncBadge > 0) ? countSyncBadge : '&nbsp;' }}
            </ion-badge>

          </ion-buttons>

          <ion-buttons end [hidden]="hiddenAgenda">
            <button *ngIf="showTodayButton" ion-button tappable (click)="openToday()" class="today">
              hoje
            </button>

            <button *ngIf="showSearchEvent" ion-button tappable (click)="openSearchEvent()" class="today">
              <img class="search-icon" src="./assets/icon/salesforce/search.png" />
            </button>
          </ion-buttons>

          <ion-buttons end [hidden]="!hiddenFilter || !hiddenSearch || !hiddenSync || !hiddenAgenda">
            <button class="btn-hidden"></button>
          </ion-buttons>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar class="font-white" name='search' type='search' *ngIf="showSearch" #searchBar [(ngModel)]="searchQuery" (ionInput)="getItems()"
    (ionCancel)="onCancel($event)" [showCancelButton]="true" [placeholder]="'Digite 3 letras ou mais'" [autocomplete]="'off'"
    [autocorrect]="'off'" [cancelButtonText]="'Cancelar'">
  </ion-searchbar>

  <ion-buttons end class="filter-header-button" [hidden]="hiddenFilter">
    <button ion-button icon-only color="light" tappable (click)="openFilter()">
      <ion-icon name="funnel" class="button-funnel"></ion-icon>
    </button>
  </ion-buttons>

</ion-toolbar>
