sync-error {
    
    .scroll-content {
        padding: 0 !important;
      }
      ion-card-content {
        .card-content {
          padding: 5px 16px 0 0 !important;
        }
      }

    .card {
        margin: 0 !important;
    }
    .welcome {
        font-family: "Roboto-Medium";
        color: color($colors, primary);
        font-size: 16px;
        font-weight: 500;
        line-height: 2.0;
    }
    .now {
        font-family: "Roboto-Regular";
        font-size: 12px;
        line-height: 1.33;
        text-align: left;
        color: color($colors, gray-ambient);
        border-bottom: solid 1px color($colors, gray-light);
        padding-bottom: 7px;
    }
    .sync {
        margin: 7px 0;
        font-family: "Roboto-Regular";
        font-size: 10px;
        line-height: 2.4;
        text-align: left;
        color: color($colors, gray-ambient);
    }

    .first-card{
        margin-bottom: 20px !important;
    }

    .visit-content{
        padding-left: 5px;
    }

    .events-card .event-box-executed {
        background-color: #e6eeee;
        border-color: #CC0000 !important;
    }

    .card p {
        padding: 0px !important;
        margin-top:5px !important;
    }

    .textError{
        color:#CC0000 !important;
    }

    .textSolution{
        color:#006633 !important;
    }

    .visit-content p:first-child {
        margin-top:8px !important;
    }

}
