<div class="padding-card">

<ion-card class="card card-md first-card">
  <ion-card-content class="card-content card-content-md">
    <div class="welcome">
      Eventos com erro durante a sincronização.
    </div>
    <div class="now"></div>
    <div class="sync" >
        Última sincronização feita em <b>{{lastSynchronismDateMessage}}</b>
        <br>
        Duração: <b>{{timeToLastSync}}</b>
        <br>
        Erros encontrados: <b>{{lastSyncErros}}</b>
      </div>
      <div class="now"></div>
    <div class="sync" *ngIf="!filter" >
      Total de visitas com erros: <b>{{ allErrorsLength }}</b>
    </div>

  </ion-card-content>
  </ion-card>

  <ion-card class="card card-md">
    <ion-card-content class="card-content card-content-md">
      <div class="events-card">
        <ion-list>
          <ion-grid class="grid">
            <div *ngFor="let item of eventsObj">
              <ion-row class="row" *ngIf="checkFilter(item[0])">
                <ion-col class="event event-box-executed" col-12=""  (click)="openVisit(item[0],item.dataShild,item.shildId,item.idDataError,item.idData)">
                  <div class="visit-content">
                    <ion-label class="visit-status-executed margin-label">{{ item[4] }}</ion-label>
                    <ion-label class="character-limit visit-type-executed margin-label"> {{ item[5] }} </ion-label>
                    <p><span class="">Iniciada em:</span> {{ item[1]| date: 'd/M/yy, h:mm a' }}</p>
                    <p><span class="textError">Erro:</span> {{ item.typeErrorText }}</p>
                    <p><span class="textError">Local:</span> Sincronização do(a) {{ showErrorsTable(item.tableError)}}</p>
                    <p><span class="textSolution">Solução:</span> Edição da Visita atual</p>
                  </div>
                  <ion-icon class="arrow-right icon icon-md ion-ios-ai-arrow-right" name="ai-arrow-right" role="img" aria-label="ai arrow-right"></ion-icon>
                </ion-col>
              </ion-row>
            </div>

          </ion-grid>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>

</div>