@import '../base/_typography.scss';

.alert-radio-group {
  margin-bottom: 12px;
}

.alert-confirm {
  text-align: center;
  .alert-wrapper {
    border-radius: 4px;
    min-width: calc(100% - 32px);
    max-width: calc(100% - 32px);
  }
  .alert-title {
    font-family: "Roboto-Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: color($colors, gray-ambient);
  }
  .alert-head {
    border-bottom: 2px solid color($colors, border-content-color);
  }
  .alert-message {
    font-family: "Roboto-Regular";
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: color($colors, gray-ambient);
    margin-top: 20px;
  }
  .alert-button-group {
    padding: 0 !important;
    margin: 0 10px 8px 10px;
  }
  .alert-button {
    border-radius: 4px;
    margin: 1% !important;
    width: 48% !important;
    min-width: 48% !important;
  }
  .alert-button .button-inner {
    display: flex;
    justify-content: center;
  }
  .alert-button:last-child {
    border: 2px solid color($colors, gray-page);
    font-weight: bold;
  }
  .alert-no .alert-button:last-child {
    border: 2px solid color($colors, gray-page) !important;
  }
  .alert-yes,
  .alert-ok {
    text-align: center;
    background: color($colors, secondary-strong-olive);
    border: 2px solid color($colors, secondary-strong-olive) !important;
    color: color($colors, gray-ambient);
    font-family: "Roboto-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }
  .alert-ok {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .alert-no {
    text-align: center;
    background: transparent;
    border: 2px solid color($colors, gray-page);
    color: color($colors, gray-ambient);
    font-family: "Roboto-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }
}


.alert-warning {
  text-align: center;
  .alert-wrapper {
    border-radius: 4px;
    min-width: calc(100% - 32px);
    max-width: calc(100% - 32px);
  }
  .alert-title {
    font-weight: 900;
    color: red;
    font-family: "Roboto-Medium";
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: color($colors, gray-ambient);
  }
  .alert-head {
    border-bottom: 2px solid color($colors, border-content-color);
  }
  .alert-message {
    font-weight: 900;
    font-family: "Roboto-Regular";
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: color($colors, gray-ambient);
    margin-top: 20px;
  }
  .alert-button-group {
    padding: 0 !important;
    margin: 0 10px 8px 10px;
  }
  .alert-button {
    border-radius: 4px;
    margin: 1% !important;
    width: 48% !important;
    min-width: 48% !important;
  }
  .alert-button .button-inner {
    display: flex;
    justify-content: center;
  }
  .alert-button:last-child {
    border: 2px solid color($colors, gray-page);
    font-weight: bold;
  }
  .alert-no .alert-button:last-child {
    border: 2px solid color($colors, gray-page) !important;
  }
  .alert-yes,
  .alert-ok {
    text-align: center;
    background: red;
    border: 2px solid red !important;
    color: #fff;
    font-family: "Roboto-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }
  .alert-ok {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .alert-no {
    text-align: center;
    background: transparent;
    border: 2px solid color($colors, gray-page);
    color: color($colors, gray-ambient);
    font-family: "Roboto-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }

  .alertLeft{
    float: left;
    width: 25px;
    height: 25px;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
  }

  .alertRigth{
    float: right;
    width: 25px;
    height: 25px;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
  }
}

.obsErro{
  width: 100%;
  float: left;
  margin-top: 5px;
  font-weight: 600;
}

