@import '../utils/_variables.scss';
@import '../base/_typography.scss';

ion-buttons {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px !important;
  line-height: 1 !important;
  div {
    width: 32%;
  }
}

.fix-margin-bottom {
  margin-bottom: 32px !important;
}

.button-card {
  width: 100%;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  border: solid 2px color($colors, gray-page);
  color: color($colors, gray-ambient);
}

.clear-btn {
  border: solid 2px color($colors, gray-page) !important;
  color: color($colors, gray-ambient) !important;
  background-color: transparent !important;
}

.add-btn {
  margin-left: 10px;
}

.button-card.hybrid {
  margin: 22px 0 16px 0;
}

.button-empty,
.button-filled {
  width: 100%;
  height: 26px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.18;
  letter-spacing: normal;
  text-align: center;
  color: color($colors, white);
  font-family: "Roboto-Regular";
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.button-empty {
  background-color: color($colors, gray-light) !important;
  color: color($colors, gray-button) !important;
}

.button-filled {
  background-color: color($colors, gray-ambient) !important;
  color: white !important;
}

.big-button {
  display: flex;
  justify-content: space-around;
  button {
    background-color: color($colors, secondary-strong-olive);
    border-radius: 4px;
    color: color($colors, gray-ambient);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }
}

.edit-buttons {
  margin-top: 15px;
  button {
    margin-bottom: 25px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 120px;
  }
  .danger-button {
    width: 100%;
    height: 48px;
    font-family: "Roboto-Medium";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: normal;
    text-align: center;
    color: color($colors, feedback-negative);
    border-radius: 4px;
    background-color: color($colors, white);
  }
  .cancel-button {
    background-color: transparent !important;
    border: solid 2px color($colors, gray-page) !important;
    color: color($colors, gray-ambient) !important;
    float: left;
  }
  .save-button {
    background-color: color($colors, secondary-strong-olive);
    color: color($colors, gray-ambient);
    float: right;
    margin-bottom: 25px;
  }
}

.geo-btn {
  background: transparent !important;
}

.apply-content {
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
  button {
    background-color: color($colors, secondary-strong-olive);
    border-radius: 4px;
    color: color($colors, gray-ambient);
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    text-transform: uppercase;
    width: 100%;
  }
  .save-button {
    margin-top: 38px !important;
    border-radius: 4px !important;
    height: 48px !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: color($colors, gray-ambient);
    background-color: color($colors, secondary-strong-olive);
  }
}

.item-ios.item-block .item-inner {
  padding-right: 0;
}

.item-md.item-block .item-inner {
  padding-right: 0;
}

.no-border .item-inner {
  border-bottom: none !important;
}

.rotate {
  animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
}

@keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

