@import '../base/_typography.scss';

ion-card {
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

ion-card-header {
  overflow: visible;
}

.card {
  margin: 10px 0 0 0;
  border-radius: 4px;
  width: 100% !important;
  box-shadow: none !important;
}

.card-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.0;
  text-align: left;
  border-bottom: 2px solid color($colors, gray-light);
  padding: 16px 0;
  margin: 0 16px;
}

.card-head-style {
  width: 90.3%;
  margin-right: 16px;
}

.card p {
  margin: 15px 0 2px;
}

.card-p {
  font-family: "Roboto-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: color($colors, gray-ambient);
}

.card-input {
  display: block !important;
  font-family: "Roboto-Regular" !important;
  font-size: 16px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.5 !important;
  letter-spacing: normal !important;
  text-align: left !important;
  margin: 0 !important;
  color: color($colors, gray-ambient) !important;
  input,
  ion-select,
  ion-datetime,
  textarea {
    color: color($colors, gray-ambient) !important;
    opacity: 1 !important;
    &:disabled {
      color: color($colors, gray-ambient) !important;
      opacity: 1 !important;
    }
  }
}

.card-footer {
  height: 91px;
}

.padding-card {
  padding: 16px;
}

.font-white input {
  color: color($colors, gray-light) !important;
  -webkit-text-fill-color: color($colors, gray-light) !important;
}

// form layout (report forms)
.form-card {
  margin-bottom: 16px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  ion-card-header {
    padding-top: 8px;
    padding-bottom: 8px;
    ion-icon {
      margin-top: 0 !important;
      margin-right: 2px !important;
    }
  }
  ion-icon::before {
    font-size: 22px !important;
  }
  .ai-gps-white {
    width: 22px;
    height: 22px;
    float: right;
  }
  .form-card-content {
    padding: 8px 22px 8px 22px;
    ion-item {
      margin: 14px 0 8px 0 !important;
      font-family: "Roboto-Light" !important;
    }
    ion-icon::before {
      color: color($colors, gray-light) !important;
    }
  }
  .form-card-header,
  .form-card-content {
    ion-item .item-inner,
    ion-label {
      padding-right: 0 !important;
      margin-right: 0;
    }
    input.text-input,
    .item-input-disabled input {
      font-size: 16px;
      border: none !important; 
    }
    [class*="-disabled"] * {
      opacity: 1 !important;
    }
    ion-label {
      margin: 0 !important;
      font-family: "Roboto-Regular";
    }
    div ion-item {
      min-height: 0 !important;
      margin-bottom: 0 !important;
    }
    ion-item.toggle {
      margin-top: 0 !important;
      ion-label {
        max-width: 32px !important;
      }
      ion-toggle {
        margin: 0 !important;
      }
    }
    .card-title {
      font-size: 16px !important;
      font-weight: bold !important;
      padding-right: 12px !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .text-content {
      padding-top: 12px !important;
      margin-bottom: 14px !important;
    }
    .card-subtitle {
      font-size: 14px !important;
      font-weight: bold !important;
      margin-bottom: 18px !important;
    }
    .card-body {
      font-size: 12px !important;
      font-weight: normal !important;
    }
    .line-top {
      border-top: solid 2px color($colors, gray-bg) !important;
      padding-top: 12px !important;
      margin-bottom: 0 !important;
    }
    .line-bottom {
      border-bottom: solid 2px color($colors, gray-bg) !important;
      padding-bottom: 12px !important;
      margin-bottom: 22px !important;
    }
    .save-btn {
      margin-top: 22px !important;
      margin-bottom: 16px !important;
      border-radius: 4px !important;
      height: 48px !important;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      color: color($colors, gray-ambient);
      background-color: color($colors, secondary-strong-olive);
    }
  }
}
