ion-datetime {
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}

.datetime {
  padding: 0 !important;
}

.datetime-text {
  line-height: normal;
  margin-bottom: 16px;
}

.item-datetime ion-label {
  font-size: 16px;
}
