.geolocation {
  .geo-border-bottom {
    border-bottom: solid 1px color($colors, gray-page) !important;
    margin-bottom: 2px;
  }
  ion-card-header {
    clear: both;
  }
  .aim-svg {
    width: 22px;
    height: 22px;
    float: right;
    margin-top: 15%;
  }
  .item-input-disabled input {
    border-bottom: none !important;
  }
}

.geo-btn {
  background: transparent !important;
}
