@import '../base/_typography.scss';

ion-input {
  color: color($colors, gray-ambient) !important;
  font-family: "Roboto-Regular";
  font-size: 16px !important;
}

ion-input {
  >input {
    &:disabled {
      opacity: 1 !important;
    }
  }
}

.input-border-bottom input {
  opacity: 1 !important;
  border-bottom: none !important;
}

input,
ion-select {
  font-family: "Roboto-Light" !important;
}

.input-style {
  border-bottom: solid 1px color($colors, gray-page) !important;
}

.line-light {
  padding: 12px 0;
  border-bottom: 1px solid color($colors, gray-light);
}

.input-margin {
  margin-top: 1em;
}

.input-no-border {
  border-bottom: none !important;
}

.input-card {
  border-bottom: solid 1px color($colors, gray-page);
  input {
    margin: 0 !important;
  }
}

.input-add input {
  font-family: "Roboto-Medium";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: color($colors, gray-page);
}

.input-field {
  font-family: "Roboto-Regular" !important;
  font-size: 16px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.5 !important;
  letter-spacing: normal !important;
  text-align: left !important;
  color: color($colors, gray-ambient) !important;
}

.input-item {
  max-width: 30%;
  float: left;
}

.select-floating {
  padding-bottom: 4px !important;
}

/* .input-wrapper {
  margin-bottom: -2px;
} */

.col-space {
  .col {
    padding-right: 4px;
  }
  .col:last-child {
    padding-right: 0;
  }
  input[disabled] {
    opacity: 1 !important;
    font-family: "Roboto-Regular" !important;
    font-size: 16px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.5 !important;
    letter-spacing: normal !important;
    text-align: right !important;
    color: color($colors, gray-ambient) !important;
  }
}

.err-input {
  color: color($colors, feedback-negative) !important;
  font-size: 10px !important;
  margin: 2px 0 !important;
  line-height: 10px !important;
}

.item-input-disabled input {
  border: 0 !important;
}

.item-input.input-has-focus .item-inner,
.item-input.input-has-value .item-inner,
.item-input.input-has-value {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

ion-select,
ion-datetime,
ion-textarea,
textarea,
ion-input input {
  -webkit-text-fill-color: rgb(66, 75, 75) !important;
  font-family: Roboto-Regular !important;
  font-size: 16px !important;
}

ion-item.datetime-floating ion-datetime.datetime-md {
  padding: 0 !important;
}

ion-item.input-floating .item-inner {
  padding-bottom: 6px;
}


ion-item.input-floating ion-input {
  padding-bottom: 0 !important;
  input {
    margin-top: 0 !important;
  }
}

ion-item.input-styleg.date {
  padding-left: 6px;
  border-bottom: solid 1.5px color($colors, gray-soft) !important;
}

.not-disable {
  .text-input[disabled] {
    opacity: 1 !important;
  }
  .item-input-disabled input {
    border-bottom: 0 !important;
  }
}

.link-underline {
  input,
  ion-select,
  ion-datetime,
  textarea {
    color: color($colors, primary) !important;
    -webkit-text-fill-color: color($colors, primary) !important;
    text-decoration-line: underline !important;
    -webkit-text-decoration-line: underline !important;
    &:disabled {
      color: color($colors, primary) !important;
      -webkit-text-fill-color: color($colors, primary) !important;
      text-decoration-line: underline !important;
      -webkit-text-decoration-line: underline !important;
    }
  }
}
