@import '../base/_typography.scss';

ion-label {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: color($colors, gray-ambient);
  overflow: visible;
}

.yes-style {
  font-weight: 800 !important;
  font-family: "Roboto-Medium" !important;
  margin-left: 8px !important;
}

.label {
  font-family: "Roboto-Light";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #424b4b;
  white-space: normal;
}

.praga-label {
  ion-label {
    font-size: 10px;
    line-height: 0.8;
    color: #97a4a4;
  }
}

.hybrid-label ion-icon {
  color: #646e6e !important;
}

.hybrid-label ion-input input,
.list-label ion-input input {
  font-size: 16px !important;
}

.label[floating] {
  font-family: "Roboto-Medium";
  font-weight: 500;
  color: color($colors, gray-page);
  /* line-height: normal; */
}

.label[stacked] {
  font-family: "Roboto-Medium";
  font-size: 10px;
  font-weight: 500;
  color: color($colors, gray-page);
}

.text-small {
  @extend .label[floating];
  font-size: 11px;
  margin-top: 14px !important;
}

.title-label {
  font-family: "Roboto-Regular";
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #97a4a4;
}

.simple-labeled-list {
  font-size: 14px;
  line-height: 1.6;
  font-family: "Roboto-Regular";
}

.clients-label {
  @extend .simple-labeled-list;
  font-family: "Roboto-Regular";
  color: color($colors, gray-ambient);
}

.clients-sub-label {
  font-family: "Roboto-Medium";
  font-size: 11px;
  line-height: 1.45;
  text-align: left;
  color: color($colors, gray-page);
}

.sub-label {
  @extend .clients-sub-label;
}

.clients-sub-label-in {
  @extend .clients-sub-label;
  padding-left: 0 !important;
  color: color($colors, gray-page);
  .grid {
    padding: 0;
  }
}

.value-list {
  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 2.0;
  text-align: left;
  color: color($colors, gray-ambient);
  margin-top: 0;
}

.label-checkbox {
  font-family: "Roboto-Regular";
  color: color($colors, gray-ambient);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
}

.character-limit,
.character-limit input,
.character-limit p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.character-limit.item-md .item-inner {
  padding: 0 0 0 8px !important
}

.label-floating-style {
  opacity: 1 !important;
}

/* .item-label-floating {
  margin-bottom: 0;
} */

// --- visitas /
.hybrid-label,
.list-label {
  ion-input input,
  ion-label {
    border: none !important;
    color: color($colors, dark) !important;
    opacity: 1 !important;
    font-size: 16px !important;
    font-family: "Roboto-Light" !important;
    font-weight: 400 !important;
  }
}

.letter-key {
  font-family: "Roboto-Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 2.0;
  color: color($colors, gray-ambient);
}

.dayview-allday-label {
  border-left: 0 !important;
}

.dayview-allday-table {
  border: 0 !important;
}

.item-select.edit-border ion-label {
  margin: 6px 8px 4px 0;
}

.select-disabled,
.item-select-disabled ion-label {
  opacity: 1 !important;
}

.select,
.select-md,
.ng-untouched,
.ng-pristine,
.select-disabled {
  color: color($colors, gray-ambient);
  opacity: 1;
}

ion-item.dayCycle ion-label {
  font-family: "Roboto-Medium" !important;
  font-size: 16px !important;
}

ion-item.status-visit .item-inner {
  margin-bottom: 10px;
  padding: 0 !important;
  height: 32px !important;
  font-size: 1rem !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  .input-wrapper {
    margin: auto;
  }
  ion-label {
    margin: 0;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: color($colors, white) !important;
  }
}

.align-text {
  text-align: center;
  margin-top: 30px;
}
