.loader {
  height: 8px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: color($colors, gray-background);
  border-radius: 20px;
  margin: 10px 0 0 0;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 8px;
  border-radius: 20px;
  background-color: color($colors, secondary-strong-olive);
  animation: loading 2s linear infinite;
}
