@import '../base/_typography.scss';

.searchbar-no-margin-top {
  margin-top: 0 !important;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4) !important;

  .searchbar-input {
    color: color($colors,black-14) !important;
    background: transparent !important;
    border-radius: 0;
  }
  ion-label {
    margin-left: 0 !important;
    font-size: 16px;
    color: color($colors, gray-ambient);
  }

  ion-list.scroll {
    overflow-y: scroll !important;
    max-height: 124px !important;
  }

  ion-item.edit-border {
    ion-label,
    ion-input,
    input {
      font-size: 16px;
      font-family: "Roboto-Regular" !important;
      color: color($colors, gray-ambient);
    }
  }

  .input-grey {
    background-color: color($colors, border-content-color);
    margin: 2px 0 2px 0;
    .label-input-style {
      padding: 0 14px;
    }
  }
}

.modal-content {
  ion-card-header.title,
  ion-card-header.title ion-item {
    padding: 0 !important;
    margin: 0 !important;
    height: 56px !important;
    ion-icon {
      padding-left: 22px;
      font-size: 22px !important;
      font-weight: 600 !important;
      color: color($colors, primary);
    }

    ion-label .label-md{
      margin-left: -16px !important;
    }

    ion-label {
      margin-left: -8px !important;
      font-size: 16px;
      color: color($colors, gray-ambient);
    }
  }
  ion-item.edit-border {
    margin: 2px 0 12px 0;
    div.item-inner {
      padding: 0 0 0 6px !important;
      border-bottom: solid 1.5px color($colors, gray-soft) !important;
    }
    ion-label,
    ion-input,
    input {
      font-size: 16px !important;
      color: color($colors, gray-ambient);
    }
    input {
      color: black !important;
    }
  }
  .add-button {
    margin-top: 38px !important;
    border-radius: 4px !important;
    height: 48px !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: color($colors, gray-ambient);
    background-color: color($colors, secondary-strong-olive);
  }
}

.modal-header {
  padding-bottom: 0px;
  padding-top: 5px;
  .filter-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .close {
      color: color($colors, primary);
      font-size: 30px;
      font-weight: bold;
    }
    .label,
    .label-ios {
      color: color($colors, gray-ambient);
      font-size: 16px;
      font-weight: 800;
      line-height: 1.5;
    }
    .clear {
      color: color($colors, gray-page);
      font-size: 14px;
      font-weight: normal;
      line-height: 1.71;
      text-decoration: underline;
    }
    .title {
      color: color($colors, gray-ambient);
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  ion-icon {
    margin-right: 0 !important;
  }
  ion-item .item-inner,
  ion-item .item-inner ion-label {
    margin-right: 8px !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
  }
}

.modal-filters {
  margin-top: 20px;
  div {
    label {
      color: color($colors, gray-ambient);
      font-size: 14px;
    }
  }
}

ion-card-header.body,
ion-card-header.body ion-item{
  height: 48px !important;
  margin: 0 !important;
  padding: 0 12px 0 16px !important;
  ion-icon{
    padding: 6px 0 0 16px !important;
    margin-right: 0 !important;
    font-size: 14px !important;
    color: color($colors, gray-page);
  }
}

ion-list.scroll{
  overflow-y: scroll !important;
  max-height: 32vh !important;
}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ion-item.edit-border{
  margin: 2px 0 12px 0;

  div.item-inner{
    padding: 0 0 0 6px !important;
    border-bottom: solid 1.5px color($colors, gray-soft) !important;
  }
}

.edit-buttons.full-width button {
  width: 100% !important;
}

ion-content.modal{

}
