.popover-arrow {
  display: none !important;
}

.popover-content .item-inner {
  padding: 0 0 0 16px !important;
  border-bottom: 1px solid color($colors, white) !important;
}

div.popover-content {
  left: 32px !important;
}

.popover-content {
  border-radius: 0 !important;
  color: color($colors, gray-ambient) !important;
  background: color($colors, gray-light) !important;
  width: calc(100% - 64px) !important;
  border-top: 1px solid color($colors, gray-page) !important;
}
