@import '../base/_typography.scss';

.searchbar-input {
  //color: color($colors, rgb(0, 0, 0)) !important;
  background: transparent !important;
  border-radius: 0;
  box-shadow: none !important;
  font-family: "Roboto-Regular" !important;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
}

ion-searchbar.searchbar-ios {
  .searchbar-left-aligned .searchbar-input {
    padding: 0 !important;
    padding-right: 60px !important;
  }
}

.searchbar-ios,
.searchbar-md {
  .searchbar-input {
    border-bottom: 1px solid color($colors, gray-page) !important;
  }
}

.searchbar {
  border: 0;
  margin-top: 20px;
}

.searchbar-search-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='%2397a4a4'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='%2397a4a4'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>") !important;
  left: 5px !important;
}

.searchbar-clear-icon {
  right: 0 !important;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='%2397a4a4'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>") !important;
}

.searchbar {
  background: transparent !important;
}
