@import '../base/_typography.scss';

.segment .segment-button {
  background-color: color($colors, white);
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: color($colors, white);
}

.segment-ios .segment-button.segment-activated {
  color: color($colors, primary) !important;
  font-family: "Roboto-Medium";
  font-size: 12px;
  font-weight: 500;
  line-height: 2.67;
  text-align: center;
  background-color: color($colors, white);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 4px solid color($colors, primary);
}

.segment-ios .segment-button:first-of-type {
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: "Roboto-Regular";
  font-size: 12px;
  line-height: 2.67;
  text-align: center;
  color: color($colors, gray-page);
}

.segment-ios .segment-button {
  font-family: "Roboto-Regular";
  font-size: 12px;
  line-height: 2.67;
  text-align: center;
  color: color($colors, gray-page);
  border: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 40px;
  padding-top: 5px;
}

.segment-ios .segment-button:last-of-type {
  font-family: "Roboto-Regular";
  font-size: 12px;
  line-height: 2.67;
  text-align: center;
  color: color($colors, gray-page);
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
