.signal-bars {
  display: inline-block;
}

.signal-bars .bar {
  width: 14%;
  margin-left: 1%;
  min-height: 20%;
  display: inline-block;
}

.signal-bars .bar.first-bar {
  height: 100%;
}

.signal-bars .bar.second-bar {
  height: 100%;
}

.signal-bars .bar.third-bar {
  height: 100%;
}

.signal-bars .bar.fourth-bar {
  height: 100%;
}

.signal-bars .bar.fifth-bar {
  height: 100%;
}

.good .bar {
  background-color: color($colors, cyan-green);
  border: thin solid darken(color($colors, cyan-green), 7%);
}

.bad .bar {
  background-color: color($colors, red-orange);
  border: thin solid darken(color($colors, red-orange), 20%);
}

.ok .bar {
  background-color: color($colors, yellow);
  border: thin solid darken(color($colors, yellow), 7%);
}

.four-bars .bar.fifth-bar,
.three-bars .bar.fifth-bar,
.three-bars .bar.fourth-bar,
.one-bar .bar:not(.first-bar),
.two-bars .bar:not(.first-bar):not(.second-bar) {
  background-color: color($colors, white-fa);
  border: thin solid color($colors, white-f3);
}
