.sync-attachment {
  color: color($colors, feedback-negative);
  object-fit: contain;
  float: right;
  position: relative;
  z-index: 100;
}

.sync-attachment::before {
  font-size: 12px;
}

.err-sync-attachment {
  color: color($colors, feedback-negative) !important;
  font-size: 10px !important;
  margin: 0 !important;
  line-height: 10px !important;
  word-wrap: break-word;
  margin: 8px 12px 0 0 !important;
}

.sync-close {
  color: color($colors, feedback-negative);
  object-fit: contain;
  float: right;
  position: relative;
  z-index: 100;
  margin-top: 12px;
}

.sync-close::before {
  font-size: 24px;
}

.sync-badge{
  background-color: color($colors, secondary-strong-olive) !important;
  position: absolute !important;
  border-radius: 50% !important;
  margin-left: 12px !important;
  height: 20px !important;
  width: 20px !important;
  padding: 6px 0 !important;
  font-size: 10px !important;
  z-index: 100 !important;
}
