.toggle {
  display: flex;
  float: left;

  ion-label{
    margin-top:12px !important;
  }
}

.toggle-container{
  margin: 0 0 1em 0;
}

.toggle-label{
  margin-top: 12px !important;
}

.stacked-toggle {
  margin-bottom: 10px !important;
  font-size: 1.2rem;
}

.toggle-icon {
  //corpo
  background-color: color($colors, gray-soft) !important;
}

.toggle-inner {
  //header
  background-color: color($colors, gray-light) !important;
}

.toggle-checked .toggle-icon {
  //corpo
  background-color: color($colors, secondary-soft-olive) !important;
}

.toggle-checked .toggle-inner {
  //header
  background-color: color($colors, secondary-strong-olive) !important;
}
 