<ion-header>
  <header [hiddenFilter]="true" [hiddenAgenda]="true" [hiddenSync]="true" [hiddenSearch]="true" [showPageTitle]="true" [showBack]="true"
    [showLogo]="false"></header>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-card-header>
      Informações de contato
      <img src="./assets/icon/edit@3x.png" *ngIf="isReadOnly" class="edit" tappable (click)="editContact()">
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item class="input-style" [class.input-no-border]="isReadOnly">
          <ion-label floating>Nome <span class="red" *ngIf="!isReadOnly">*</span></ion-label>
          <ion-input (ionBlur)="checkFirstName()" type="text" class="card-input character-limit"
            [(ngModel)]="contact.FirstName" [disabled]="isReadOnly" maxlength="38" only-letters></ion-input>
        </ion-item>
        <div *ngIf="!checkFirstName() && contact.FirstName && contact.FirstName.length > 0" class="err-input">Nome incorreto.</div>

        <ion-item class="input-style" [class.input-no-border]="isReadOnly">
          <ion-label floating>Sobrenome <span class="red" *ngIf="!isReadOnly">*</span></ion-label>
          <ion-input (ionBlur)="checkLastName()" type="text" class="card-input character-limit" [(ngModel)]="contact.LastName"
            [disabled]="isReadOnly" maxlength="38" only-letters></ion-input>
        </ion-item>
        <div *ngIf="!checkLastName()  && contact.LastName && contact.LastName.length > 0" class="err-input">Sobrenome incorreto.</div>

        <ion-item class="input-style margin-input" [class.input-no-border]="isReadOnly">
          <ion-label floating>Nome da conta</ion-label>
          <ion-input class="card-input character-limit" [(ngModel)]="contact.Account.Name"
            [disabled]="true"></ion-input>
        </ion-item>

        <ion-item class="input-style" [class.input-no-border]="isReadOnly">
          <ion-label class="no-margin-top" floating>Cargo</ion-label>
          <ion-input *ngIf="isReadOnly" [(ngModel)]="contact.Profissao__c" class="card-input character-limit" [disabled]="isReadOnly"></ion-input>
          <ion-select *ngIf="!isReadOnly" interface="popover" [(ngModel)]="contact.Profissao__c">
            <ion-option *ngFor="let pro of iProfissao__c" value="{{ pro.value }}">{{ pro.label }}</ion-option>
          </ion-select>
          <ion-icon [hidden]="isReadOnly" name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>

        <ion-item class="input-style" [class.input-no-border]="isReadOnly" *ngIf="isReadOnly" tappable (tap)="contact.Phone && phoneNumber(contact.Phone)">
          <ion-label floating>Telefone</ion-label>
          <ion-input class="card-input character-limit link-underline" [(ngModel)]="contact.Phone" disabled></ion-input>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="isReadOnly" *ngIf="!isReadOnly">
          <ion-label floating>Telefone</ion-label>
          <ion-input type="tel" class="card-input character-limit" mask="+55###########" maxlength="14" [(ngModel)]="contact.Phone" [disabled]="isReadOnly"></ion-input>
        </ion-item>
        <div *ngIf="!checkPhone()" class="err-input">Telefone incorreto.</div>

        <ion-item class="input-style" [class.input-no-border]="isReadOnly" *ngIf="isReadOnly" tappable (tap)="contact.MobilePhone && phoneNumber(contact.MobilePhone)">
          <ion-label floating>Celular</ion-label>
          <ion-input class="card-input character-limit link-underline" [(ngModel)]="contact.MobilePhone" disabled></ion-input>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="isReadOnly" *ngIf="!isReadOnly">
          <ion-label floating>Celular</ion-label>
          <ion-input type="tel" class="card-input character-limit" mask="+55###########" maxlength="14" [(ngModel)]="contact.MobilePhone" [disabled]="isReadOnly"></ion-input>
        </ion-item>
        <div *ngIf="!checkMobilePhone()" class="err-input">Celular incorreto.</div>

        <ion-item class="input-style" [class.input-no-border]="isReadOnly" *ngIf="isReadOnly" tappable (tap)="contact.Email && mailTo(contact.Email)">
          <ion-label floating>E-mail</ion-label>
          <ion-input class="card-input character-limit link-underline" [(ngModel)]="contact.Email" disabled></ion-input>
        </ion-item>
        <ion-item class="input-style" [class.input-no-border]="isReadOnly" *ngIf="!isReadOnly">
          <ion-label floating>E-mail <span class="red" *ngIf="!isReadOnly">*</span></ion-label>
          <ion-input (ionBlur)="checkEmail()" type="email" class="card-input character-limit" [(ngModel)]="contact.Email"
            maxlength="240" [disabled]="isReadOnly"></ion-input>
        </ion-item>
        <div *ngIf="!checkEmailError()" class="err-input">E-mail incorreto.</div>

        <ion-item class="input-style" [class.input-no-border]="isReadOnly">
          <ion-label floating>Marca</ion-label>
          <ion-input type="text" class="card-input character-limit" [(ngModel)]="contact.Marca.Name"
            [disabled]="true"></ion-input>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <div class="container-footer" *ngIf="!isReadOnly">
    <button ion-button class="btn-footer" outline tappable (click)="canceledContact()">CANCELAR</button>
    <button ion-button class="btn-footer right" tappable (click)="completedContact()" [disabled]="isSaveDisabled()">SALVAR</button>
  </div>

</ion-content>
