corn-harvesting-modal{
  
  .dayCycle {
    padding-left: 6px;
    padding-bottom: 16px !important;
    margin-top: 16px !important;
    margin-bottom: 24px !important;
    border-bottom: 1px solid color($colors, gray-light);
  }

  input,
  input[disabled],
  ion-select {
    text-align: right !important;
  }

  ion-item{
    margin:0 !important;
  }

  .input-grey {
    background-color: color($colors, border-content-color);
    margin: 2px 0 2px 0 !important;
    .label-input-style {
      padding: 0 14px !important;
    }
  }
}
