<ion-content class="modal" padding>
  <ion-card>
    <ion-card-header class="modal-header">
      <div class="filter-header">
        <div>
          <ion-icon class="close" name="close" (click)="dismiss()"></ion-icon>
        </div>
          <ion-item text-center class="title">Fechamento de Safra</ion-item>
      </div>
    </ion-card-header>
    <br>
    <ion-card-content>
      <ion-item class="input-grey" (click)="!isReadOnly && openHybridModal()">
        <ion-label class="label-input-style" text-wrap>Híbrido<br>Plantado <span class="red">*</span></ion-label>
        <ion-input disabled type="text" value="{{hybridVisit.BR_HybridName__c}}" placeholder="Selecione"></ion-input>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-grey">
        <ion-label class="label-input-style" text-wrap>População<br>plantada <span class="red">*</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Populacao_de_Plantio__c" (ionChange)="checkPlatingPopulation()" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Populacao_de_Plantio__c &&!checkPlatingPopulation()" class="err-input">Valor tem que ser entre 40 e 120.</ion-label>

      <ion-item class="input-grey">
        <ion-label class="label-input-style" text-wrap>População<br>emergida <span class="red">*</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Populacao_de_Emergencia__c" (ionChange)="checkEmergencyPopulation()" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Populacao_de_Emergencia__c &&!checkEmergencyPopulation()" class="err-input">Valor tem que ser entre 40 e 120.</ion-label>

      <ion-item class="input-grey">
        <ion-label class="label-input-style" text-wrap>População<br>final <span class="red">*</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Populacao_Final__c" (ionChange)="checkFinalPopulation()" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Populacao_Final__c && !checkFinalPopulation()" class="err-input">Valor tem que ser entre 40 e 120.</ion-label>

      <ion-item class="input-grey">
        <ion-label class="label-input-style" text-wrap>Grão ardido (%) <span class="red">*</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Percentual_de_Grao_Ardido__c" (ionChange)="checkPercentualGraoArdido()" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Percentual_de_Grao_Ardido__c && !checkPercentualGraoArdido()" class="err-input">Valor tem que ser entre 0 e 100.</ion-label>

      <ion-item class="input-grey">
        <ion-label class="label-input-style" text-wrap>Umidade (%) <span class="red">*</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Umidade__c" (ionChange)="checkUmidade()" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Umidade__c &&!checkUmidade()" class="err-input">Valor tem que ser entre 10 e 40.</ion-label>

      <ion-item class="input-grey">
        <ion-label class="label-input-style" text-wrap>Tombamento (%) <span class="red">*</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Tombamento__c" (ionChange)="checkTombamento()" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Tombamento__c &&!checkTombamento()" class="err-input">Valor tem que ser entre 0 e 100.</ion-label>

      <ion-item class="input-grey">
        <ion-label class="label-input-style" text-wrap>Quebramento (%) <span class="red">*</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Quebramento__c" (ionChange)="checkQuebramento()" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Quebramento__c &&!checkQuebramento()" class="err-input">Valor tem que ser entre 0 e 100.</ion-label>

      <ion-item class="input-grey">
        <ion-label class="label-input-style character-limit lbl-max-width" text-wrap>Produtividade<br>(Kg/ha) <span class="red">*</span></ion-label>
        <ion-input [disabled]="isReadOnly" class="character-limit" type="tel" maxlength="5" mask="#####" [(ngModel)]="hybridVisit.PRODUTIVIDADE_LIQ_13__c" (ionChange)="checkLiquidProductivity()" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.PRODUTIVIDADE_LIQ_13__c &&!checkLiquidProductivity()" class="err-input">Valor tem que ser entre 2000 e 25000.</ion-label>

      <div class="apply-content">
        <button (click)="closeModal()" [disabled]="isReadOnly || savedEnable()">Adicionar</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
