<ion-header>
  <header (onClearSearch)="reloadClients()" [hiddenAgenda]="true" [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="false" [showPageTitle]="true" [showBack]="false" [showLogo]="false" [objectSearch]="searchInputType[clientsListSegment]" [context]="context" [namePage]="namePage"></header>

  <div>
    <ion-segment [(ngModel)]="clientsListSegment" (ionChange)="reloadClients()">
      <ion-segment-button value="farmer">
        Agricultores
      </ion-segment-button>
      <ion-segment-button value="farm">
        Fazendas
      </ion-segment-button>
      <ion-segment-button value="channel">
        Canais
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="clientsListSegment">
    <ion-item-group *ngSwitchCase="'farmer'">
      <client-items [type]="'farmer'" [searchInputType]="searchInputType.farmer"></client-items>
    </ion-item-group>
    <ion-item-group *ngSwitchCase="'farm'">
      <client-items [type]="'farm'" [searchInputType]="searchInputType.farm"></client-items>
    </ion-item-group>
    <ion-item-group *ngSwitchCase="'channel'">
      <client-items [type]="'channel'" [searchInputType]="searchInputType.channel"></client-items>
    </ion-item-group>
  </div>
</ion-content>
