<ion-card-header class="flex-space-between" tappable (tap)="showgeolocationCardButton()">
    <div class="flex" clear>
        <label *ngIf="!isClientsLocal">Geolocalização</label>
        <label *ngIf="isClientsLocal">Georreferenciamento</label>
        <ion-icon *ngIf="!geolocationCard" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="geolocationCard" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
    </div>
</ion-card-header>

<ion-card-content *ngIf="geolocationCard">
    <ion-list class="">
        <div *ngIf="!isClientsLocal" class="flex-space-between geo-border-bottom" [class.input-no-border]="isReadOnly">
            <ion-item>
                <ion-label floating>Altitude</ion-label>
                <!-- <ion-input type="tel" maxLength="19" only-numbers (ionChange)="emitChange()" (ionBlur)="sliceGeo('alt')" [(ngModel)]="altitude"
                    [disabled]="isReadOnly" readonly></ion-input> -->
                <ion-input type="tel" maxLength="19" only-numbers [(ngModel)]="altitude" [disabled]="true" readonly></ion-input>
            </ion-item>
            <button class="geo-btn" item-right [disabled]="isReadOnly" (click)="geoModal()">
                <img src="./assets/icon/gps.svg" class="aim-svg" />
            </button>
        </div>
        <div *ngIf="!isClientsLocal" class="flex-space-between">
            <ion-item class="margin-r">
                <ion-label floating>Latitude</ion-label>
                <!-- <ion-input type="tel" maxLength="19" only-numbers class="geo-border-bottom" [class.input-no-border]="isReadOnly" (ionChange)="emitChange()"
                    (ionBlur)="sliceGeo('lat')" [(ngModel)]="latitude" [disabled]="isReadOnly" readonly></ion-input> -->
                <ion-input type="tel" maxLength="19" only-numbers class="geo-border-bottom" [class.input-no-border]="isReadOnly" (ionChange)="emitChange()" [(ngModel)]="latitude" [disabled]="true" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Longitude</ion-label>
                <!-- <ion-input type="tel" maxLength="19" only-numbers class="geo-border-bottom" [class.input-no-border]="isReadOnly" (ionChange)="emitChange()"
                    (ionBlur)="sliceGeo('long')" [(ngModel)]="longitude" [disabled]="isReadOnly" readonly></ion-input> -->
                <ion-input type="tel" maxLength="19" only-numbers class="geo-border-bottom" [class.input-no-border]="isReadOnly" (ionChange)="emitChange()" [(ngModel)]="longitude" [disabled]="true" readonly></ion-input>
            </ion-item>
        </div>
        <div *ngIf="isClientsLocal" class="flex-space-between">
            <ion-item class="margin-r">
                <ion-label floating>Latitude</ion-label>
                <!-- <ion-input type="tel" maxLength="18" only-numbers class="geo-border-bottom" [class.input-no-border]="isReadOnly" (ionChange)="emitChange()"
                    [(ngModel)]="latitude" [disabled]="isReadOnly" readonly></ion-input> -->
                <ion-input type="tel" maxLength="18" only-numbers class="geo-border-bottom" [class.input-no-border]="isReadOnly" (ionChange)="emitChange()" [(ngModel)]="latitude" [disabled]="true" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Longitude</ion-label>
                <!-- <ion-input type="tel" maxLength="18" only-numbers class="geo-border-bottom" [class.input-no-border]="isReadOnly" (ionChange)="emitChange()"
                    [(ngModel)]="longitude" [disabled]="isReadOnly" readonly></ion-input> -->
                <ion-input type="tel" maxLength="18" only-numbers class="geo-border-bottom" [class.input-no-border]="isReadOnly" (ionChange)="emitChange()" [(ngModel)]="longitude" [disabled]="true" readonly></ion-input>
            </ion-item>
            <button class="geo-btn client-geo" item-right [disabled]="isGeolocationButtonDisabled()" (click)="geoModal()">
                <img src="./assets/icon/gps.svg" class="aim-svg" />
            </button>
        </div>
        <div *ngIf="isClientsLocal && !isReadOnly" class="edit-buttons">
            <button ion-button full class="btn-save-geo save-button" (click)="save()">SALVAR</button>
        </div>
    </ion-list>
</ion-card-content>