geolocation {
  .btn-save-geo {
    float: none !important;
    width: 100% !important;
  }
  .client-geo {
    position: absolute;
    right: 24px;
  }
  .item-input:last-child {
    margin-left: 4px;
  }
  .margin-r{
    margin-right: 10px;
  }
}
