<ion-content class="modal" (click)="dismiss()">
  <ion-card (click)="$event.stopPropagation()">
      <!-- *ngIf="!attachment?.length > 0" -->
      <ion-card-content *ngIf="!haveImage">
          <ion-list class="flex-list">
          <!-- <ion-item class="" (click)="inputFile.click()"> -->
         <ion-item class="" (click)="performAction('galeria')">
              <img src="./assets/icon/galeria.svg" class=""/>
          </ion-item>
          <!-- <ion-item class="" (click)="performAction($event)"> -->
         <ion-item class="" (click)="performAction('camera')">
              <img src="./assets/icon/camera.svg" class=""/>
          </ion-item>
          </ion-list>
          <ion-list class="flex-list">
          <ion-item >
              <ion-label class="break-line">Galeria de Imagens</ion-label>
          </ion-item>
          <ion-item>
              <ion-label>Tirar Foto</ion-label>
          </ion-item>
          </ion-list>
      </ion-card-content>

      <ion-card-header class="modal-header" *ngIf="haveImage">
          <div class="filter-header">
          <div>
              <ion-icon class="close" name="close" (click)="dismiss()"></ion-icon>
          </div>
          <div class="title">
              <span>Upload de foto</span>
          </div>
          </div>
      </ion-card-header>
      <ion-card-content class="container-img" *ngIf="haveImage">
          <ion-list>
            <div class="img-container">
                <img [src]="prepareImage(attachment)" />
            </div>
            <ion-item class="input-style">
                <ion-label floating>Comentário<span class="red"> *</span></ion-label>
                <ion-input class="card-input" maxlength="250" [(ngModel)]="currentPhotoCommentary"></ion-input>
            </ion-item>

            <div class="apply-content">
              <button ion-button full tappable [disabled]="currentPhotoCommentary?.length == 0" (click)="savePhoto()">OK</button>
            </div>
          </ion-list>
      </ion-card-content>

      <!-- <input hidden #inputFile type="file" (change)="openFileChooser($event)" /> -->
  </ion-card>
</ion-content>
