page-attachment-options {
  .card-content-ios {
    padding: 16px !important;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .img-container {
      max-height: 40vh !important;
    }
  }
  .modal {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }
  .img-container {
    overflow: hidden;
    max-height: 30vh !important;
    border-radius: 4px;
  }
  .img-container img {
    width: 100%;
    object-fit: contain;
  }
  .scroll-content {
    padding-bottom: 15vh !important;
  }
  .card {
    width: 90% !important;
    margin: 92px auto !important;
  }
  .flex-list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .flex-list ion-label {
    font-family: "Roboto-Medium";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #424b4b;
    margin-right: 0;
  }
  .flex-list img {
    width: 40%;
    margin: 0 auto;
  }
  .button-confection {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background-color: #cccc33;
  }
  .title {
    margin: 0 auto;
  }
  .title span {
    font-family: "Roboto-Light";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #424b4b;
  }
  .card-header {
    margin-left: 0;
    margin-right: 0;
  }
  .filter-header {
    margin: 0 16px;
    display: flex;
  }
  .break-line {
    white-space: pre-wrap;
  }
  .item {
    border-top: none !important;
  }
  .item-input-disabled input {
    border-bottom: none !important;
  }
  .label {
    font-family: "Roboto-Regular";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #97a4a4;
  }
  .item-input-has-value .label[floating] {
    font-family: "Roboto-Regular";
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .text-input {
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #424b4b !important;
    opacity: 1 !important;
  }

  .container-img{
    margin-top: 10px;
  }
}
