<ion-card class="form-card">
    <ion-card-header class="form-card-header" tappable (tap)="hideCard()">
      <ion-item>
        <ion-label class="card-title" *ngIf="!info.handle">Manejo de daninha</ion-label>
        <ion-label class="card-title" *ngIf="info.handle">Informações de Manejo</ion-label>
        <ion-icon *ngIf="hiddenCard" name="ios-arrow-down-outline" item-right></ion-icon>
        <ion-icon *ngIf="!hiddenCard" name="ios-arrow-up-outline" item-right></ion-icon>
      </ion-item>
    </ion-card-header>

    <ion-card-content *ngIf="!hiddenCard" class="form-card-content">
      <!-- Pré-plantio -->
      <div *ngIf="info.isFounded__pp !== undefined">
        <ion-item text-wrap>
          <ion-label>Existem pragas remanescentes da cultura anterior? <span class="red">*</span></ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.isFounded__pp" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <ion-item *ngIf="info.whichProduct__pp !== undefined">
        <ion-label floating>Qual produto utilizado?</ion-label>
        <ion-input type="text" value="{{ info.whichProduct__pp }}" disabled></ion-input>
        <ion-icon name="md-add" item-right></ion-icon>
      </ion-item>

      <!-- Plantio -->
      <div *ngIf="info.isFounded__p !== undefined">
        <ion-item text-wrap>
          <ion-label>Encontrou plantas daninhas resistentes? <span class="red">*</span></ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.isFounded__p" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <div [class.line-bottom]="(i + 1) < info.weed__p.length" *ngFor="let w of info.weed__p; let i = index">
        <ion-item>
          <ion-label floating>Quais?</ion-label>
          <ion-input type="text" value="{{ w.whichFound__p }}" disabled></ion-input>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label floating>Nível de infestação?</ion-label>
          <ion-input type="text" value="{{ w.levelInfestation__p }}" disabled></ion-input>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
      </div>

      <!-- Informações de manejo -->
      <div *ngIf="info.stand__im !== undefined">
        <ion-item text-wrap>
          <ion-label>O stand está bem estabelecido? <span class="red">*</span>
          </ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.stand__im" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <div *ngIf="info.failPlanting__im !== undefined">
        <ion-item text-wrap>
          <ion-label>Houve falha no plantio? <span class="red">*</span>
          </ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.failPlanting__im" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <ion-item *ngIf="info.whichMotive__im !== undefined">
        <ion-label floating>Qual o motivo?</ion-label>
        <ion-input type="text" value="{{ info.whichMotive__im }}" disabled></ion-input>
      </ion-item>

      <div *ngIf="info.diseaseControl__im !== undefined">
        <ion-item text-wrap>
          <ion-label>Foi feito controle de doenças com fungicida? <span class="red">*</span>
          </ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.diseaseControl__im" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <ion-item *ngIf="info.whichProduct__im !== undefined">
        <ion-label floating>Qual produto utilizado?</ion-label>
        <ion-input type="text" value="{{ info.whichProduct__im }}" disabled></ion-input>
      </ion-item>

      <ion-item class="line-top" *ngIf="info.subtitle__im !== undefined || info.text__im !== undefined">
        <ion-label class="text-content">
          <ion-label *ngIf="info.subtitle__im !== undefined" text-wrap class="card-subtitle">{{ info.subtitle__im }}</ion-label>
          <ion-label *ngIf="info.text__im !== undefined" text-wrap class="card-body">{{ info.text__im }}</ion-label>
        </ion-label>
      </ion-item>

      <!-- Germinação e Emergência -->
      <div *ngIf="info.usedHerbicida__ge !== undefined">
        <ion-item text-wrap>
          <ion-label>Utilizou herbicida pré-emergente? <span class="red">*</span></ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.usedHerbicida__ge" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <div [class.line-bottom]="(i + 1) < info.herbicida.length" *ngFor="let h of info.herbicida; let i = index">
        <ion-item>
          <ion-label floating>Qual herbicida foi utilizado?</ion-label>
          <ion-input type="text" value="{{ h.whichHerbicida__ge }}" disabled></ion-input>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label floating>Qual dose foi utilizada?</ion-label>
          <ion-input type="text" value="{{ h.dosedHerbicida__ge }} {{ h.typeDosed__ge }}" disabled></ion-input>
        </ion-item>
      </div>

      <div *ngIf="info.scapeWeed__ge !== undefined">
        <ion-item text-wrap>
          <ion-label>Houve escape de planta daninha na dessecação? <span class="red">*</span></ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.scapeWeed__ge" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <div [class.line-bottom]="(i + 1) < info.weed__ge.length" *ngFor="let w of info.weed__ge; let i = index">
        <ion-item>
          <ion-label floating>Qual daninha foi encontrada?</ion-label>
          <ion-input type="text" value="{{ w.whichFound__ge }}" disabled></ion-input>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label floating>Qual nível de infestação?</ion-label>
          <ion-input type="text" value="{{ w.levelOfInfestation__ge }}" disabled></ion-input>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
      </div>

      <!-- Colheita -->
      <div *ngIf="info.weedInfection__c !== undefined">
        <ion-item text-wrap>
          <ion-label>Há infestação de plantas daninhas? <span class="red">*</span>
        </ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.weedInfection__c" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <div [class.line-bottom]="(i + 1) < info.weed__c.length" *ngFor="let w of info.weed__c; let i = index">
        <ion-item>
          <ion-label floating>Qual planta daninha?</ion-label>
          <ion-input type="text" value="{{ w.whichWeed__c }}" disabled></ion-input>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label floating>Qual nível de infestação?</ion-label>
          <ion-input type="text" value="{{ w.levelInfestation__c }}" disabled></ion-input>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
      </div>

    </ion-card-content>
  </ion-card>
