<ion-card-content class="content-climate">
  <ion-item>
    <ion-label floating>Cliente</ion-label>
    <ion-input type="text" disabled [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>RADL</ion-label>
    <ion-input type="text" disabled [(ngModel)]="radl"></ion-input>
  </ion-item>
</ion-card-content>
