<ion-content class="modal" padding>
  <ion-card>
    <ion-card-header class="modal-header">
      <div class="filter-header">
        <div>
          <ion-icon class="close" name="close" (click)="dismiss()"></ion-icon>
        </div>
          <ion-item text-center class="title">Híbrido de visitas</ion-item>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input-style" (click)="!isReadOnly && openHybridModal()">
        <ion-label floating>Híbrido Recomendado <span class="red">*</span></ion-label>
        <ion-input disabled class="no-border-disabled" value="{{ hybridVisit.BR_HybridName__c }}"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style">
        <ion-label class="opacity-1" floating>Data do Plantio</ion-label>
        <ion-datetime [disabled]="isReadOnly" [(ngModel)]="hybridVisit.BR_PlantationDate__c" [min]="year-1" [max]="year+1" displayFormat="DD/MM/YYYY" class="value-list character-limit"></ion-datetime>
        <ion-icon name="ai-agenda" class="calendar-icon" item-right></ion-icon>
      </ion-item>
      <ion-item class="input-style">
        <ion-label floating>População (mil sementes/ha) <span class="red">*</span></ion-label>
      <ion-input class="label-input" type="tel" [(ngModel)]="hybridVisit.Populacao_de_Plantio__c" maxlength="3" mask="###" [disabled]="isReadOnly" only-numbers></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Populacao_de_Plantio__c && !checkPopulation()" class="err-input">Valor incorreto, tente um número de 40 a 120.</ion-label>
      <div class="apply-content">
        <button ion-button full (click)="closeModal()" [disabled]="isReadOnly || savedEnable()">Cadastrar</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
