<ion-content padding class="modal modal-content">
  <ion-card>
    <ion-card-header class="title">
      <ion-item>
        <ion-icon name="md-close" item-left (click)="closeModal()"></ion-icon>
        <ion-item text-center>Adicionar Praga</ion-item>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngIf="showBR_Phase__c" class="input-style input-margin" (click)="!isReadOnly && openPhaseModal()">
        <ion-label class="no-margin" floating>Fase <span class="red">*</span></ion-label>
        <ion-input disabled class="character-limit" [(ngModel)]="plague.BR_Phase__c"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style input-margin">
        <ion-label class="no-margin" floating>Tipo de Praga <span class="red">*</span></ion-label>
        <ion-select interface="popover" [(ngModel)]="plague.Tipo_de_Praga__c" [disabled]="isReadOnly">
          <ion-option *ngFor="let item of type" value="{{ item.value }}">{{ item.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style input-margin">
        <ion-label class="no-margin" floating>Praga <span class="red">*</span></ion-label>
        <ion-select interface="popover" [(ngModel)]="plague.Qual__c" [disabled]="isReadOnly">
          <ion-option *ngFor="let item of which" value="{{ item.value }}">{{ item.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item *ngIf="showNivel_de_Infestacao__c" class="input-style input-margin">
        <ion-label class="no-margin" floating>Nível de Infestação <span class="red">*</span></ion-label>
        <ion-select interface="popover" [(ngModel)]="plague.Nivel_de_Infestacao__c" [disabled]="isReadOnly">
          <ion-option *ngFor="let item of nivel" value="{{ item.value }}">{{ item.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item>
        <p text-left class="card-p">Necessidade de Inseticida:<span class="red">*</span></p>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div class="toggle">
              <ion-label class="card-p">Não</ion-label>
              <ion-toggle mode="md" [(ngModel)]="Necessidade_de_Inseticida__c" (ionChange)="setVariableToSalesforceGambi()" [disabled]="isReadOnly"></ion-toggle>
              <ion-label class="card-p">Sim</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item *ngIf="Necessidade_de_Inseticida__c" class="input-style" [class.input-no-border]="isReadOnly"
        (click)="!isReadOnly && openChemicalModal()">
        <ion-label floating>Químico
          <span class="red">*</span>
        </ion-label>
        <ion-input disabled [(ngModel)]="plague.Quimicos__c"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <div class="apply-content">
        <button ion-button full (click)="applyPlague()" [disabled]="isSaveDisabled() || isReadOnly">CADASTRAR</button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
