<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false"></header>
</ion-header>

<ion-content padding class="container">

  <ion-card>
    <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>{{ visit.Status__c }}</ion-item>

    <ion-card-header tappable (tap)="showHybrids = !showHybrids">
      <div class="flex" clear>
        Híbrido de visitas
        <ion-icon *ngIf="!showHybrids" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showHybrids" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content class="content-border-bottom" *ngIf="showHybrids">
      <ion-list>
        <div *ngFor="let hybrid of visit.Hibrido_de_Visita__c; let i = index;">
          <ion-item class="hybrid-label">
            <ion-label tappable (click)="openSoyVisitPlantingModal(i)">{{hybrid.BR_HybridName__c}}</ion-label>
            <button ion-button icon-only item-end clear class="remove-item" (click)="!isReadOnly && removeHybrid(i)" *ngIf="!isReadOnly">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item>
        </div>
      </ion-list>

      <button ion-button class="button-card hybrid" outline (click)="openSoyVisitPlantingModal(null)" [disabled]="isReadOnly">Adicionar Variedade</button>
    </ion-card-content>

    <ion-card-header class="flex-space-between" tappable (tap)="showInformationData = !showInformationData">
      <div class="flex" clear>
        <label>Informações da visita</label>
        <ion-icon *ngIf="!showInformationData" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="showInformationData" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="showInformationData" class="fix-margin-bottom">

      <ion-list>
        <ion-item class="input-style">
          <ion-label class="name-field" floating>Data do Plantio
            <span class="red">*</span>
          </ion-label>
          <ion-datetime [disabled]="isReadOnly" [(ngModel)]="visit.Data_do_Plantio__c" [min]="year" displayFormat="DD/MM/YYYY"></ion-datetime>
          <ion-icon name="ai-agenda" class="calendar-icon" item-right></ion-icon>
        </ion-item>

        <ion-item class="input-style">
          <ion-label floating>Espaçamento (cm)
            <span class="red">*</span>
          </ion-label>
          <ion-input class="card-input" type="tel" [(ngModel)]="visit.Espacamento__c" maxlength="3" mask="###" [disabled]="isReadOnly"
            (input)="checkEspacamento($event.target.value)"></ion-input>
        </ion-item>
        <ion-label [hidden]="isReadOnly || (!visit.Espacamento__c) || isEspacamentoValid" class="err-input">Valor incorreto, tente um número de 40 a 100.</ion-label>

        <ion-item class="input-style">
          <ion-label floating>Profundidade de Plantio (cm)
            <span class="red">*</span>
          </ion-label>
          <ion-input class="card-input" type="tel" [(ngModel)]="visit.BR_PlantingDepth__c" maxlength="3" mask="###" [disabled]="isReadOnly"
            (input)="checkPlantingDepthV($event.target.value)"></ion-input>
        </ion-item>
        <ion-label [hidden]="isReadOnly || (!visit.BR_PlantingDepth__c) || isPlantingDepthValid" class="err-input">Valor incorreto, tente um número de 1 a 10.</ion-label>

        <ion-label class="text-small">Adubação de base (Kg/ha)</ion-label>
        <ion-item class="input-style input-item">
          <ion-label floating>N
            <span class="red">*</span>
          </ion-label>
          <ion-input class="card-input" type="tel" maxlength="3" mask="###" [(ngModel)]="visit.BR_BaseFertilizationN__c" [disabled]="isReadOnly"></ion-input>
        </ion-item>
        <ion-item class="input-style input-item">
          <ion-label floating>P
            <span class="red">*</span>
          </ion-label>
          <ion-input class="card-input" type="tel" maxlength="3" mask="###" [(ngModel)]="visit.BR_BaseFertilizationP__c" [disabled]="isReadOnly"></ion-input>
        </ion-item>
        <ion-item class="input-style input-item">
          <ion-label floating>K
            <span class="red">*</span>
          </ion-label>
          <ion-input class="card-input" type="tel" maxlength="3" mask="###" [(ngModel)]="visit.BR_BaseFertilizationK__c" [disabled]="isReadOnly"></ion-input>
        </ion-item>

      </ion-list>
    </ion-card-content>

    <div class="geolocation">
      <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event);"></geolocation>
    </div>

    <ion-card-content class="container-obs">
      <ion-item class="input-style">
        <ion-label floating>Observações</ion-label>
        <ion-textarea [auto-resize-textarea]="120" rows="1" class="card-input" maxlength="240" type="text" [(ngModel)]="visit.Observacao__c"
          [disabled]="isReadOnly"></ion-textarea>
      </ion-item>

      <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
    </ion-card-content>

  </ion-card>

  <div class="container-footer" *ngIf="!isReadOnly">
    <button ion-button class="btn-footer" outline [disabled]="isReadOnly" (click)="cancelVisit()">CANCELAR</button>
    <button *ngIf="!editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly || isSaveDisabled()" (click)="completeVisit()">CONCLUIR</button>
    <button *ngIf="editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isReadOnly || isSaveDisabled()" (click)="completeVisit()">SALVAR</button>
  </div>

</ion-content>
