<ion-card>

  <ion-card-header class="flex-space-between">
    <div class="flex" (click)="showPersonalData = !showPersonalData" clear>
      <label>{{titleHeader}}</label>
      <ion-icon *ngIf="!showPersonalData" name="ios-arrow-down-outline" class="right"></ion-icon>
      <ion-icon *ngIf="showPersonalData" name="ios-arrow-up-outline" class="right"></ion-icon>
    </div>
  </ion-card-header>

  <ion-card-content *ngIf="showPersonalData">
    <ion-list>
      <ion-item>
        <ion-label *ngIf="isGrower" floating>Nome completo</ion-label>
        <ion-label *ngIf="isFarm" floating>Nome da Fazenda</ion-label>
        <ion-label *ngIf="isChannel" floating>Nome da Empresa</ion-label>
        <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="client.Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>CPF / CNPJ</ion-label>
        <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="client.GC_VATIN__c"></ion-input>
      </ion-item>

      <div class="flex-space-between" *ngIf="isGrower || isFarm">
        <ion-item>
          <ion-label floating>Inscrição estadual</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="client.Inscricao_Estadual_Produtor__c"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Emissor da ordem</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="client.GC_SAP_ID__c"></ion-input>
        </ion-item>
      </div>
    </ion-list>
  </ion-card-content>

  <ion-card-header>
    <div class="flex-space-between">
      <div class="flex" (click)="showAddress = !showAddress" clear>
        <label>Endereço</label>
        <ion-icon *ngIf="!showAddress" name="ios-arrow-down-outline" class="right"></ion-icon>
        <ion-icon *ngIf="showAddress" name="ios-arrow-up-outline" class="right"></ion-icon>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content *ngIf="showAddress">
    <div>
      <div class="flex-space-between">
        <ion-item>
          <ion-label floating>Município</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="client.Municipio.Name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label style="padding-left: 2px;" floating>UF</ion-label>
          <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="client.UF__c"></ion-input>
        </ion-item>

      </div>

      <ion-item>
        <ion-label floating>Endereço</ion-label>
        <ion-input class="card-input character-limit" [disabled]="true" [(ngModel)]="client.Rua__c"></ion-input>
      </ion-item>

    </div>
  </ion-card-content>

  <div class="geolocation">
    <geolocation [isClientsLocal]="true" [client]="client" [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event);"></geolocation>
  </div>

  <ion-card-header>
    <div class="flex-space-between">
      <div class="flex" (click)="showContactInformation = !showContactInformation" clear>
        <label>Informações de contato</label>
        <ion-icon *ngIf="!showContactInformation" name="ios-arrow-down-outline" class="right"></ion-icon>
        <ion-icon *ngIf="showContactInformation" name="ios-arrow-up-outline" class="right"></ion-icon>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content *ngIf="showContactInformation">
    <ion-list>
      <ion-item tappable (tap)="client.Phone && phoneNumber(client.Phone)">
        <ion-label floating>Telefone</ion-label>
        <ion-input class="card-input character-limit link-underline" disabled [(ngModel)]="client.Phone"></ion-input>
      </ion-item>
      <ion-item tappable (tap)="client.GC_Email_Address__c && mailTo(client.GC_Email_Address__c)">
        <ion-label floating>E-mail</ion-label>
        <ion-input class="card-input character-limit link-underline" disabled [(ngModel)]="client.GC_Email_Address__c"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>

  <ion-card-header *ngIf="isGrower">
    <div class="flex-space-between">
      <div class="flex" (click)="showFarms = !showFarms" clear>
        <label>Fazendas associadas</label>
        <ion-icon *ngIf="!showFarms" name="ios-arrow-down-outline" class="right"></ion-icon>
        <ion-icon *ngIf="showFarms" name="ios-arrow-up-outline" class="right"></ion-icon>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content *ngIf="showFarms && isGrower">
    <div>
      <ion-list>
        <ion-item *ngFor="let farm of clientsParent; let i = index" (click)="openClientDetail(farm)" class="input-style">
          <div class="farm-list">{{farm.Name}}</div>
          <div class="clients-sub-label-in">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-row><b>CPF/CNPJ: </b></ion-row>
                  <ion-row>{{ farm.GC_VATIN__c }}</ion-row>
                </ion-col>
                <ion-col>
                  <ion-row><b>SAP: </b></ion-row>
                  <ion-row>{{ farm.GC_SAP_ID__c }}</ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <img src="./assets/icon/arrow-detail@3x.png" class="arrow-1">
        </ion-item>
      </ion-list>
    </div>
  </ion-card-content>

  <ion-card-header *ngIf="isFarm">
    <div class="flex-space-between">
      <div class="flex" (click)="showGrower = !showGrower" clear>
        <label>Agricultor associado</label>
        <ion-icon *ngIf="!showGrower" name="ios-arrow-down-outline" class="right"></ion-icon>
        <ion-icon *ngIf="showGrower" name="ios-arrow-up-outline" class="right"></ion-icon>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content *ngIf="showGrower && isFarm">
    <div>
      <ion-list>
        <ion-item *ngFor="let grower of clientsParent; let i = index" (click)="openClientDetail(grower)" class="input-style">
          <div class="farm-list">{{grower.Name}}</div>
          <div class="clients-sub-label-in">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-row><b>CPF/CNPJ: </b></ion-row>
                  <ion-row>{{ grower.GC_VATIN__c }}</ion-row>
                </ion-col>
                <ion-col>
                  <ion-row><b>SAP: </b></ion-row>
                  <ion-row>{{ grower.GC_SAP_ID__c }}</ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <img src="./assets/icon/arrow-detail@3x.png" class="arrow-1">
        </ion-item>
      </ion-list>
    </div>
  </ion-card-content>

</ion-card>
