<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false" [hiddenAgenda]="true"></header>
</ion-header>

<ion-content padding>
  <p class="visitEditTxt">{{ editTxt }}</p>
  <ion-card>
    <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>{{ visit.Status__c }}</ion-item>

    <crop-client [event]="event"></crop-client>

    <ion-card-content>
      <p class="card-p1">A visita foi presencial?
      </p>
      <div class="toggle">
        <ion-label class="card-p">Não</ion-label>
        <ion-toggle mode="md" [disabled]="isReadOnly" [(ngModel)]="visit.BR_PresentVisit__c"></ion-toggle>
        <ion-label class="card-p">Sim</ion-label>
      </div>

      <ion-list>
        <ion-item class="input-style">
          <ion-label class="no-margin-top" floating>Cultura</ion-label>
          <ion-select interface="popover" [(ngModel)]="visit.BR_CultureForCrop__c" [disabled]="isReadOnly">
            <ion-option *ngFor="let culture of BR_CultureForCrop__c" value="{{ culture.value }}">{{ culture.label }}</ion-option>
          </ion-select>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>

        <ion-item class="input-style" (click)="!isReadOnly && openObjectiveModal()">
          <ion-label floating>Objetivo</ion-label>
          <ion-input class="not-disable" disabled type="text" [(ngModel)]="visit.BR_CropObjective__c"></ion-input>
          <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
        </ion-item>

      </ion-list>
    </ion-card-content>

    <ion-card-header tappable (tap)="addProducts = !addProducts">
      <div class="flex" clear>
        Preço dos produtos
        <ion-icon *ngIf="!addProducts" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="addProducts" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content class="content-border-bottom" *ngIf="addProducts">
      <ion-list>
        <div *ngFor="let product of visit.CropProducts; let i = index;">
          <ion-item class="hybrid-label">
            <ion-label *ngIf="visit.CropProducts" tappable (click)="openProductModal(i)">{{product.BR_ProductConcorrente__c}}</ion-label>
            <ion-label *ngIf="!visit.CropProducts" tappable (click)="openProductModal(i)">{{product.BR_ProductConcorrente__c}}</ion-label>
            <button ion-button icon-only item-end clear class="remove-item" (click)="removeCropProduct(i)" *ngIf="!isReadOnly">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item>
        </div>
      </ion-list>
      <button ion-button class="button-card hybrid" outline (click)="openProductModal(null)" [disabled]="isReadOnly">ADICIONAR PRODUTO</button>
    </ion-card-content>

    <ion-card-header tappable (tap)="activeVolumeContent = !activeVolumeContent">
      <div class="flex" clear>
        Volumes em (Kg/L)
        <ion-icon *ngIf="!activeVolumeContent" name="ios-arrow-down-outline" class="arrow-header-icon right"></ion-icon>
        <ion-icon *ngIf="activeVolumeContent" name="ios-arrow-up-outline" class="arrow-header-icon right"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="activeVolumeContent">
      <ion-list>
        <ion-item class="input-style">
          <ion-label floating>Negociado em (Kg/L)</ion-label>
          <ion-input class="card-input" type="tel" maxlength="18" [(ngModel)]="visit.BR_Dealed__c" [disabled]="isReadOnly" mask="##################"
            (ionChange)="checkDealed()" only-numbers></ion-input>
        </ion-item>
        <ion-label *ngIf="visit.BR_Dealed__c && !checkDealed()" class="err-input">Valor inválido, campo numérico.</ion-label>
        <ion-item class="input-style">
          <ion-label floating>Fechado em (Kg/L)</ion-label>
          <ion-input class="card-input" type="tel" maxlength="18" [(ngModel)]="visit.BR_Closed__c" [disabled]="isReadOnly" mask="##################"
            (ionChange)="checkClose()" only-numbers></ion-input>
        </ion-item>
        <ion-label *ngIf="visit.BR_Closed__c && !checkClose()" class="err-input">Valor inválido, campo numérico.</ion-label>
      </ion-list>
    </ion-card-content>

    <div class="geolocation">
      <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event);"></geolocation>
    </div>

    <ion-card-content class="container-obs">
      <ion-item class="input-style">
        <ion-label floating>Observações</ion-label>
        <ion-textarea [auto-resize-textarea]="120" class="card-input" rows="1" maxlength="240" type="text" [(ngModel)]="visit.Observacao__c" [disabled]="isReadOnly"></ion-textarea>
      </ion-item>

      <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
    </ion-card-content>

  </ion-card>

  <div class="container-footer" *ngIf="!isReadOnly">
    <button ion-button class="btn-footer" outline tappable (click)="cancelVisit()" [disabled]="isReadOnly">CANCELAR</button>
    <button ion-button *ngIf="!editStatus" class="btn-footer right" tappable (click)="completeVisit()" [disabled]="isReadOnly || isSaveDisabled()">CONCLUIR</button>
    <button ion-button *ngIf="editStatus" class="btn-footer right" tappable (click)="completeVisit()" [disabled]="isReadOnly || isSaveDisabled()">SALVAR</button>
  </div>

</ion-content>
