agenda-schedule {
  ion-scroll {
    height: 100vh;
  }
  ion-infinite-scroll-content {
    min-height: 0 !important;
  }
  .label {
    margin: 0;
  }
  .days {
    font-family: "Roboto-Bold";
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: color($colors, gray-ambient);
    margin: 0;
    text-transform: uppercase;
  }
  .hours {
    font-family: "Roboto-Bold";
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: color($colors, gray-ambient);
  }
  .hours-outlook {
    font-family: "Roboto-Bold";
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: color($colors, gray-ambient);
    padding-top: 1.5vh;
  }
  .dots-space {
    width: 1px;
    height: 16px;
    border-left: dotted 2px color($colors, gray-page);
    margin: 0 auto !important;
  }
  .event {
    padding-left: 5px !important;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .event-box {
    opacity: 0.8;
    border-radius: 3px;
    background-color: white;
    border-left: 8px solid color($colors, feedback-negative);
  }
  .event-box-finished {
    opacity: 0.8;
    border-radius: 3px;
    background-color: white;
    border-left: 8px solid;
    border-left-color: #006633
  }
  .event-box-outlook {
    opacity: 0.8;
    border-radius: 3px;
    background-color: #5da2da !important;
    border-left: 8px solid;
    border-left-color: #4585b5 !important;
  }
  .event-box-current {
    opacity: 0.8;
    border-radius: 3px;
    background-color: white;
    border-left: 8px solid;
    border-left-color: #6699cc
  }
  .event-box-next {
    opacity: 0.8;
    border-radius: 3px;
    background-color: white;
    border-left: 8px solid;
    border-left-color: #424b4b
  }
  .visit-status {
    font-family: "Roboto-Bold";
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: color($colors, feedback-negative);
    margin-bottom: 8px !important;
    margin-left: 8px;
  }
  .visit-status-outlook {
    font-family: "Roboto-Bold";
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: white !important;
    margin-bottom: 8px !important;
    margin-left: 8px;
  }
  .visit-status-finished {
    font-family: "Roboto-Bold";
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #006633;
    margin-bottom: 8px !important;
    margin-left: 8px;
  }
  .visit-status-current {
    font-family: "Roboto-Bold";
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #6699cc;
    margin-bottom: 8px !important;
    margin-left: 8px;
  }
  .visit-status-next {
    font-family: "Roboto-Bold";
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #424b4b;
    margin-bottom: 8px !important;
    margin-left: 8px;
  }
  .visit-type {
    font-family: "Roboto-Medium";
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    text-align: left;
    color: color($colors, gray-ambient);
    margin-left: 8px;
  }
  .visit-type-outlook {
    font-family: "Roboto-Medium";
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    text-align: left;
    color: white !important;
    margin-left: 8px;
  }
  .farm-name {
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: color($colors, gray-ambient);
    margin-left: 8px;
  }
  .location-outlook {
    font-family: "Roboto-Regular";
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: #ffffff !important;
    margin-left: 8px;
  }
  .arrow-right {
    color: color($colors, gray-page);
    padding-right: 15px;
  }
  .arrow-right::before {
    font-size: 0.8em;
  }
  .col {
    padding: 8px 0;
  }
  .scroll-content {
    padding: 0 !important;
  }
  .card-content {
    padding: 0 !important;
  }
  .grid {
    padding: 0;
  }
  .row {
    margin: 8px 0;
  }
  .divider {
    border-bottom: solid 1px color($colors, gray-light);
    margin-top: 24px;
  }

  .margin-label{
    margin-right: 8px !important;
  }

  .errorSincy{
    font-size: 10px;
    color: red;
    float: right;
  }
}
