<ion-card>
  <ion-card-content>
    <ion-scroll scrollY="true">
      <label class="days not-events" *ngIf="keysLabel">Não há nenhum evento na sua agenda</label>
      <div *ngIf="!keysLabel">
        <div *ngFor="let key of keys">
          <ion-item-divider>
            <div class="days" [innerHtml]="getKeyName(key)"></div>
          </ion-item-divider>
          <ion-grid>
            <div *ngFor="let item of events[key]">
            <ion-row *ngIf="hideCanceled(item.Status__c)" tappable (click)="openEventDetail(item);">
              <ion-col col-2>
                <ion-label class="hours" [innerHtml]="getFormattedDate(item.StartDateTime)"></ion-label>
                <ion-label class="dots-space"></ion-label>
                <ion-label class="hours" [innerHtml]="getFormattedDate(item.EndDateTime)"></ion-label>
              </ion-col>
              <ion-col col-1></ion-col>
            <ion-col col-9 [ngClass]="getEventBoxClass(item)" class="event">
              <div class="visit-content">
                <ion-label [ngClass]="getVisitStatusClass(item)" class="margin-label">{{item.IsOutlook__c ? 'Outlook' : item.Status__c}}<span class="errorSincy" *ngIf="item.errorSincy" >Falha no sincronismo</span></ion-label>
                <ion-label class="character-limit margin-label" [ngClass]="getVisitTypeClass(item)">{{item.IsOutlook__c ? item.Subject : item.BR_Tipo_de_Visita__c}}</ion-label>
                <ion-label class="character-limit margin-label" [ngClass]="getFarmNameClass(item)" *ngIf="!item.Subject">{{item.Location}}</ion-label>
                <ion-label class="character-limit margin-label" [ngClass]="getFarmNameClass(item)" *ngIf="item.Subject">{{item.Subject}}</ion-label>
              </div>
              <ion-icon name="ai-arrow-right" class="arrow-right" *ngIf="!item.IsOutlook__c"></ion-icon>
              <ion-icon name="ai-arrow-right" class="arrow-right-outlook" *ngIf="item.IsOutlook__c"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
        </ion-grid>
      </div>
    </div>
    </ion-scroll>
  </ion-card-content>
</ion-card>
