<ion-card class="form-card">
  <ion-card-header class="form-card-header" tappable (tap)="hideCard()">
    <ion-item>
      <ion-label class="card-title">Informações de Posicionamento</ion-label>
      <ion-icon *ngIf="hiddenCard" item-right name="ios-arrow-down-outline"></ion-icon>
      <ion-icon *ngIf="!hiddenCard" item-right name="ios-arrow-up-outline"></ion-icon>
    </ion-item>
  </ion-card-header>

  <ion-card-content *ngIf="!hiddenCard" class="form-card-content">
      
    <div [class.line-bottom]="(i + 1) < info.length" *ngFor="let hybrid of info; let i = index">
      <ion-item *ngIf="hybrid.hybrid__p !== undefined">
        <ion-label floating>Híbrido plantado</ion-label>
        <ion-input disabled type="text" value="{{ hybrid.hybrid__p }}"></ion-input>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>
      
      <ion-item *ngIf="hybrid.treatmentSeed__p !== undefined">
        <ion-label floating>Tratamento de semente</ion-label>
        <ion-input disabled type="text" value="{{ hybrid.treatmentSeed__p }}"></ion-input>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item *ngIf="hybrid.product__p !== undefined">
        <ion-label floating>Produto</ion-label>
        <ion-input disabled type="text" value="{{ hybrid.product__p }}"></ion-input>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item *ngIf="hybrid.population__p !== undefined">
        <ion-label floating>População</ion-label>
        <ion-input disabled type="text" value="{{ hybrid.population__p }}"></ion-input>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>
      
      <ion-item *ngIf="hybrid.area__p !== undefined">
        <ion-label floating>Área plantada</ion-label>
        <ion-input disabled type="text" value="{{ hybrid.area__p }}"></ion-input>
      </ion-item>

      <ion-item *ngIf="hybrid.date__p !== undefined">
        <ion-label floating>Data de plantio</ion-label>
        <ion-input disabled type="text" value="{{ hybrid.date__p }}"></ion-input>
        <ion-icon item-right name="ai-agenda"></ion-icon>
      </ion-item>
      
      <ion-item *ngIf="hybrid.hybrid__r !== undefined">
        <ion-label floating>Híbrido recomendado</ion-label>
        <ion-input disabled type="text" value="{{ hybrid.hybrid__r }}"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="hybrid.population__r !== undefined">
        <ion-label floating>População recomendada</ion-label>
        <ion-input disabled type="text" value="{{ hybrid.population__r }}"></ion-input>
      </ion-item>

      <ion-item *ngIf="hybrid.date__r !== undefined">
        <ion-label floating>Data de plantio recomendada</ion-label>
        <ion-input disabled type="text" value="{{ hybrid.date__r }}"></ion-input>
        <ion-icon item-right name="ai-agenda"></ion-icon>
      </ion-item>
    </div>
      
    </ion-card-content>
  </ion-card>
  