<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenAgenda]="true" [hiddenSearch]="true" [showBack]="true"
    [showLogo]="false"></header>
</ion-header>

<ion-content padding>
    <p class="visitEditTxt">{{ editTxt }}</p>
  <button *ngIf="!isReadOnly && (event && event.Status__c !== 'Cancelado' && (isStart || objWithError))" ion-button full
    class="visit-button" (click)="openVisit()">{{ buttonVisit }}</button>

  <ion-card>
    <ion-card-header tappable (click)="showEventHarvest = !showEventHarvest" *ngIf="!isGR">
      <div class="flex" clear>
        <label>Safra e Divisão</label>
        <ion-icon *ngIf="!showEventHarvest" name="ios-arrow-down-outline" class="arrow-header-icon"></ion-icon>
        <ion-icon *ngIf="showEventHarvest" name="ios-arrow-up-outline" class="arrow-header-icon"></ion-icon>
      </div>
    </ion-card-header>
    <ion-card-content class="line" *ngIf="showEventHarvest && !isGR">
      <ion-list>
        <ion-item class="select-floating" [class.edit-border]="checkConditionEdit('harvest')">
          <ion-label floating>Safra <span class="red">*</span></ion-label>
          <ion-select interface="popover" [(ngModel)]="event.Safra__c" [disabled]="!checkConditionEdit('harvest')">
            <div *ngFor="let safra of safras">
              <!-- <ion-option value="{{ safra.Name }}" *ngIf="safra.BR_activeMobile__c" >{{ safra.Name }}</ion-option> -->
              <ion-option value="{{ safra.Name }}"  >{{ safra.Name }}</ion-option>
            </div>
          </ion-select>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>

        <ion-item class="select-floating" [class.edit-border]="checkConditionEdit('harvest')">
          <ion-label floating>Divisão <span class="red">*</span></ion-label>
          <ion-select *ngIf="!isRC" interface="popover" [(ngModel)]="event.BR_Division__c"
            (ionChange)="divisionOption()" [disabled]="!checkConditionEdit('harvest') || isRTV || event.Status__c">
            <ion-option *ngFor="let division of BR_Division__c" value="{{ division.value }}">{{ division.label }}
            </ion-option>
          </ion-select>
          <ion-select *ngIf="isRC" interface="popover" [(ngModel)]="event.BR_Division__c" (ionChange)="divisionOption()"
            [disabled]="!checkConditionEdit('harvest') || event.Status__c">
            <ion-option *ngFor="let division of filter_Division" value="{{ division }}">{{ division }}</ion-option>
          </ion-select>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-header tappable (click)="showEventVisit = !showEventVisit">
      <div class="flex" clear>
        <label>{{ visitTitle }}</label>
        <ion-icon *ngIf="!showEventVisit" name="ios-arrow-down-outline" class="arrow-header-icon"></ion-icon>
        <ion-icon *ngIf="showEventVisit" name="ios-arrow-up-outline" class="arrow-header-icon"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content class="line" *ngIf="showEventVisit">
      <ion-list>
        <ion-item *ngIf="showIfGRWithStatus(true)">
          <ion-label floating>Assunto</ion-label>
          <ion-textarea [auto-resize-textarea]="120" rows="1" class="card-input" maxlength="240" type="text"
            [(ngModel)]="event.Subject" disabled></ion-textarea>
        </ion-item>

        <ion-item *ngIf="showIfGRWithStatus(true)">
          <ion-label floating>RTV</ion-label>
          <ion-input disabled class="card-input character-limit height-full" type="text" value="{{ rtvName }}">
          </ion-input>
        </ion-item>

        <ion-item class="select-floating" [class.edit-border]="checkConditionEdit('geral')"
          *ngIf="showIfGRWithStatus()">
          <ion-label floating>{{ visitCoaching }} <span class="red">*</span></ion-label>
          <ion-select interface="popover" [(ngModel)]="event.BR_Tipo_de_Visita__c" (ionChange)="typeChange()"
            [disabled]="!checkConditionEdit('geral')">
            <ion-option *ngFor="let type of Tipo_Visita_Filter" value="{{ type }}">{{ type }}</ion-option>
          </ion-select>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>

        <ion-item class="select-floating" [class.edit-border]="checkConditionEdit('geral')"
          *ngIf="isGR && showIfGRWithStatus()">
          <ion-label floating>Tipo <span class="red">*</span></ion-label>
          <ion-select interface="popover" [(ngModel)]="isOnline" [disabled]="!checkConditionEdit('geral')">
            <ion-option value="true">À Distância</ion-option>
            <ion-option value="false">Presencial</ion-option>
          </ion-select>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>

        <ion-item class="select-floating" *ngIf="showGenerationDemand()"
          [class.edit-border]="checkConditionEdit('geral')">
          <ion-label floating>Programa</ion-label>
          <ion-select *ngIf="event.BR_Tipo_de_Visita__c" interface="popover" (ionChange)="generationSelected()"
            [(ngModel)]="event.Tipo_de_Geracao_de_Demanda__c" [disabled]="!checkConditionEdit('geral')">
            <ion-option *ngFor="let type of filter_Geracao_de_Demanda" value="{{type}}">{{type}}</ion-option>
          </ion-select>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon"
            [class.disabled]="!checkConditionEdit('geral')" item-right></ion-icon>
        </ion-item>

        <ion-item class="datetime-floating" *ngIf="showPlantingDate()"
          [class.edit-border]="checkConditionEdit('geral')">
          <ion-label floating>Data de plantio</ion-label>
          <ion-datetime [(ngModel)]="Data_do_Plantio__c" (ionChange)="dateChange()" [min]="year-1" [max]="year+1"
            [disabled]="!checkConditionEdit('geral')" pickerFormat="DD MM YYYY" displayFormat="DD/MM/YY"></ion-datetime>
          <ion-icon name="ai-agenda" class="calendar-icon" item-right></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-header tappable (click)="showEventClient = !showEventClient" *ngIf="showIfGRWithStatus()">
      <div class="flex" clear>
        <label>{{ clientTitle }}</label>
        <ion-icon *ngIf="!showEventClient" name="ios-arrow-down-outline" class="arrow-header-icon"></ion-icon>
        <ion-icon *ngIf="showEventClient" name="ios-arrow-up-outline" class="arrow-header-icon"></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content class="line" *ngIf="showEventClient && showIfGRWithStatus() ">
      <ion-list>

        <div *ngIf="farmToVisit; else farmToVisitNone">

          <ion-item class="select-floating" [class.edit-border]="checkConditionEdit('client')" *ngIf="farmerNameToVisit">
            <ion-label floating>{{ clientTitle }}</ion-label>
            <ion-input class="card-input character-limit" type="text" value="{{farmerNameToVisit}}" readonly></ion-input>
          </ion-item>

          <ion-item class="select-floating" [class.edit-border]="checkConditionEdit('client')">
            <ion-label floating>Fazenda</ion-label>
            <ion-input class="card-input character-limit" type="text" value="{{farmNameToVisit}}" readonly></ion-input>
          </ion-item>

        </div>

        <ng-template #farmToVisitNone>

            <ion-item class="select-floating" [class.edit-border]="checkConditionEdit('client')" (click)="checkConditionEdit('client') && openEventsSearchModal()">
                <ion-label floating>{{ clientTitle }} <span class="red">*</span></ion-label>
                <ion-input *ngIf="event.Status__c" disabled class="card-input character-limit" type="text" value="{{ clientsName }}" tappable (click)="openClientsDetail()"></ion-input>
                <ion-input *ngIf="event.Status__c === null || event.Status__c === undefined" disabled class="card-input character-limit" type="text" value="{{ clientsName }}"></ion-input>
                <ion-icon name="ios-search-outline" class="search-icon" [class.disabled]="!checkConditionEdit('client')" item-right></ion-icon>
              </ion-item>
      
              <ion-item class="select-floating" *ngIf="!isChannel && farmList && farmList.length > 0" [class.edit-border]="checkConditionEdit('client')">
                <ion-label floating>Fazenda</ion-label>
                <ion-select interface="popover" class="character-limit" [(ngModel)]="farmSelected" (ionChange)="setFarm()" [disabled]="(!saveEdit && !saveNew) || !isEditMode.client">
                  <ion-option *ngFor="let type of farmList; let i = index" value="{{ i }}">{{ type[1] }}</ion-option>
                </ion-select>
                <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" [class.disabled]="!checkConditionEdit('client')" item-right></ion-icon>
              </ion-item>

        </ng-template>



        <ion-item class="select-floating" *ngIf="clientsName && cropOption && contactList.length>0"
          [class.edit-border]="checkConditionEdit('client')">
          <ion-label floating>Contato</ion-label>
          <ion-select interface="popover" class="character-limit" [(ngModel)]="contactSelected"
            (ionChange)="setContact()" [disabled]="(!saveEdit && !saveNew) || !isEditMode.client">
            <ion-option *ngFor="let type of contactList; let i = index" value="{{ i }}">{{ type[1] + ' ' + type[2] }}
            </ion-option>
          </ion-select>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon"
            [class.disabled]="!checkConditionEdit('client')" item-right></ion-icon>
        </ion-item>

        <div *ngIf="willOpenReport() && !this.isGR">
          <ion-item *ngIf="BR_EmailContactList__c" class="input-floating manager-emails-input">
            <ion-label floating>E-mail da Jornada</ion-label>
            <ion-input disabled type="text" value="{{ BR_EmailContactList__c }}"></ion-input>
          </ion-item>
          <button ion-button outline class="emails-button" (click)="openManagerEmailsModal()"
            [disabled]="!enableToAction() || !clientsName">INCLUIR E-MAIL DA JORNADA</button>
          <ion-label *ngIf="!clientsName" class="err-input fix-margin-bottom">Adicione um agricultor para gerenciar
            e-mails.</ion-label>
        </div>

      </ion-list>
    </ion-card-content>

    <ion-card-header>
      <div class="flex" clear>
        <label class="character-limit">{{ durationTitle }}</label>
        <button ion-button clear color="gray-bg" class="edit-icon right" *ngIf="!isReadOnly && !isEditMode.duration"
          (click)="editDuration($event)">
          <p>editar</p>
        </button>
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item class="select-floating" [class.edit-border]="checkConditionEdit('duration')" *ngIf="isGR">
          <ion-label floating>Local</ion-label>
          <ion-input class="card-input character-limit" type="text" [(ngModel)]="event.Location"
            [disabled]="!checkConditionEdit('duration')" maxlength="255"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>O dia todo</ion-label>
          <ion-toggle mode="md" [(ngModel)]="event.IsAllDayEvent" (ionChange)="isAllDayEvent()"
            [disabled]="!checkConditionEdit('duration')"></ion-toggle>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="datetime-floating"
                [class.edit-border]="checkConditionEdit('duration') && !this.event.IsAllDayEvent">
                <ion-label floating>Início <span class="red">*</span>
                </ion-label>
                <ion-datetime [(ngModel)]="StartDateTime" (ionChange)="updateEndDate()"
                  [disabled]="!checkConditionEdit('duration') || this.event.IsAllDayEvent" [min]="year-1" [max]="year+1"
                  pickerFormat="DD MM YYYY" displayFormat="DD/MM/YY"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="datetime-floating"
                [class.edit-border]="checkConditionEdit('duration') && !this.event.IsAllDayEvent">
                <ion-label floating>&nbsp;</ion-label>
                <ion-datetime [(ngModel)]="StartDateTime"
                  [disabled]="!checkConditionEdit('duration') || this.event.IsAllDayEvent" [min]="year"
                  pickerFormat="HH:mm" displayFormat="HH:mm" text-right></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="datetime-floating"
                [class.edit-border]="checkConditionEdit('duration') && !this.event.IsAllDayEvent">
                <ion-label floating>Fim <span class="red">*</span></ion-label>
                <ion-datetime [(ngModel)]="EndDateTime"
                  [disabled]="!checkConditionEdit('duration') || this.event.IsAllDayEvent" [min]="year-1" [max]="year+1"
                  pickerFormat="DD MM YYYY" displayFormat="DD/MM/YY"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="datetime-floating"
                [class.edit-border]="checkConditionEdit('duration') && !this.event.IsAllDayEvent">
                <ion-label floating>&nbsp;</ion-label>
                <ion-datetime [(ngModel)]="EndDateTime"
                  [disabled]="!checkConditionEdit('duration') || this.event.IsAllDayEvent" [min]="year"
                  pickerFormat="HH:mm" displayFormat="HH:mm" text-right></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>

    <ion-card-content *ngIf="!isGR">
      <ion-list>
        <ion-item class="select-floating" [class.edit-border]="checkConditionEdit('duration')">
          <ion-label floating>Lembrete</ion-label>
          <ion-select interface="popover" [(ngModel)]="event.Lembrete__c" [disabled]="!checkConditionEdit('duration')">
            <ion-option *ngFor="let remember of Lembrete__c" value="{{ remember.value }}">{{ remember.label }}
            </ion-option>
          </ion-select>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <br>
  </ion-card>

  <div class="edit-buttons">
    <button ion-button full class="danger-button" *ngIf="!isReadOnly && !checkValuesObj(isEditMode) && isCancel"
      (click)="promptCancelEvent()">Cancelar evento</button>
    <button ion-button full class="save-button"
      *ngIf="!isReadOnly && checkValuesObj(isEditMode) && (isStart && isCancel) || (!isStart && !isCancel)"
      [disabled]="isSaveDisabled()" (click)="promptSaveEvent()">SALVAR</button>

      <button ion-button full class="save-button"
      *ngIf="editEventTemp"
      [disabled]="isSaveDisabled()" (click)="promptSaveEvent()">SALVAR</button>

    <!-- <button ion-button full class="save-button" *ngIf="!isReadOnly && checkValuesObj(isEditMode) && (isStart && isCancel) || (!isStart && !isCancel)"
  (click)="promptSaveEvent()">SALVAR</button> -->
  </div>

</ion-content>