page-events {
  .item-select.edit-border ion-label {
    margin: 0 !important;
  }
  ion-card {
    margin-top: 0px;
  }
  ion-card-header {
    padding: 22px 10px 16px 4px !important;
  }
  ion-card-content {
    padding: 12px 16px 0 14px !important;
    .line {
      padding-bottom: 0 !important;
    }
  }
  ion-card-content.line {
    border-bottom: solid 2px color($colors, gray-bg) !important;
  }
  ion-item div.item-inner {
    padding-left: 6px !important;
    padding-right: 2px !important;
  }
  ion-item.edit-border{
    div.item-inner{
      border-bottom: solid 1px color($colors, gray-soft) !important;
    }
  }
  ion-checkbox {
    margin-right: 6px !important;
    .checkbox-icon {
      width: 16px !important;
      height: 16px !important;
    }
  }
  ion-input,
  ion-col ion-item,
  ion-select,
  ion-datetime {
    color: color($colors, gray-ambient) !important;
    font-family: "Roboto-Regular";
    font-size: 16px !important;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }
  .manager-emails-input {
    margin-bottom: 26px;
    input {
      opacity: 1 !important;
      margin-bottom: 0 !important;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .list>.item-block:first-child {
    border-top: 0 !important;
  }
  .visit-button {
    margin-bottom: 30px;
    .button-ios {
      margin-top: 0;
    }
  }
  .edit-buttons {
    margin: 15px 0 0 0 !important;
    width: 100% !important;
  }
  .visit-button,
  .save-button,
  .cancel-button,
  .cancel-event,
  .emails-button {
    width: 100% !important;
    height: 48px !important;
    margin-left: 0;
    margin-right: 0;
    border-radius: 4px !important;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  .save-button,
  .cancel-button,
  .cancel-event {
    margin-top: 24px !important;
    margin-bottom: 10px !important;
  }
  .visit-button,
  .save-button {
    line-height: 1.14;
    background-color: color($colors, secondary-strong-olive);
  }
  .emails-button {
    border-color: color($colors, gray-page) !important;
    border-width: 2px !important;
    margin-bottom: 18px;
  }
  .cancel-event {
    margin-top: 20px;
    line-height: 2.86;
    border-radius: 4px;
    border: solid 2px color($colors, gray-page);
    color: color($colors, gray-ambient);
  }
  .label[stacked],
  .label[floating] {
    font-family: "Roboto-Regular";
    font-size: 16px;
  }
  .icon-input {
    margin: 22px 0 0 0 !important;
  }
  .search-icon {
    margin-right: 12px !important;
  }
  .calendar-icon,
  .calendar-icon:before {
    padding-right: 4px !important;
  }
  .edit-icon {
    margin: -8px 0 0 0;
    padding: 0;
    p {
      color: color($colors, gray-page);
    }
  }
  .button-md.edit-icon {
    margin-top: -5px !important;
  } // espaçamento top e bottom (ion-select, ion-datetime, ion-input)
  .select-icon {
    display: none;
  }
  ion-item.select-floating,
  ion-item.datetime-floating,
  ion-item.input-floating {
    margin-top: 6px !important;
    margin-bottom: 22px !important;
  }
  ion-item.select-floating .item-inner,
  ion-item.datetime-floating .item-inner,
  ion-item.input-floating .item-inner {
    height: 50px;
    padding-bottom: 4px !important;
  }
  ion-item.select-floating ion-label[floating],
  ion-item.datetime-floating ion-label[floating],
  ion-item.input-floating ion-label[floating] {
    margin-top: 0 !important;
  }
  ion-item.select-floating ion-select,
  ion-item.datetime-floating ion-datetime,
  ion-item.input-floating ion-input {
    padding-bottom: 0 !important;
  }
  ion-item.datetime-floating ion-datetime.datetime-md {
    padding: 0 !important;
  }
  ion-grid,
  ion-grid ion-col ion-item ion-datetime {
    margin: 0 !important;
    padding: 0 !important;
  }
  ion-grid ion-col ion-item ion-datetime[text-right] {
    margin-right: 6px !important;
  }
  [class*="disabled"] * {
    ion-label,
    ion-input,
    ion-col ion-item,
    ion-select,
    ion-datetime {
      background-color: rgba(0, 0, 0, 0) !important;
    }
    input,
    ion-label,
    ion-select,
    ion-datetime,
    ion-toggle,
    ion-checkbox {
      opacity: 1 !important;
    }
    input {
      color: color($colors, gray-ambient) !important;
      border-bottom: none !important;
    } // .search-icon,
    .disabled,
    .arrow-down-icon,
    .calendar-icon:before {
      color: color($colors, gray-page) !important;
    }
  }

  .toast {
    background-color: color($colors, secondary-strong-olive);
    color: color($colors, white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    text-align: center;
  }

  .item-label-floating .text-input-md{
    margin:0 !important;
  }
  .height-full{
    height: 100% !important;
  }
}
