<ion-content class="modal" padding>
  <ion-card>
    <ion-card-header class="modal-header">
      <div class="filter-header">
        <div>
          <ion-icon class="close" name="close" (click)="dismiss()"></ion-icon>
        </div>
        <ion-item text-center class="title">Híbrido - {{ hybridVisit.BR_HybridName__c }}</ion-item>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input-styleg date">
        <ion-label class="label-floating-style" floating>Data de plantio<span class="red"> *</span></ion-label>
        <ion-datetime [disabled]="isReadOnly" [(ngModel)]="hybridVisit.BR_PlantationDate__c" pickerFormat="DD MM YYYY" displayFormat="DD/MM/YY"></ion-datetime>
        <ion-icon name="ai-agenda" class="calendar-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-styleg date">
        <ion-label class="label-floating-style" floating>Data da colheita<span class="red"> *</span></ion-label>
        <ion-datetime [disabled]="isReadOnly" [(ngModel)]="hybridVisit.BR_HarvestDate__c" pickerFormat="DD MM YYYY" displayFormat="DD/MM/YY"></ion-datetime>
        <ion-icon name="ai-agenda" class="calendar-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-grey">
        <ion-label class="label-input-style">Área Colhida (ha)<span class="red"> *</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="6" mask="######" [(ngModel)]="hybridVisit.Area_Colhida__c" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="plantingArea && hybridVisit.Area_Colhida__c && !checkAreaColhida()" class="err-input">Valor tem que ser igual ou menor do que {{ plantingArea }}</ion-label>

      <ion-item class="input-grey" *ngIf="!isSilage">
        <ion-label class="label-input-style lbl-max-width" text-wrap>Produtividade
          <br>Líquida (Kg/ha)<span class="red"> *</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="7" mask="#######" [(ngModel)]="hybridVisit.PRODUTIVIDADE_LIQ_13__c"
          placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="!isSilage && hybridVisit.PRODUTIVIDADE_LIQ_13__c && !checkLiquidProductivity()" class="err-input">Valor tem que ser entre 1000 e 8500.</ion-label>

      <ion-item class="input-grey">
        <ion-label class="label-input-style">% Acamamento<span class="red"> *</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.BR_Lodging__c" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.BR_Lodging__c && !checkLodging()" class="err-input">Valor tem que ser entre 0 e 100.</ion-label>

      <ion-item class="input-grey">
        <ion-label class="label-input-style">Umidade (%)<span class="red"> *</span></ion-label>
        <ion-input [disabled]="isReadOnly" type="tel" maxlength="3" mask="###" [(ngModel)]="hybridVisit.Umidade__c" placeholder="Digite"></ion-input>
      </ion-item>
      <ion-label *ngIf="hybridVisit.Umidade__c && !checkUmidade()" class="err-input">Valor tem que ser entre 5 e 45.</ion-label>

      <div class="apply-content">
        <button (click)="closeModal()" [disabled]="isReadOnly || isSaveEnable()">Cadastrar</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
