<ion-card class="form-card">
    <ion-card-header class="form-card-header" tappable (tap)="hideCard()">
      <ion-item>
        <ion-label class="card-title">Manejo de Pragas</ion-label>
        <ion-icon *ngIf="hiddenCard" name="ios-arrow-down-outline" item-right></ion-icon>
        <ion-icon *ngIf="!hiddenCard" name="ios-arrow-up-outline" item-right></ion-icon>
      </ion-item>
    </ion-card-header>

    <ion-card-content *ngIf="!hiddenCard" class="form-card-content">
      <!-- Pré-plantio -->
      <div *ngIf="info.existPlagues__pp !== undefined">
        <ion-item text-wrap>
          <ion-label>Existem pragas remanescentes da cultura anterior? <span class="red">*</span></ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.existPlagues__pp" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <ion-item *ngIf="info.whichPlague__pp !== undefined">
        <ion-label floating>Qual praga?</ion-label>
        <ion-input type="text" value="{{ info.whichPlague__pp }}" disabled></ion-input>
        <ion-icon name="md-add" item-right></ion-icon>
      </ion-item>
      
      <!-- Plantio -->
      <!-- <div *ngIf="info.visible">
        <ion-item text-wrap>
          <ion-label>Utilizou tratamento de sementes? <span class="red">*</span></ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.visible" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <div [class.line-bottom]="(i + 1) < info.plague__p.length" *ngFor="let p of info.plague__p; let i = index">
        <ion-item>
          <ion-label floating>Qual produto foi utilizado?</ion-label>
          <ion-input type="text" value="{{ p.whichProduct__p }}" disabled></ion-input>
        </ion-item>
      </div> -->
        
      <div *ngIf="info.refugeArea__p !== undefined">
        <ion-item text-wrap>
          <ion-label>Plantou áreas de refúgio?
        </ion-label>
        </ion-item>
        <ion-item class="toggle">
          <ion-label item-start>Não</ion-label>
          <ion-toggle mode="md" [(ngModel)]="info.refugeArea__p" disabled item-start></ion-toggle>
          <ion-label item-start>Sim</ion-label>
        </ion-item>
      </div>

      <ion-item *ngIf="info.percRefugeArea__p !== undefined">
        <ion-label floating>Percentual de áreas áreas de refúgio</ion-label>
        <ion-input type="text" value="{{ info.percRefugeArea__p }}" disabled></ion-input>
      </ion-item>

      <!-- Germinação e Emergência -->
      <!-- Desenvolvimento Vegetativo -->
      <!-- Desenvolvimento Reprodutivo -->
      <div [class.line-bottom]="(i + 1) < info.plague__ge_dv_dr.length" *ngFor="let p of info.plague__ge_dv_dr; let i = index">
        <ion-item>
          <ion-label floating>Qual praga foi encontrada?</ion-label>
          <ion-input type="text" value="{{ p.whichFound__ge_dv_dr }}" disabled></ion-input>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label floating>Qual nível de infestação?</ion-label>
          <ion-input type="text" value="{{ p.levelInfestation__ge_dv_dr }}" disabled></ion-input>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Qual produto foi utilizado</ion-label>
          <ion-input type="text" value="{{ p.whichProduct__ge_dv_dr }}" disabled></ion-input>
          <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
        </ion-item>
      </div>

    </ion-card-content>
  </ion-card>  
