report-text {

  ion-card, ion-card-header, ion-card-content{
    background-color: color($colors, gray-light) !important;
  }

  ion-card-header{
    border-bottom: 1px solid #fff !important;
  }

}
