<ion-card class="form-card" *ngFor="let i of info">
  <ion-card-header class="form-card-header" *ngIf="i.title" tappable (tap)="hideCard()">
    <ion-item>
      <ion-label class="card-title">{{ i.title }}</ion-label>
      <ion-icon *ngIf="hiddenCard" item-right name="ios-arrow-down-outline"></ion-icon>
      <ion-icon *ngIf="!hiddenCard" item-right name="ios-arrow-up-outline"></ion-icon>
    </ion-item>
  </ion-card-header>

  <ion-card-content *ngIf="!hiddenCard" class="form-card-content">
    <ion-label class="text-content" *ngFor="let body of i.body">
      <ion-label *ngIf="body.subtitle" text-wrap class="card-subtitle">{{ body.subtitle }}</ion-label>
      <ion-label *ngIf="body.text" text-wrap class="card-body">{{ body.text }}</ion-label>
    </ion-label>
  </ion-card-content>
</ion-card>
