<ion-content padding class="modal modal-content">
  <ion-card>
    <ion-card-header class="title">
      <ion-item>
        <ion-icon name="md-close" item-left (click)="closeModal()"></ion-icon>
        <ion-item text-center class="title">Planta Daninha</ion-item>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngIf="showBR_Phase__c" class="input-style input-floating" (click)="!isReadOnly && openPhaseModal()">
        <ion-label floating>Fase <span class="red">*</span></ion-label>
        <ion-input disabled class="character-limit" [(ngModel)]="weedHandling.BR_Phase__c"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style select-floating">
        <ion-label floating>Tipo de planta daninha <span class="red">*</span></ion-label>
        <ion-select class="character-limit" interface="popover" [(ngModel)]="weedHandling.BR_WeedType__c" [disabled]="isReadOnly">
          <ion-option class="character-limit" *ngFor="let item of type" value="{{ item.value }}">{{ item.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item *ngIf="showBR_LevelOfInfestation__c" class="input-style select-floating">
        <ion-label floating>Nível de infestação <span class="red">*</span></ion-label>
        <ion-select interface="popover" [(ngModel)]="weedHandling.BR_LevelOfInfestation__c" [disabled]="isReadOnly">
          <ion-option *ngFor="let item of level" value="{{ item.value }}">{{ item.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item *ngIf="showBR_Product__c" class="input-style select-floating" (click)="!isReadOnly && openProductModal()">
        <ion-label floating>Produto <span class="red">*</span></ion-label>
        <ion-input disabled class="character-limit" [(ngModel)]="weedHandling.BR_Product__c"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <div class="apply-content">
        <button ion-button full (click)="applyWeed()" [disabled]="isSaveDisabled() || isReadOnly">CADASTRAR</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
