<ion-content class="modal" padding>
  <ion-card>
    <ion-card-header class="modal-header">
      <div class="filter-header">
        <div>
          <ion-icon class="close" name="close" (click)="dismiss()"></ion-icon>
        </div>
          <ion-item text-center class="title">Híbrido de visitas</ion-item>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input-style select-floating" [class.padding-input]="hybridVisit.BR_HybridName__c && hybridVisit.BR_HybridName__c.length > 0" tappable (click)="!isReadOnly && openHybridModal()">
        <ion-label floating>Híbrido Plantado <span class="red">*</span></ion-label>
        <ion-input disabled class="no-border-disabled input-modal-style" value="{{ hybridVisit.BR_HybridName__c }}"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style select-floating">
        <ion-label floating>Tratamento de semente</ion-label>
          <ion-select [disabled]="isReadOnly" interface="popover" [(ngModel)]="hybridVisit.Tratamento_de_Sementes__c" (ionChange)="checkProducts()">
            <ion-option *ngFor="let treatment of seedsTreatment" value="{{treatment.value}}">{{treatment.label}}</ion-option>
          </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style select-floating" [hidden]="checkTreatment()" (click)="!isReadOnly && openProductModal()">
        <ion-label floating>Produto<span class="red"> *</span></ion-label>
        <ion-input disabled class="input-border-bottom character-limit" type="text" value="{{ hybridVisit.Produto__c }}"></ion-input>
        <ion-icon name="md-add" class="add-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style select-floating">
        <ion-label floating>Ambiente Produtivo T/Ha <span class="red"> *</span></ion-label>
        <ion-select [disabled]="isReadOnly" interface="popover" [(ngModel)]="hybridVisit.Ambiente_Produtivo_T_ha__c">
          <ion-option *ngFor="let item of iAmbienteProdutivo" value="{{item.value}}">{{item.label}}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-style select-floating">
        <ion-label floating>População (mil sementes/ha)<span class="red"> *</span></ion-label>
        <ion-input type="tel" [(ngModel)]="hybridVisit.Populacao_de_Plantio__c" maxlength="3" [textMask]="{mask: masks.numberMask, guide: false}" [disabled]="isReadOnly" only-numbers></ion-input>
      </ion-item>
      <ion-label [hidden]="(!hybridVisit.Populacao_de_Plantio__c) || checkPopulation()" class="err-input">Valor incorreto, tente um número de 40 a 120.</ion-label>

      <ion-item class="input-style select-floating">
        <ion-label floating>Área Plantada (ha)<span class="red"> *</span></ion-label>
        <ion-input [disabled]="isReadOnly" class="input-border-bottom" type="tel" only-numbers maxlength="6" [textMask]="{mask: masks.numberMask, guide: false}" [(ngModel)]="hybridVisit.Area_Plantada__c"></ion-input>
      </ion-item>
      <ion-item class="input-style select-floating">
        <ion-label class="opacity-1" floating>Data do Plantio</ion-label>
        <ion-datetime [disabled]="isReadOnly" [(ngModel)]="hybridVisit.BR_PlantationDate__c" [min]="year-1" [max]="year+1" displayFormat="DD/MM/YYYY"></ion-datetime>
        <ion-icon name="ai-agenda" class="calendar-icon" item-right></ion-icon>
      </ion-item>
      <div class="apply-content" *ngIf="!isReadOnly">
        <button (click)="closeModal()" [disabled]="savedEnable()">Cadastrar</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
