<ion-header>
  <header [hiddenFilter]="true" [hiddenSync]="true" [hiddenSearch]="true" [showBack]="true" [showLogo]="false" [hiddenAgenda]="true"></header>
</ion-header>

<ion-content padding>
  <p class="visitEditTxt">{{ editTxt }}</p>
  <ion-card>
    <ion-item *ngIf="visit.Status__c" class="status-visit status-{{ visit.Status__c.replace(' ','').replace('í','i') }}" text-center>{{ visit.Status__c }}</ion-item>

    <crop-client [event]="event"></crop-client>

    <ion-card-content>
      <ion-item class="input-style select-floating">
        <ion-label floating>Tipo de visita <span class="red">*</span></ion-label>
        <ion-select interface="popover" [(ngModel)]="visit.BR_CropClimateVisitType__c" [disabled]="isReadOnly">
          <ion-option *ngFor="let type of typeVisit | orderBy: 'label'" value="{{ type.value }}">{{ type.label }}</ion-option>
        </ion-select>
        <ion-icon name="ios-arrow-down-outline" class="arrow-down-icon" item-right></ion-icon>
      </ion-item>
    </ion-card-content>

    <div class="geolocation">
      <geolocation [location]="geolocation" [isReadOnly]="isReadOnly" (onLocationChange)="updateGeolocation($event);"></geolocation>
    </div>

    <ion-card-content class="container-obs">
      <ion-item class="input-style">
        <ion-label floating>Observações</ion-label>
        <ion-textarea [auto-resize-textarea]="120" rows="1" class="card-input" maxlength="240" type="text" [(ngModel)]="visit.Observacao__c" [disabled]="isReadOnly"></ion-textarea>
      </ion-item>

      <page-home-attachment [isReadOnly]="isReadOnly" [visit]="visit"></page-home-attachment>
    </ion-card-content>

  </ion-card>

  <div class="container-footer" *ngIf="!isReadOnly">
    <button ion-button class="btn-footer" outline [disabled]="isReadOnly" (click)="cancelVisit()">CANCELAR</button>
    <button *ngIf="!editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isSaveDisabled() || isReadOnly" (click)="completeVisit()">CONCLUIR</button>
    <button *ngIf="editStatus" ion-button class="btn-footer right" type="submit" [disabled]="isSaveDisabled() || isReadOnly" (click)="completeVisit()">SALVAR</button>
  </div>

</ion-content>
